<link rel="stylesheet" href="{{url_for('GEN_PDF_bp.static', filename = 'css/generate_pdf_view.css')}}">
<div class="show__all__booking__room">
    <table>
        <tr>
            <th>No</th>
            <th>ID User</th>
            <th>ID Room</th>
            <th>Time Booking</th>
            <th>Time Start</th>
            <th>Default Service</th>
            <th>Option Service</th>
            <th>Minute Rent</th>
            <th>Status</th>
            <th>Total Price</th>
            <th>Option Service Price</th>
            <th>Code Booking</th>
            <th>Billing Option</th>
        </tr>
        {% for each_booking in get_all_booking_room %}
            <tr>
                <td>{{loop.index}}</td>
                <td>{{each_booking.id_users}}</td>
                <td>{{each_booking.id_all_room}}</td>
                <td>{{each_booking.time_booking}}</td>
                <td>{{each_booking.time_start}}</td>
                <td>
                    {% for each_default_service in each_booking.default_service %}
                        <p>{{each_default_service}}</p>
                    {% endfor %}
                </td>
                <td>
                    {% for each_option_service in each_booking.option_service %}
                        <p>{{each_option_service    }}</p>
                    {% endfor %}
                </td>
                <td>{{each_booking.minute_rent}}</td>
                <td>{{each_booking.status}}</td>
                <td>{{each_booking.total_price}}</td>
                <td>{{each_booking.option_service_price}}</td>
                <td>{{each_booking.code_booking}}</td>
                <td>{{each_booking.billing_option}}</td>
            </tr>
        {% endfor %}
    </table>
</div>