<link rel="stylesheet" href="{{url_for('GEN_PDF_bp.static', filename = 'css/generate_pdf_view.css')}}">

<div class="show__all__booking__room">
    <table>
        <tr>
            <th>No</th>
            <th>ID User</th>
            <th>ID Room</th>
            <th>Time Booking</th>
            <th>Time Start</th>
            <th>Default Service</th>
            <th>Option Service</th>
            <th>Minute Rent</th>
            <th>Status</th>
            <th>Total Price</th>
            <th>Option Service Price</th>
            <th>Code Booking</th>
            <th>Billing Option</th>
        </tr>
        {% for each_booking in get_all_booking %}
            <tr>
                <td>{{loop.index}}</td>
                <td>{{each_booking.id_users}}</td>
                <td>{{each_booking.id_all_room}}</td>
                <td>{{each_booking.time_booking}}</td>
            </tr>
        {% endfor %}
    </table>
</div>