{% extends 'homepage_admin.html' %}

{% block content_homepage_admin %}
    <div class="show__all__user">
        <table>
            <caption>All Users</caption>
        </table>
    </div>
{% endblock %}