{% extends 'homepage_admin.html' %}

{% block content_homepage_admin %}
    <link rel="stylesheet" href="{{url_for('ADMIN_bp.static', filename = 'css/admin_show_all_user.css')}}">
    <div class="show__all__user">
        <table>
            <caption>All Users</caption>
        </table>
    </div>
{% endblock %}