{% extends 'homepage_admin.html' %}

{% block content_homepage_admin %}
    <link rel="stylesheet" href="{{url_for('ADMIN_bp.static', filename = 'css/admin_show_all_user.css')}}">
    <div class="show__all__user">
        <table>
            <caption>All Users</caption>
            <tr>
                <th>No</th>
                <th>Full Name</th>
                <th>Telephone</th>
                <th>Gmail</th>
                <th>Gender</th>
                <th>Delete Each User</th>
                <th>Edit Each User</th>
            </tr>
            {% for each_users in get_all_user %}
                <tr>
                    <td>{{loop.index}}</td>
                    <td>{{each_users.full_name}}</td>
                    <td>{{each_users.tel}}</td>
                    <td>{{each_users.gmail}}</td>
                    <td>{{each_users.gender}}</td>
                    <td>
                        <button class="btn__table__all__user" type="button">Delete</button>
                    </td>
                    <td>
                        <button class="btn__table__all__user" type="button">Edit</button>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}