{% extends 'homepage_admin.html' %}

{% block content_homepage_admin %}
    <link rel="stylesheet" href="{{url_for('ADMIN_bp.static', filename = 'css/admin_show_all_user.css')}}">
    <div class="show__all__user">
        <table>
            <caption>All Users</caption>
            <tr>
                <th>No</th>
                <th>Full Name</th>
                <th>Telephone</th>
                <th>Gmail</th>
                <th>Gender</th>
                <th>
                    <button type="button">Delete</button>
                </th>
                <th>
                    <button type="button">Edit</button>
                </th>
            </tr>
        </table>
    </div>
{% endblock %}