{% extends 'homepage_admin.html' %}

{% block content_homepage_admin %}
    <div class="edit__user__by__id">
        <table>
            <caption>Edit User {{get_user_by_id.full_name}}</caption>
            <tr>
                <th>Password</th>
                <th>Re-password</th>
                <th>Telephone</th>
                <th>Gmail</th>
        </table>
    </div>
{% endblock %}