{% extends 'homepage_admin.html' %}

{% block content_homepage_admin %}
    <form method="post">
        <div class="edit__user__by__id">
            <table>
                <caption>Edit User {{get_user_by_id.full_name}}</caption>
                <tr>
                    <th>Password</th>
                    <th>Re-password</th>
                    <th>Telephone</th>
                    <th>Gmail</th>
                </tr>
                <tr>
                    <td>
                        <input type="password" name="input_password_first">
                    </td>
                    <td>
                        <input type="password" name="input_password_second">
                    </td>
                    <td>
                        <input type="tel" name="input_tel_user">
                    </td>
                    <td>
                        <input type="gmail" name="input_gmail_user">
                    </td>
                </tr>
            </table>
        </div>
        <input type='submit' name="submit_edit_user">
    </form>
{% endblock %}