{% extends 'homepage_admin.html' %}

{% block content_homepage_admin %}
    <link rel="stylesheet" href="{{url_for('ADMIN_bp.static', filename = 'css/edit_editor_name.css')}}">
    <form method="post">
        <div class="edit__user__by__id">
            <table>
                <caption>Edit Editor {{get_editor_by_id.full_name}}</caption>
                <tr>
                    <th>Telephone</th>
                    <th>Gmail</th>
                </tr>
                <tr>
                    <td>
                        <input type="tel" name="input_tel_editor">
                    </td>
                    <td>
                        <input type="text" name="input_gmail_editor">
                    </td>
                </tr>
            </table>
        </div>
        <input type='submit' name="submit_edit_editor">
    </form>
{% endblock %}