<link rel="stylesheet" href="{{url_for('ADMIN_bp.static', filename = 'css/homepage_admin.css')}}">
<header>
    <div class="header__inner">
        <div class="header__inner__img">
            <img src="{{url_for('')}}" alt="image">
        </div>
        <div class="header__inner__option">

        </div>
        <div class="header__inner__log__out">

        </div>
    </div>
</header>