{% extends 'homepage_admin.html' %}

{% block content_homepage_admin %}
    <div class="export__homepage__static__admin">
        <a href="#" class="link__export__static">Export To CSV</a>
        <a href="#" class="link__export__static">Export to PDF</a>
    </div>
{% endblock %}