{% extends 'homepage_admin.html' %}

{% block content_homepage_admin %}
    <div class="export__homepage__static__admin">
        <a>Export To CSV</a>
        <a>Export to PDF</a>
    </div>
{% endblock %}