<link rel="stylesheet" href="{{url_for('ADMIN_bp.static', filename = 'css/homepage_admin.css')}}">
<header>
    <div class="header__inner">
        <div class="header__inner__img">
            <a href="{{url_for('ADMIN_bp.homepage_admin')}}">
                <img src="{{url_for('ADMIN_bp.static', filename = 'images/Logo-black.png')}}" alt="image-header">
            </a>
        </div>
        <div class="header__inner__option">
            <a href="{{url_for('ADMIN_bp.show_all_users',current_page = 1)}}" class="header__inner__link">Users</a>
            <a href="{{url_for('ADMIN_bp.show_all_editor',current_page_url = 1)}}" class="header__inner__link">Editor</a>
            <a href="#" class="header__inner__link">Static</a>
        </div>
        <div class="header__inner__log__out">
            <a href="{{url_for('ADMIN_bp.log_out_admin')}}" class="header__inner__link">Log out</a>
        </div>
    </div>
</header>
{% block content_homepage_admin %}

{% endblock %}