{% extends 'homepage_admin.html' %}

{% block content_homepage_admin %}
    <link rel="stylesheet" href="{{url_for('ADMIN_bp.static', filename = 'css/homepage_static_admin.css')}}">
    <div class="export__homepage__static__admin">
        <a href="{{url_for('GEN_XLSX_bp.generate_xlsx', current_page_url = 1)}}" class="link__export__static">Export To CSV</a>
        <a href="{{url_for('GEN_PDF_bp.generate_pdf', current_page_url = 1)}}" class="link__export__static">Export to PDF</a>
    </div>
    {{base64_img_bar_chart_count_status_booking_room}}
{% endblock %}