<link rel="stylesheet" href="{{url_for('ADMIN_bp.static', filename = 'css/homepage_admin.css')}}">
<header>
    <div class="header__inner">
        <div class="header__inner__img">
            <a href="{{url_for('ADMIN_bp.homepage_admin')}}"></a>
            <img src="{{url_for('ADMIN_bp.static', filename = 'images/Logo-black.png')}}" alt="image-header">
        </div>
        <div class="header__inner__option">
            <a href="#" class="header__inner__link">Users</a>
            <a href="#" class="header__inner__link">Editor</a>
            <a href="#" class="header__inner__link">Static</a>
        </div>
        <div class="header__inner__log__out">
            <a href="#" class="header__inner__link">Log out</a>
        </div>
    </div>
</header>