{% extends 'homepage_admin.html' %}

{% block content_homepage_admin %}
    <link rel="stylesheet" href="{{url_for('ADMIN_bp.static', filename = 'css/show_all_editor.css')}}">
    <script src="{{url_for('ADMIN_bp.static', filename = 'javascript/show_all_editor.js')}}"></script>

    <div class="show__all__user">
        {% if msg_del_user_by_id_success is defined %}
            <div class="msg__del__user__id__success">
                <p>{{msg_del_user_by_id_success}}</p>
            </div>
        {% endif %}
        {% if msg_del_user_by_id_fail is defined %}
            <div class="msg__del__user__id__fail">
                <p>{{msg_del_user_by_id_fail}}</p>
            </div>
        {% endif %}
        {% if msg_edit_user_by_id_success is defined %}
            <div class="msg__edit__user__id__success">
                <p>{{msg_edit_user_by_id_success}}</p>
            </div>
        {% endif %}
        {% if msg_edit_user_by_id_fail is defined %}
            <div class="msg__edit__user__id__fail">
                <p>{{msg_edit_user_by_id_fail}}</p>
            </div>
        {% endif %}
        <table>
            <caption>All Users</caption>
            <tr>
                <th>No</th>
                <th>Full Name</th>
                <th>Telephone</th>
                <th>Gmail</th>
                <th>Gender</th>
                <th>Status</th>
                <th>Delete Each User</th>
                <th>Edit Each User</th>
            </tr>
            {% for each_users in get_all_user %}
                <tr>
                    <td>{{loop.index}}</td>
                    <td>{{each_users.full_name}}</td>
                    <td>{{each_users.tel}}</td>
                    <td>{{each_users.gmail}}</td>
                    <td>{{each_users.gender}}</td>
                    <td>{{each_users.status}}</td>
                    <td>
                        <button class="btn__table__all__user" onclick="confirm_del_user('{{each_users.id}}')" type="button">Delete</button>
                    </td>
                    <td>
                        <button class="btn__table__all__user" onclick="confirm_edit_user('{{each_users.id}}')" type="button">Edit</button>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <div hidden>
        <form method="post">
            <input type="text" name="value_delete_user" class="value__delete__user">
            <input type="text" name="value_edit_user" class="value__edit__user">

            <input type="submit" name="submit_delete_user" class="submit__delete__user">
            <input type="submit" name="submit_edit_user" class="submit__edit__user">
        </form>
    </div>
{% endblock %}