* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
}

:root {
    --first-color : #000000;
    --second-color : #3D0000;
    --third-color : #950101;
    --fourth-color : #FF0000;
}

.login__page {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #212121;
}

.login__page__inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 25px 45px;
    background-color: #171717;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    transition: transform .4s ease-in-out;
}

.login__page__inner:hover {
    transform: scale(1.05) translate(-50%, -50%);
    border: 2px solid black;
}

#login__title {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 50px;
    color:white;
    font-size: 30px;
}

.login__input {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

input[type='text'], input[type='password'] {
    margin-bottom: 15px;
    border: none;
    outline: none;
    width: 100%;
    border-radius: 15px;
    padding: 15px;
}

.login__btn {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: 0 auto;
}

input[type='submit'] {
    border: none;
    outline: none;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: #252525;
    color:white;
}

.link__sign__up__page {
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: #252525;
    color:white;
}

input[type='submit']:hover, .link__sign__up__page:hover {
    background-color: black;
    transition: 1s ease-in-out;
    outline: 1px solid white;
}

.link__to__forgot__password {
    text-decoration: none;
    width: 85%;
    margin: 0 auto;
    color: white;
    padding: 10px 27px;
    background-color: #252525;
    border-radius: 5px;
}

.link__to__forgot__password:hover {
    background-color: red;
    transition: 1s ease-in-out;
    outline: 1px solid white;
}
.forgot__password__part {
    text-align: center;
    margin-top: 15px;
}

.option__link__support {
    position: absolute;
    bottom: 5px;
    right: 5px;
}