* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
}

:root {
    --first-color : #000000;
    --second-color : #3D0000;
    --third-color : #950101;
    --fourth-color : #FF0000;
}

.login__page {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #212121;
}

.login__page__inner {

}

form {
    display: flex;
    flex-direction: column;
    transition: .4s ease-in-out;
}

form:hover {
    transform: scale(1.05);
}