* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
}

:root {
    --first-color : #000000;
    --second-color : #3D0000;
    --third-color : #950101;
    --fourth-color : #FF0000;
}

.login__page {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #212121;
}

.login__page__inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 25px 45px;
    background-color: #171717;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
}

.login__page__inner:hover {
    transform: scale(1.05) translate(-50%, -50%);
    transition: .4s ease-in-out;
    border: 2px solid black;
}

#login__title {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 50px;
    color:white;
    font-size: 30px;
}

.login__input {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

input[type='text'] {
    margin-bottom: 15px;
    background-color: black;
    border: none;
    outline: none;
    width: 100%;
    color: white;
    border-radius: 15px;
}