* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
}

.login__page {
    position: relative;
    width: 100%;
    height: 100%;
}

.login__page__inner {
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
}