<link rel="stylesheet" href="{{url_for('Login_bp.static', filename = 'css/login_account.css')}}">
<div class="login__page">
    <div class="login__page__inner">
        <form method="post">
            <p id="login__title">Login</p>
            <div class="login__input">
                <input type="text" name="username_login" placeholder="Username">
                <input type="password" name="password_login" placeholder="Password">
            </div>
            <div class="login__btn">
                <input type="submit" name="submit_login" value="Login">
                <a href="#" class="link__sign__up__page">Sign up</a>
            </div>
            <a href="#">Forgot Password</a>
        </form>
    </div>
</div>