<link rel="stylesheet" href="{{url_for('Login_bp.static', filename = 'css/login_account.css')}}">
<div class="login__page">
    <div class="login__page__inner">
        <form method="post">
            <p id="login__title">Đăng nhập</p>
            <div class="login__input">
                <input type="text" name="username_login" placeholder="Tên đăng nhập">
                <input type="password" name="password_login" placeholder="Mật khẩu">
            </div>
            <div class="login__btn">
                <input type="submit" name="submit_login" value="Đăng nhập">
                <a href="{{url_for('SU_bp.sign_up')}}" class="link__sign__up__page">Đăng ký</a>
            </div>
            <div class="forgot__password__part">
                <a href="#" class="link__to__forgot__password">Quên mật khẩu</a>
            </div>
        </form>
    </div>
    <div class="option__link__support">
        <a href="{{url_for('HP_bp.homepage_page')}}">Trang chủ</a>
        <a href="#">Giúp đỡ</a>
        <p>Phiên bản 1.0</p>
    </div>
</div>