<link rel="stylesheet" href="{{url_for('USER_bp.static', filename = 'css/base_user_page.css')}}">
<header>
    <button><<</button>
    <img src="{{url_for('USER_bp.static', filename = 'images/Logo-red.png')}}" id="logo__header__img" alt="logo image">
</header>