<link rel="stylesheet" href="{{url_for('USER_bp.static', filename = 'css/base_user_page.css')}}">
<script src="{{url_for('USER_bp.static', filename = 'javascript/base_user_page.js')}}"></script>
<header>
    <div class="each__header__inner">
        <button id="btn__header__expand__option"><<<</button>
        <img src="{{url_for('USER_bp.static', filename = 'images/Logo-red.png')}}" id="logo__header__img" alt="logo image">
    </div>
    <div class="each__header__inner header__search">
        <input type="text" name="header__user__search" id="input__header__search" placeholder="Tìm Kiếm">
        <input type="submit" name="submit__header__user__search" id="submit__header__user__search" value="Search">
    </div>
    <div>
        <img src="{{url_for('USER_bp.static', filename = 'images/avatar-account.png')}}" id="avatar__account__img" alt="avatar image">
    </div>
</header>
<div class="content__user__page">
    <div class="left__content">
        <div class="option__left__content active__left__content__link">
            <img src="{{url_for('USER_bp.static', filename = 'images/icon-homepage.png')}}" alt="icon image" class="icon__image__left__content">
            <a href="#" class="left__content__link">Trang chủ</a>
        </div>
        <div class="option__left__content">
            <img src="{{url_for('USER_bp.static', filename = 'images/icon-room.png')}}" alt="icon image" class="icon__image__left__content">
            <a href="#" class="left__content__link">Đặt phòng</a>
        </div>
        <div class="option__left__content">
            <img src="{{url_for('USER_bp.static', filename = 'images/icon-empty.png')}}" alt="icon image" class="icon__image__left__content">
            <a href="#" class="left__content__link">Phòng đang trống</a>
        </div>
        <div class="option__left__content">
            <img src="{{url_for('USER_bp.static', filename = 'images/icon-control.png')}}" alt="icon image" class="icon__image__left__content">
            <a href="#" class="left__content__link">Quản lý đơn thuê</a>
        </div>
    </div>
    <div class="right__content">
        <div class="tag__right__content">
            <a href="#" class="tag__link__right__content active__tag__right__content">Homepage</a>
            <a href="#" class="tag__link__right__content unactive__tag__right__content">Small</a>
            <a href="#" class="tag__link__right__content unactive__tag__right__content">Medium</a>
            <a href="#" class="tag__link__right__content unactive__tag__right__content">Big</a>
            <a href="#" class="tag__link__right__content unactive__tag__right__content">Ha Noi Capital</a>
            <a href="#" class="tag__link__right__content unactive__tag__right__content">Ho Chi Minh City</a>
            <a href="#" class="tag__link__right__content unactive__tag__right__content">Da Nang City</a>
        </div>
        <div class="all__room__display">
            <div>
                <div class="each__room__display">
                    <div class="blank__image__each__display">
                    </div>
                    <p class="name__each__room__display">Room 1</p>
                    <div class="addr__each__room">
                        <p>Xã Xuân Đông, Huyện Cẩm Mỹ, Tỉnh Đồng Nai</p>
                        <p>5 - 10 người</p>
                        <p>Loại nhỏ</p>
                        <p>Gía thuê ( cơ bản ) : 1 triệu </p>
                    </div>
                </div>
                <div class="each__room__display">
                    <div class="blank__image__each__display">
                    </div>
                    <p class="name__each__room__display">Room 1</p>
                    <div class="addr__each__room">
                        <p>Xã Xuân Đông, Huyện Cẩm Mỹ, Tỉnh Đồng Nai</p>
                        <p>5 - 10 người</p>
                        <p>Loại nhỏ</p>
                        <p>Gía thuê ( cơ bản ) : 1 triệu </p>
                    </div>
                </div>
                <div class="each__room__display">
                    <div class="blank__image__each__display">
                    </div>
                    <p class="name__each__room__display">Room 1</p>
                    <div class="addr__each__room">
                        <p>Xã Xuân Đông, Huyện Cẩm Mỹ, Tỉnh Đồng Nai</p>
                        <p>5 - 10 người</p>
                        <p>Loại nhỏ</p>
                        <p>Gía thuê ( cơ bản ) : 1 triệu </p>
                    </div>
                </div>
            </div>
            <div>
                <div class="each__room__display">
                    <div class="blank__image__each__display">
                    </div>
                    <p class="name__each__room__display">Room 1</p>
                    <div class="addr__each__room">
                        <p>Xã Xuân Đông, Huyện Cẩm Mỹ, Tỉnh Đồng Nai</p>
                        <p>5 - 10 người</p>
                        <p>Loại nhỏ</p>
                        <p>Gía thuê ( cơ bản ) : 1 triệu </p>
                    </div>
                </div>
                <div class="each__room__display">
                    <div class="blank__image__each__display">
                    </div>
                    <p class="name__each__room__display">Room 1</p>
                    <div class="addr__each__room">
                        <p>Xã Xuân Đông, Huyện Cẩm Mỹ, Tỉnh Đồng Nai</p>
                        <p>5 - 10 người</p>
                        <p>Loại nhỏ</p>
                        <p>Gía thuê ( cơ bản ) : 1 triệu </p>
                    </div>
                </div>
                <div class="each__room__display">
                    <div class="blank__image__each__display">
                    </div>
                    <p class="name__each__room__display">Room 1</p>
                    <div class="addr__each__room">
                        <p>Xã Xuân Đông, Huyện Cẩm Mỹ, Tỉnh Đồng Nai</p>
                        <p>5 - 10 người</p>
                        <p>Loại nhỏ</p>
                        <p>Gía thuê ( cơ bản ) : 1 triệu </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>