<link rel="stylesheet" href="{{url_for('USER_bp.static', filename = 'css/base_user_page.css')}}">
<script src="{{url_for('USER_bp.static', filename = 'javascript/base_user_page.js')}}"></script>
<header>
    <div class="each__header__inner">
        <button id="btn__header__expand__option"><<<</button>
        <img src="{{url_for('USER_bp.static', filename = 'images/Logo-red.png')}}" id="logo__header__img" alt="logo image">
    </div>
    <div class="each__header__inner">
        <input type="search" name="header__user__search" id="input__header__search">
        <input type="submit" name="submit__header__user__search" id="submit__header__user__search">
    </div>
    <div>
        <img src="{{url_for('USER_bp.static', filename = 'images/avatar-account.png')}}" id="avatar__account__img" alt="avatar image">
    </div>
</header>
<div class="content__user__page">
    <div class="left__content">
        <div class="option__left__content active__left__content__link">
            <img src="{{url_for('USER_bp.static', filename = 'images/icon-homepage.png')}}" alt="icon image" class="icon__image__left__content">
            <a href="#" class="left__content__link">Trang chủ</a>
        </div>
        <div class="option__left__content">
            <img src="{{url_for('USER_bp.static', filename = 'images/icon-room.png')}}" alt="icon image" class="icon__image__left__content">
            <a href="#" class="left__content__link">Đặt phòng</a>
        </div>
        <a href="#" class="left__content__link">Phòng đang trống</a>
        <a href="#" class="left__content__link">Quản lý đơn thuê</a>
    </div>
    <div class="right__content">
        
    </div>
</div>