<link rel="stylesheet" href="{{url_for('USER_bp.static', filename = 'css/detail_room.css')}}">
<div class="basic__inform__room">
    <div class="img__detail__room">
        <img src="{{url_for('USER_bp.static', filename = 'images/detail-image-1.jpg')}}" id="main__img__detail__room">
        <div class="another__img__detail__room">
            <img src="{{url_for('USER_bp.static', filename = 'images/detail-image-2.jpg')}}">
            <img src="{{url_for('USER_bp.static', filename = 'images/detail-image-3.jpg')}}">
            <img src="{{url_for('USER_bp.static', filename = 'images/detail-image-4.jpg')}}">
        </div>
    </div>
    <div class="right__basic__inform">
        <h3 id="name__room__title">Demo Room</h3>
        <p id="price__detail__room__title">000.000.000 vnđ</p>
        <button>Booking Room</button>
        <select>
            <option>2023-00-00 00:00:00</option>
            <option>2023-00-00 00:00:00</option>
        </select>
    </div>
</div>