<link rel="stylesheet" href="{{url_for('USER_bp.static', filename = 'css/detail_room.css')}}">
<div class="basic__inform__room">
    <div class="img__detail__room">
        <img src="{{url_for('USER_bp.static', filename = 'images/detail-image-1.jpg')}}" id="main__img__detail__room">
        <div class="another__img__detail__room">
            <img src="{{url_for('USER_bp.static', filename = 'images/detail-image-2.jpg')}}">
            <img src="{{url_for('USER_bp.static', filename = 'images/detail-image-3.jpg')}}">
            <img src="{{url_for('USER_bp.static', filename = 'images/detail-image-4.jpg')}}">
        </div>
    </div>
    <div class="right__basic__inform">
        <h3 id="name__room__title">Demo Room</h3>
        <div class="price__btn__booking__detail__room">
            <p id="price__detail__room__title">000.000.000 vnđ</p>
            <input type="submit" id="btn__submit__booking__room" value="Booking"></input>
        </div>
        <div class="choose__date__use__room">
            <div>
                <label>Chọn ngày giờ : </label>
                <input type="datetime-local">
            </div>
            <div>
                <label>Thời gian dùng phòng :</label>
                <p>3 tiếng. 0 giờ đến 0 giờ</p>
            </div>
        </div>
        <div class="addr__detail__room">
            <div>
                <img src="{{url_for('USER_bp.static', filename = 'images/icon-address.png')}}">
                <p id="full__addr__detail__room">Xã A, Huyện B, Tỉnh C</p>
            </div>
            <p>Mở cửa từ 7:00 đến 21:00</p>
        </div>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3918.960523665344!2d106.77786429999999!3d10.814333!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317526f120a8dc79%3A0x7a2c490a88517f63!2zQ2h1bmcgY8awIFRoZSBBcnQsIFhVw4JOIFFV4buyTkgsIFBoxrDhu5tjIExvbmcgQiwgUXXhuq1uIDksIFRow6BuaCBwaOG7kSBI4buTIENow60gTWluaA!5e0!3m2!1svi!2s!4v1690274858559!5m2!1svi!2s" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</div>
<div class="detail__inform__room">
    <h3 id="title__detail__inform__room">Mô tả chi tiết sản phẩm</h3>
    <hr>
    <p class="describe__detail__inform__room">Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias, quaerat!</p>
    <p class="describe__detail__inform__room">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quas dolorem eaque minus enim perferendis corporis eligendi quasi obcaecati adipisci pariatur! Pariatur reiciendis tempora nobis eaque repudiandae et praesentium repellendus eveniet!</p>
    <p class="describe__detail__inform__room">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minima hic, odio fuga aut dicta expedita ipsa? Id iste fugiat ipsam.</p>
    <p class="describe__detail__inform__room">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque illo magni amet culpa est in voluptas sed, impedit cupiditate optio, doloribus, sapiente ipsum. Nihil repellat ipsa in rerum quae fugiat? Labore tempora, sed id aliquid vero cumque harum porro quas?</p>
</div>