<link rel="stylesheet" href="{{url_for('USER_bp.static', filename = 'css/detail_room.css')}}">
<div class="basic__inform__room">
    <div class="img__detail__room">
        <img src="{{url_for('USER_bp.static', filename = 'images/detail-image-1.jpg')}}" id="main__img__detail__room">
        <div class="another__img__detail__room">
            <img src="{{url_for('USER_bp.static', filename = 'images/detail-image-2.jpg')}}">
            <img src="{{url_for('USER_bp.static', filename = 'images/detail-image-3.jpg')}}">
            <img src="{{url_for('USER_bp.static', filename = 'images/detail-image-4.jpg')}}">
        </div>
    </div>
    <div class="right__basic__inform">

    </div>
</div>