<link rel="stylesheet" href="{{url_for('USER_bp.static', filename = 'css/detail_room.css')}}">
<script src="{{url_for('USER_bp.static', filename = 'javascript/detail_room.js')}}"></script>
{% if valid_duration_room == True %}
    <script>
        var start_time_duration_room = "{{start_time_duration_room}}"
        var end_time_duration_room = "{{end_time_duration_room}}"
        var second_duration_room = "{{second_duration_room}}"
        var dict_default_service_room = {}
        var dict_option_service_room = {}
        let value_amount;
        let value_price
    </script>
{% endif %}
<header>
    <a href="{{url_for('USER_bp.type_room_homepage', type_room = 'all')}}">
        <img src="{{url_for('USER_bp.static', filename = 'images/Logo.png')}}" id="img__logo__header">
    </a>
    <a href="{{url_for('USER_bp.log_out_user')}}" id="log__out__header__btn">Log out</a>
</header>
{% if get_room_by_code_room is defined %}
    <div class="basic__inform__room">
        <div class="img__detail__room">
            <img src="{{url_for('USER_bp.static', filename = 'images/detail-image-1.jpg')}}" id="main__img__detail__room">
            <div class="another__img__detail__room">
                <img src="{{url_for('USER_bp.static', filename = 'images/detail-image-2.jpg')}}">
                <img src="{{url_for('USER_bp.static', filename = 'images/detail-image-3.jpg')}}">
                <img src="{{url_for('USER_bp.static', filename = 'images/detail-image-4.jpg')}}">
            </div>
        </div>
        <div class="right__basic__inform">
            <form method="post">
                <div class="name__addr__detail__room">
                    <h3 id="name__room__title">{{get_room_by_code_room[2]}}</h3>
                    <div class="addr__detail__room">
                        <div>
                            <img src="{{url_for('USER_bp.static', filename = 'images/icon-address.png')}}">
                            <p id="full__addr__detail__room">{{get_room_by_code_room[8]}}, {{get_room_by_code_room[7]}}, {{get_room_by_code_room[6]}}</p>
                        </div>
                    </div>
                </div>
                <div class="price__btn__booking__detail__room">
                    <p id="price__detail__room__title">{{price_room}} vnđ</p>
                    {% if valid_duration_room == True %}
                        <input type="submit" id="btn__submit__booking__room" value="Booking" name="submit__booking__room"></input>
                    {% endif %}
                </div>
                {% if valid_duration_room == True %}
                    <div class="show__each__price__room">
                        <p>Tiền phòng : {{price_room}}</p>
                        <p>Tiền dịch vụ mặc định : <span class="price__default__service">0</span> vnđ</p>
                        <p>Tiền dịch vụ tự chọn : <span class="price__option__service">0</span> vnđ</p>
                    </div>
                    <div class="show__duration__room">
                        <div>
                            <label>Start duration :</label>
                            <p>{{start_time_duration_room}}</p>
                        </div>
                        <div>
                            <label>End Duration :</label>
                            <p>{{end_time_duration_room}}</p>
                        </div>
                        <div>
                            <label>Seconds Rent :</label>
                            <p>{{second_duration_room}}</p>
                        </div>
                    </div>
                    <div class="choose__date__use__room">
                        <div>
                            <label>Chọn ngày giờ : </label>
                            <input type="datetime-local" oninput="choose_date_rent_room_js()" class="choose__date__rent__room" name="choose_date_rent_room">
                        </div>
                        <div>
                            <label>Thời gian dùng phòng : <i>(Second)</i></label>
                            <input type="number" name="second_rent_room" class="choose__duration__rent__room" oninput="choose_date_rent_room_js()">
                        </div>
                    </div>
                    <p class="valid__condition__rent__room__title">Bạn không thể thuê vì chưa đủ điều kiện thời gian</p>
                {% else %}
                    <p id="not__valid__duration__room">Hiện tại phòng này đang không trong thời gian cho thuê</p>
                {% endif %}
                <input type="text" value='{{get_room_by_code_room[0]}}' name='choose_id_rent_room' hidden>
                <input type="text" value="" name="choose_default_service_dict" class="choose__default__service__dict" hidden>
                <input type="text" value="" name="choose_option_service_dict" class="choose__option__service__dict" hidden>

                <p id="title__choose__default__option__service">Choose Default Service & Option Service</p>
                <div class="choose__service__detail__room">
                    <div class="choose__default__service__room">
                        <select name="choose_default_service" class="select__choose__default__service">
                            <option name="not-choose-default-service">Choose Default Service</option>
                            {% for default_service in default_service_dict %}
                                <script>
                                    dict_default_service_room['{{default_service}}'] = parseInt("{{default_service_dict[default_service]}}")
                                </script>
                                <option value="{{default_service}}">{{default_service}}</option>
                            {% endfor %}
                        </select>
                        <button type="button" class="btn__add__service__room" onclick="add_default_service()">Add</button>
                    </div>
                    {% for option_service in option_service_dict %}
                        <script>
                            value_amount = "{{option_service_dict[option_service]['amount']}}"
                            value_price = "{{option_service_dict[option_service]['price']}}"
                            dict_option_service_room["{{option_service}}"] = {'amount' : parseInt(value_amount), 'price' : value_price}
                        </script>
                    {% endfor %}
                    <div class="choose__option__service__room">
                        <select name="choose_option_service" class="select__choose__option__service">
                            <option name="not-choose-option-service">Choose Option Service</option>
                            {% for option_service in option_service_dict %}
                                <option value="{{option_service}}">{{option_service}}</option>
                            {% endfor %}
                        </select>
                        <button type='button' class="btn__add__service__room" onclick="add_option_service()">Add</button>
                    </div>
                </div>
                <div class="show__add__service__room">
                    <p>Show Service</p>
                    <div class="show__add__service__room__inner">
                        <div class="show__service__default__add">
                            <p>Default Service</p>
                            <ul class="lst__default__service__add__room">

                            </ul>
                        </div>
                        <div class="show__service__option__add">
                            <p>Option Service</p>
                            <ul class="lst__option__service__add__room">

                            </ul>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="detail__inform__room">
        <h3 id="title__detail__inform__room">Mô tả chi tiết sản phẩm</h3>
        <hr>
        <p class="describe__detail__inform__room">Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias, quaerat!</p>
        <p class="describe__detail__inform__room">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quas dolorem eaque minus enim perferendis corporis eligendi quasi obcaecati adipisci pariatur! Pariatur reiciendis tempora nobis eaque repudiandae et praesentium repellendus eveniet!</p>
        <p class="describe__detail__inform__room">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minima hic, odio fuga aut dicta expedita ipsa? Id iste fugiat ipsam.</p>
        <p class="describe__detail__inform__room">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque illo magni amet culpa est in voluptas sed, impedit cupiditate optio, doloribus, sapiente ipsum. Nihil repellat ipsa in rerum quae fugiat? Labore tempora, sed id aliquid vero cumque harum porro quas?</p>
        <img src="{{url_for('USER_bp.static', filename = 'images/detail-image-2.jpg')}}" class="img__detail__inform__room">
        <img src="{{url_for('USER_bp.static', filename = 'images/detail-image-3.jpg')}}" class="img__detail__inform__room">
        <img src="{{url_for('USER_bp.static', filename = 'images/detail-image-4.jpg')}}" class="img__detail__inform__room">
        <p class="describe__detail__inform__room">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellat quidem alias accusantium a enim deserunt itaque reiciendis aliquam quisquam totam.</p>
        <p class="describe__detail__inform__room">Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt facilis obcaecati culpa pariatur mollitia accusantium molestias repudiandae at. Reprehenderit eveniet, et enim dolorum corrupti, rem itaque, deserunt ipsa provident maxime animi? Delectus laboriosam quo totam minus aperiam, vel numquam quis minima aspernatur esse exercitationem maxime inventore incidunt. Magnam, exercitationem explicabo?</p>
    </div>
{% else %}
    <p>Có lỗi trong quá trình thực thi trang. Thử chạy lại trang web hoặc hãy liên hệ admin website để được hỗ trợ</p>
{% endif %}