<link rel="stylesheet" href="{{url_for('USER_bp.static', filename = 'css/detail_room.css')}}">
<div class="basic__inform__room">
    <div class="img__detail__room">
        <img src="{{url_for('USER_bp.static', filename = 'images/detail-image-1.jpg')}}" id="main__img__detail__room">
        <div class="another__img__detail__room">
            <img src="{{url_for('USER_bp.static', filename = 'images/detail-image-2.jpg')}}">
            <img src="{{url_for('USER_bp.static', filename = 'images/detail-image-3.jpg')}}">
            <img src="{{url_for('USER_bp.static', filename = 'images/detail-image-4.jpg')}}">
        </div>
    </div>
    <div class="right__basic__inform">
        <h3 id="name__room__title">Demo Room</h3>
        <div class="price__btn__booking__detail__room">
            <p id="price__detail__room__title">000.000.000 vnđ</p>
            <button>Booking Room</button>
        </div>
        <div>
            <div>
                <label>Xem lịch trống : </label>
                <input type="datetime-local">
            </div>
            <div>
                <label>Khoảng thời gian dùng phòng :</label>
                <p>3 tiếng tù 0 giờ đến 0 giờ</p>
            </div>
        </div>
    </div>
</div>