<link rel="stylesheet" href="{{url_for('', filename = 'css/detail_room.css')}}">
<div class="basic__inform__room">
    <div class="img__detail__room">

    </div>
    <div class="right__basic__inform">

    </div>
</div>