{% extends 'base_user_page.html' %}

{% block content_user_page %}
    <table>
        <tr>
            <th>Name</th>
            <th>Province</th>
            <th>District</th>
            <th>Ward</th>
            <th>Total Price</th>
            <th>Code Booking</th>
            <th>Status</th>
        </tr>
        <tr>
            <td>{{loop.index}}</td>
            <td>{{get_room.province}}</td>
            <td>{{get_room.district}}</td>
            <td>{{get_room.ward}}</td>
        </tr>
    </table>
{% endblock %}
