{% extends 'base_user_page.html' %}

{% block content_user_page %}
    <link rel="stylesheet" href="{{url_for('USER_bp.static', filename = 'css/detail_rent_room.css')}}">
    <table>
        <tr>
            <th>Name</th>
            <th>Province</th>
            <th>District</th>
            <th>Ward</th>
            <th>Total Price</th>
            <th>Code Booking</th>
            <th>Status</th>
        </tr>
        <tr>
            <td>{{get_room.name_room}}</td>
            <td>{{get_room.province}}</td>
            <td>{{get_room.district}}</td>
            <td>{{get_room.ward}}</td>
        </tr>
    </table>
{% endblock %}
