{% extends 'base_user_page.html' %}

{% block content_user_page %}
    {% if get_booking is defined %}
        <link rel="stylesheet" href="{{url_for('USER_bp.static', filename = 'css/detail_rent_room.css')}}">
        <table>
            <tr>
                <th>Name</th>
                <th>Province</th>
                <th>District</th>
                <th>Ward</th>
                <th>Total Price</th>
                <th>Code Booking</th>
                <th>Status</th>
            </tr>
            <tr>
                <td>{{get_room.name_room}}</td>
                <td>{{get_room.province}}</td>
                <td>{{get_room.district}}</td>
                <td>{{get_room.ward}}</td>
                <td>{{get_booking.total_price}}</td>
                <td>{{get_booking.code_booking}}</td>
                <td>{{get_booking.status}}</td>
            </tr>
        </table>
        <div class="btn__detail__rent__room">
            <div>
                <form method="post">
                    <input type="submit" name="btn_delete_rent_room" value="Cancel"></input>
                    <button>Edit</button>
                </form>
            </div>
            <p>( Chỉnh sửa hoặc xóa booking chỉ áp dụng cho booking đang ở trạng thái pending )</p>
        </div>
    {% else %}
        <p>Không tìm thấy đơn đặt phòng nào phù hợp</p>
    {% endif %}
{% endblock %}
