<link rel="stylesheet" href="{{url_for('USER_bp.static', filename = 'css/detail_room.css')}}">
<div class="basic__inform__room">
    <div class="img__detail__room">
        <img src="{{url_for('USER_bp.static', filename = 'images/detail-image-1.jpg')}}" id="main__img__detail__room">
    </div>
    <div class="right__basic__inform">

    </div>
</div>