{% extends 'base_user_page.html' %}

{% block content_user_page %}
    <div class="tag__right__content">
        <a href="#" class="tag__link__right__content active__tag__right__content">All</a>
        <a href="#" class="tag__link__right__content unactive__tag__right__content">Small</a>
        <a href="#" class="tag__link__right__content unactive__tag__right__content">Medium</a>
        <a href="#" class="tag__link__right__content unactive__tag__right__content">Big</a>
        <a href="#" class="tag__link__right__content unactive__tag__right__content">Ha Noi Capital</a>
        <a href="#" class="tag__link__right__content unactive__tag__right__content">Ho Chi Minh City</a>
        <a href="#" class="tag__link__right__content unactive__tag__right__content">Da Nang City</a>
    </div>
    <div class="all__room__display">
        {% if all_room is defined %}
            {% for each_room in all_room %}
                <div class="each__room__display">
                    <div class="blank__image__each__display">
                        <img src="data:image/png;base64,{{lst_base64_image_firebase[loop.index - 1]['1']}}">
                    </div>
                    <p class="name__each__room__display">{{each_room[2]}}</p>
                    <div class="inform__each__room">
                        <p id="addr__each__room">Xã {{each_room[8]}}, Huyện {{each_room[7]}}, Tỉnh {{each_room[6]}}</p>
                        <div class="capacity__type__inner">
                            <p>Sức chứa lớn nhất : {{each_room[3]}} người</p>
                            <p>Loại : {{each_room[5]}}</p>
                        </div>
                        <p>Gía thuê ( cơ bản ) : {{lst_price[loop.index - 1][1]}} triệu </p>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p>Không có phòng họp nào được tìm thấy</p>
        {% endif %}
    </div>
{% endblock %}