{% extends 'base_user_page.html' %}

{% block content_user_page %}
    <div class="tag__right__content">
        <a href="#" class="tag__link__right__content active__tag__right__content">All</a>
        <a href="#" class="tag__link__right__content unactive__tag__right__content">Small</a>
        <a href="#" class="tag__link__right__content unactive__tag__right__content">Medium</a>
        <a href="#" class="tag__link__right__content unactive__tag__right__content">Big</a>
        <a href="#" class="tag__link__right__content unactive__tag__right__content">Ha Noi Capital</a>
        <a href="#" class="tag__link__right__content unactive__tag__right__content">Ho Chi Minh City</a>
        <a href="#" class="tag__link__right__content unactive__tag__right__content">Da Nang City</a>
    </div>
    <div class="all__room__display">
        <div>
            {% if all_room is defined %}
                {% for each_room in all_room %}
                    <div class="each__room__display">
                        <div class="blank__image__each__display">
                        </div>
                        <p class="name__each__room__display">{{each_room[2]}}</p>
                        <div class="addr__each__room">
                            <p>Xã {{each_room[8]}}, Huyện {{each_room[7]}}, Tỉnh {{each_room[6]}}</p>
                            <p>5 - 10 người</p>
                            <p>Loại nhỏ</p>
                            <p>Gía thuê ( cơ bản ) : 1 triệu </p>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p>Không có phòng họp nào được tìm thấy</p>
            {% endif %}
        </div>
    </div>
{% endblock %}