{% extends 'base_user_page.html' %}

{% block content_user_page %}
    <div class="tag__right__content">
        <a href="{{url_for('USER_bp.all_room_homepage')}}" class="tag__link__right__content active__tag__right__content">All</a>
        <a href="{{url_for('USER_bp.small_room_homepage')}}" class="tag__link__right__content unactive__tag__right__content">Small</a>
        <a href="{{url_for('USER_bp.medium_room_homepage')}}" class="tag__link__right__content unactive__tag__right__content">Medium</a>
        <a href="{{url_for('USER_bp.big_room_homepage')}}" class="tag__link__right__content unactive__tag__right__content">Big</a>
        <a href="{{url_for('USER_bp.province_room_homepage',province_para = 'ha_noi_vn')}}" class="tag__link__right__content unactive__tag__right__content">Ha Noi Capital</a>
        <a href="#" class="tag__link__right__content unactive__tag__right__content">Ho Chi Minh City</a>
        <a href="#" class="tag__link__right__content unactive__tag__right__content">Da Nang City</a>
    </div>
    <div class="all__room__display">
        {% block homepage_user_page %}
        {% endblock %}
    </div>
{% endblock %}