<link rel="stylesheet" href="{{url_for('USER_bp.static', filename = 'css/show_pagination_page.css')}}">
<div class="show__pagination__page">
    {% if province_room is defined %}
        <p>a</p>
    {% else %}
        <p>ab</p>
    {% endif %}
    {% if pagination_page > 5 %}
        <button id="btn__first__pagination__page" onclick="first_page_pagination()">Go to page 1</button>
        <button id='btn__previous__pagination' onclick="pre_btn_pagination()">Previous</button>
        {% for pagination in range(0, pagination_page) %}
            {% if current_page == pagination + 1 %}
                <a href="{{url_for('USER_bp.type_room_homepage', type_room = type_room, current_page_para = pagination + 1)}}">
                    <button class="btn__pagination active__btn__pagination" id="btn__page__pagination__page{{pagination + 1}}">{{pagination + 1}}</button>
                </a>
            {% else %}
                <a href="{{url_for('USER_bp.type_room_homepage', type_room = type_room, current_page_para = pagination + 1)}}">
                    <button class="btn__pagination" id="btn__page__pagination__page{{pagination + 1}}">{{pagination + 1}}</button>
                </a>
            {% endif %}
        {% endfor %}
        <button id="btn__next__pagination" onclick="next_btn_pagination()">Next</button>
        <button id="btn__end__pagination__page" onclick="last_page_pagination()">Go to page end</button>
    {% else %}
        {% for pagination in range(0, pagination_page) %}
            {% if current_page == pagination + 1 %}
                <a href="{{url_for('USER_bp.type_room_homepage', type_room = type_room, current_page_para = pagination + 1)}}">
                    <button class="btn__pagination active__btn__pagination" id="btn__page__pagination__page{{pagination + 1}}">{{pagination + 1}}</button>
                </a>
            {% else %}
                <a href="{{url_for('USER_bp.type_room_homepage', type_room = type_room, current_page_para = pagination + 1)}}">
                    <button class="btn__pagination" id="btn__page__pagination__page{{pagination + 1}}">{{pagination + 1}}</button>
                </a>
            {% endif %}
        {% endfor %}
    {% endif %}
</div>