{% extends 'base_user_page.html' %}

{% block content_user_page %}
    <link rel="stylesheet" href="{{url_for('USER_bp.static', filename = 'css/valid_rent_room.css')}}">
    <link rel="stylesheet" href="{{url_for('USER_bp.static', filename = 'css/valid_rent_room.css')}}">
    <div class="tag__right__content">
        <a href="#" class="tag__link__right__content active__tag__right__content">Show</a>
    </div>
    <div class="show__all__rent__room">
        <table>
            <tr>
                <th>No</th>
                <th>Name</th>
                <th>Type</th>
                <th>Province</th>
                <th>District</th>
                <th>Ward</th>
                <th>Total Price</th>
                <th>Code Order</th>
                <th>Status</th>
            </tr>
        </table>
    </div>
{% endblock %}