{% extends 'base_user_page.html' %}

{% block content_user_page %}
    <link rel="stylesheet" href="{{url_for('USER_bp.static', filename = 'css/valid_rent_room.css')}}">
    <link rel="stylesheet" href="{{url_for('USER_bp.static', filename = 'css/show_all_rent_room.css')}}">
    <div class="show__msg__del__rent__room__by__code">
        {% if msg_del_rent_room_by_code_success is defined %}
            <div class="show__msg__del__success">
                <p>{{msg_del_rent_room_by_code_success}}</p>
            </div>
        {% elif msg_cancel_rent_room_by_code_fail is defined %}
            <div class="show__msg__del__fail">
                <p>{{msg_cancel_rent_room_by_code_fail}}</p>
            </div>
        {% endif %}
    </div>
    <div class="tag__right__content">
        <a href="#" class="tag__link__right__content active__tag__right__content">Show</a>
    </div>
    <div class="show__all__rent__room">
        <table>
            <tr>
                <th>No</th>
                <th>Name</th>
                <th>Type</th>
                <th>Province</th>
                <th>District</th>
                <th>Ward</th>
                <th>Total Price</th>
                <th>Code Booking</th>
                <th>Status</th>
            </tr>
            {% for booking in all_booking_room %}
                <tr>
                    <td>{{loop.index}}</td>
                    <td> 
                        <a href="{{url_for('USER_bp.detail_rent_room', code_room = booking[12])}}">{{lst_all_room[loop.index - 1][2]}}</a>
                    </td>
                    <td>{{lst_all_room[loop.index - 1][5]}}</td>
                    <td>{{lst_all_room[loop.index - 1][6]}}</td>
                    <td>{{lst_all_room[loop.index - 1][7]}}</td>
                    <td>{{lst_all_room[loop.index - 1][8]}}</td>
                    <td>{{booking[10]}}</td>
                    <td>{{booking[12]}}</td>
                    <td>{{booking[8]}}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}