{% extends 'base_user_page.html' %}

{% block content_user_page %}
    <link rel="stylesheet" href="{{url_for('USER_bp.static', filename = 'css/valid_rent_room.css')}}">
    <div class="tag__right__content">
        <a href="#" class="tag__link__right__content active__tag__right__content">Show</a>
    </div>
{% endblock %}