{% extends 'base_user_page.html' %}

{% block content_user_page %}
    <link rel="stylesheet" href="{{url_for('USER_bp.static', filename = 'css/show_all_rent_room.css')}}">
    <link rel="stylesheet" href="{{url_for('USER_bp.static', filename = 'css/show_pagination_page.css')}}">
    <script>
        var current_page = parseInt('{{current_page}}')
        var pagination_page = parseInt('{{pagination_page}}')
        document.onreadystatechange = function(){
            if (document.readyState === 'interactive') {
                on_page_load_pagination();
            }
        }
    </script>
    <div class="tag__right__content">
        <a href="{{url_for('USER_bp.show_all_rent_room', current_page_para = 1)}}" class="tag__link__right__content active__tag__right__content">All</a>
        <a href="{{url_for('USER_bp.show_rent_room_pending', current_page_para = 1)}}" class="tag__link__right__content unactive__tag__right__content">Pending Booking</a>
        <a href="{{url_for('USER_bp.show_rent_room_finish', current_page_para = 1)}}" class="tag__link__right__content unactive__tag__right__content">Finish Booking</a>
        <a href="{{url_for('USER_bp.show_rent_room_cancel', current_page_para = 1)}}" class="tag__link__right__content unactive__tag__right__content">Cancel Booking</a>
    </div>
    
    <div class="show__all__rent__room">
        <table>
            <tr>
                <th>No</th>
                <th>Name</th>
                <th>Type</th>
                <th>Province</th>
                <th>District</th>
                <th>Ward</th>
                <th>Total Price</th>
                <th>Code Booking</th>
                <th>Status</th>
            </tr>
            {% for booking in all_cancel_booking_room %}
                <tr>
                    <td>{{loop.index}}</td>
                    <td> 
                        <a href="{{url_for('USER_bp.detail_rent_room', code_room = booking[12])}}">{{lst_all_room[loop.index - 1][2]}}</a>
                    </td>
                    <td>{{lst_all_room[loop.index - 1][5]}}</td>
                    <td>{{lst_all_room[loop.index - 1][6]}}</td>
                    <td>{{lst_all_room[loop.index - 1][7]}}</td>
                    <td>{{lst_all_room[loop.index - 1][8]}}</td>
                    <td>{{booking[10]}}</td>
                    <td>{{booking[12]}}</td>
                    <td>{{booking[8]}}</td>
                </tr>
            {% endfor %}
        </table>
    </div>

    <div class="show__pagination__page">
        {% if pagination_page > 5 %}
            <button id="btn__first__pagination__page" onclick="first_page_pagination()">Go to page 1</button>
            <button id='btn__previous__pagination' onclick="pre_btn_pagination()">Previous</button>
            {% for pagination in range(0, pagination_page) %}
                {% if current_page == pagination + 1 %}
                    <a href="{{url_for('USER_bp.show_rent_room_cancel', current_page_para = pagination + 1)}}">
                        <button class="btn__pagination active__btn__pagination" id="btn__page__pagination__page{{pagination + 1}}">{{pagination + 1}}</button>
                    </a>
                {% else %}
                    <a href="{{url_for('USER_bp.show_rent_room_cancel', current_page_para = pagination + 1)}}">
                        <button class="btn__pagination" id="btn__page__pagination__page{{pagination + 1}}">{{pagination + 1}}</button>
                    </a>
                {% endif %}
            {% endfor %}
            <button id="btn__next__pagination" onclick="next_btn_pagination()">Next</button>
            <button id="btn__end__pagination__page" onclick="last_page_pagination()">Go to page end</button>
        {% else %}
            {% for pagination in range(0, pagination_page) %}
                {% if current_page == pagination + 1 %}
                    <a href="{{url_for('USER_bp.show_rent_room_cancel', current_page_para = pagination + 1)}}">
                        <button class="btn__pagination active__btn__pagination" id="btn__page__pagination__page{{pagination + 1}}">{{pagination + 1}}</button>
                    </a>
                {% else %}
                    <a href="{{url_for('USER_bp.show_rent_room_cancel', current_page_para = pagination + 1)}}">
                        <button class="btn__pagination" id="btn__page__pagination__page{{pagination + 1}}">{{pagination + 1}}</button>
                    </a>
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}