{% extends 'base_user_page.html' %}

{% block content_user_page %}
<div class="show__all__rent__room">
    <table>
        <tr>
            <th>No</th>
            <th>Name</th>
            <th>Type</th>
            <th>Province</th>
            <th>District</th>
            <th>Ward</th>
            <th>Total Price</th>
            <th>Code Booking</th>
            <th>Status</th>
        </tr>
        {% for booking in all_booking_room %}
            <tr>
                <td>{{loop.index}}</td>
                <td> 
                    <a href="{{url_for('USER_bp.detail_rent_room', code_room = booking[12])}}">{{lst_all_room[loop.index - 1][2]}}</a>
                </td>
                <td>{{lst_all_room[loop.index - 1][5]}}</td>
                <td>{{lst_all_room[loop.index - 1][6]}}</td>
                <td>{{lst_all_room[loop.index - 1][7]}}</td>
                <td>{{lst_all_room[loop.index - 1][8]}}</td>
                <td>{{booking[10]}}</td>
                <td>{{booking[12]}}</td>
                <td>{{booking[8]}}</td>
            </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}