{% extends 'homepage_user_page.html' %}

{% block homepage_user_page %}
    {% if get_type_room is defined %}
        {% if get_type_room|length != 0 %}
            <script src="{{url_for('USER_bp.static', filename = 'javascript/get_pagination.js')}}"></script>
            <link rel="stylesheet" href="{{url_for('USER_bp.static', filename = 'css/show_pagination_page.css')}}">
            <script>
                document.getElementsByClassName('option__left__content')[0].classList.add('active__left__content__link')
                var current_page = parseInt('{{current_page}}')
                var pagination_page = parseInt('{{pagination_page}}')
                document.onreadystatechange = function(){
                    if (document.readyState === 'interactive') {
                        on_page_load_pagination();
                    }
                }
            </script>
            {% if type_room == 'all' %}
                <script>
                    document.getElementById('all__room__tag__homepage').classList.add('active__tag__right__content')
                </script>
            {% elif type_room == 'small' %}
                <script>
                    document.getElementById('small__room__tag__homepage').classList.add('active__tag__right__content')
                </script>
            {% elif type_room == 'medium' %}
                <script>
                    document.getElementById('medium__room__tag__homepage').classList.add('active__tag__right__content')
                </script>
            {% elif type_room == 'big' %}
                <script>
                    document.getElementById('big__room__tag__homepage').classList.add('active__tag__right__content')
                </script>
            {% endif %}
            <div class="all__room__display">
                {% for each_room in get_type_room %}
                    <div class="each__room__display">
                        <div class="blank__image__each__display">
                            {#<img src="data:image/png;base64,{{lst_base64_image_firebase[loop.index - 1]['1']}}">#}
                            <img src="{{url_for('USER_bp.static', filename = 'images/demo-room-images.png')}}">
                        </div>
                        <a href="{{url_for('USER_bp.detail_room', code_room = each_room[1])}}" class="name__each__room__display">{{each_room[2]}}</a>
                        <div class="inform__each__room">
                            <p id="addr__each__room">Xã {{each_room[8]}}, Huyện {{each_room[7]}}, Tỉnh {{each_room[6]}}</p>
                            <div class="capacity__type__inner">
                                <p>Sức chứa lớn nhất : {{each_room[3]}} người</p>
                                <p>Loại : {{each_room[5]}}</p>
                            </div>
                            <p>Gía thuê ( cơ bản ) : {{lst_price[loop.index - 1][1]}} triệu </p>
                        </div>
                    </div>
                {% endfor %}
            </div>
            
            <div class="show__pagination__page">
                {% if pagination_page > 5 %}
                    <button id="btn__first__pagination__page" onclick="first_page_pagination()">Go to page 1</button>
                    <button id='btn__previous__pagination' onclick="pre_btn_pagination()">Previous</button>
                    {% for pagination in range(0, pagination_page) %}
                        {% if current_page == pagination + 1 %}
                            <a href="{{url_for('USER_bp.type_room_homepage', type_room = type_room, current_page_para = pagination + 1)}}">
                                <button class="btn__pagination active__btn__pagination" id="btn__page__pagination__page{{pagination + 1}}">{{pagination + 1}}</button>
                            </a>
                        {% else %}
                            <a href="{{url_for('USER_bp.type_room_homepage', type_room = type_room, current_page_para = pagination + 1)}}">
                                <button class="btn__pagination" id="btn__page__pagination__page{{pagination + 1}}">{{pagination + 1}}</button>
                            </a>
                        {% endif %}
                    {% endfor %}
                    <button id="btn__next__pagination" onclick="next_btn_pagination()">Next</button>
                    <button id="btn__end__pagination__page" onclick="last_page_pagination()">Go to page end</button>
                {% else %}
                    {% for pagination in range(0, pagination_page) %}
                        {{current_page}}, {{pagination + 1}}
                        {% if current_page is int %}
                            <p>A</p>
                        {% else %}
                            <p>B</p>
                        {% endif %}
                    {% endfor %}
                    {% for pagination in range(0, pagination_page) %}
                        {% if current_page == pagination + 1 %}
                            <a href="{{url_for('USER_bp.type_room_homepage', type_room = type_room, current_page_para = pagination + 1)}}">
                                <button class="btn__pagination active__btn__pagination" id="btn__page__pagination__page{{pagination + 1}}">{{pagination + 1}}</button>
                            </a>
                        {% else %}
                            <a href="{{url_for('USER_bp.type_room_homepage', type_room = type_room, current_page_para = pagination + 1)}}">
                                <button class="btn__pagination" id="btn__page__pagination__page{{pagination + 1}}">{{pagination + 1}}</button>
                            </a>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
        {% elif get_type_room|length == 0 %}
            <p>chưa có phòng họp nào phù hợp</p>
        {% endif %}
    {% else %}
        <p>Không có phòng họp nào được tìm thấy</p>
    {% endif %}
{% endblock %}