{% extends 'valid_rent_room.html' %}

{% block valid_rent_room_user_page %}
    {% if lst_valid_duration_room is defined %}
        {% if lst_valid_duration_room|length != 0 %}
            {% for each_room in lst_valid_duration_room %}
                <div class="each__room__display">
                    <div class="blank__image__each__display">
                        {#<img src="data:image/png;base64,{{lst_base64_image_firebase[loop.index - 1]['1']}}">#}
                        <img src="{{url_for('USER_bp.static', filename = 'images/demo-room-images.png')}}">
                    </div>
                    <a href="{{url_for('USER_bp.detail_room', code_room = each_room[1])}}" class="name__each__room__display">{{each_room[2]}}</a>
                    <div class="inform__each__room">
                        <p id="addr__each__room">Xã {{each_room[8]}}, Huyện {{each_room[7]}}, Tỉnh {{each_room[6]}}</p>
                        <div class="capacity__type__inner">
                            <p>Sức chứa lớn nhất : {{each_room[3]}} người</p>
                            <p>Loại : {{each_room[5]}}</p>
                        </div>
                        <p>Gía thuê ( cơ bản ) : {{lst_price[loop.index - 1][1]}} triệu </p>
                    </div>
                </div>
            {% endfor %}
        {% elif lst_valid_duration_room|length == 0 %}
            <p>chưa có phòng họp nào phù hợp</p>
        {% endif %}
    {% else %}
        <p>Không có phòng họp nào được tìm thấy</p>
    {% endif %}
{% endblock %}