{% extends 'base_user_page.html' %}

{% block content_user_page %}
    <link rel="stylesheet" href="{{url_for('USER_bp.static', filename = 'css/valid_rent_room.css')}}">
    <div class="tag__right__content">
        <a href="{{url_for('USER_bp.valid_rent_room_type', type_room = 'all', current_page_para = 1)}}" class="tag__link__right__content" id="valid__all__room__tag">All</a>
        <a href="{{url_for('USER_bp.valid_rent_room_type', type_room = 'small', current_page_para = 1)}}" class="tag__link__right__content" id="valid__small__room__tag">Small</a>
        <a href="{{url_for('USER_bp.valid_rent_room_type', type_room = 'medium', current_page_para = 1)}}" class="tag__link__right__content" id="valid__medium__room__tag">Medium</a>
        <a href="{{url_for('USER_bp.valid_rent_room_type', type_room = 'big', current_page_para = 1)}}" class="tag__link__right__content" id="valid__big__room__tag">Big</a>
        <a href="{{url_for('USER_bp.valid_rent_room_province', get_province = 'ha_noi_vn', current_page_para = 1)}}" class="tag__link__right__content" id="valid__ha__noi__vn__room__tag">Ha Noi Capital</a>
        <a href="{{url_for('USER_bp.valid_rent_room_province', get_province = 'ho_chi_minh_vn', current_page_para = 1)}}" class="tag__link__right__content" id="valid__ho__chi_minh__vn__room__tag">Ho Chi Minh City</a>
        <a href="{{url_for('USER_bp.valid_rent_room_province', get_province = 'da_nang_vn', current_page_para = 1)}}" class="tag__link__right__content" id="valid__da__nang__vn__room__tag">Da Nang City</a>
    </div>
    <div class="all__room__display">
        {% block valid_rent_room_user_page %}
        {% endblock %}
    </div>
{% endblock %}