{% extends 'base_user_page.html' %}

{% block content_user_page %}
    <link rel="stylesheet" href="{{url_for('USER_bp.static', filename = 'css/valid_rent_room.css')}}">
    <div class="tag__right__content">
        <a href="{{url_for('USER_bp.valid_rent_room', type_room = 'all')}}" class="tag__link__right__content active__tag__right__content">All</a>
        <a href="{{url_for('USER_bp.valid_rent_room', type_room = 'small')}}" class="tag__link__right__content unactive__tag__right__content">Small</a>
        <a href="{{url_for('USER_bp.valid_rent_room', type_room = 'medium')}}" class="tag__link__right__content unactive__tag__right__content">Medium</a>
        <a href="{{url_for('USER_bp.valid_rent_room', type_room = 'big')}}" class="tag__link__right__content unactive__tag__right__content">Big</a>
        <a href="#" class="tag__link__right__content unactive__tag__right__content">Ha Noi Capital</a>
        <a href="#" class="tag__link__right__content unactive__tag__right__content">Ho Chi Minh City</a>
        <a href="#" class="tag__link__right__content unactive__tag__right__content">Da Nang City</a>
    </div>
    <div class="all__room__display">
        {% block valid_rent_room_user_page %}
        {% endblock %}
    </div>
{% endblock %}