{% extends 'valid_rent_room.html' %}

{% block valid_rent_room_user_page %}
    {% if lst_valid_duration_room is defined %}
        {% if lst_valid_duration_room|length != 0 %}

        {% elif lst_valid_duration_room|length == 0 %}
            <p>chưa có phòng họp nào phù hợp</p>
        {% endif %}
    {% else %}
        <p>Không có phòng họp nào được tìm thấy</p>
    {% endif %}
{% endblock %}