* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

.show__all__booking__room {
    width: 95%;
    margin: 15px auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

tr {
    border: 1px  solid black;
}

td, th {
    border: 1px solid black;
    padding: 15px 25px;
}