* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

:root {
    --first-color : #0D1282;
    --second-color : #EEEDED;
    --third-color : #F0DE36;
    --fourth-color : #D71313;
}


.show__pagination__page {
    text-align: right;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 15px;
}

#btn__first__pagination__page, #btn__previous__pagination, #btn__next__pagination, #btn__end__pagination__page {
    background-color: black;
    color: white;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 5px;
}

#btn__first__pagination__page:hover, #btn__previous__pagination:hover, #btn__next__pagination:hover, #btn__end__pagination__page:hover {
    cursor: pointer;
    opacity: 0.5;
}

.btn__pagination {
    width: 50px;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: var(--first-color);
    padding: 5px;
    color:white;
}

.btn__pagination:hover {
    opacity: 0.5;
    cursor: pointer;
}

.active__btn__pagination {
    background-color: var(--fourth-color);
}

.show__btn__option__export {
    text-align: right;
    width: 75%;
    margin: 0 auto;
    margin-top: 15px;
}

.show__btn__option__export button {
    background-color: blue;
    border-radius: 5px;
    border: none;
    outline: none;
    color: white;
    padding: 15px 25px;
    cursor: pointer;
}