* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

:root {
    --first-color : #000000;
    --second-color : #3D0000;
    --third-color : #950101;
    --fourth-color : #FF0000;
}

html {
    background-color: var(--first-color);
}

#logo__header__img {
    width: 80px;
}

#avatar__account__img {
    width: 40px;
    cursor: pointer;
}

#avatar__account__img:hover {
    outline: 3px solid gray;
    border-radius: 50%;
}

.header__search {
    width: 50%;
}

#input__header__search {
    padding: 15px;
    border-radius: 15px;
    width: 200%;
    border: none;
    outline: 1px solid gray;
    margin-right: 15px;
    background-color: transparent;
    color: white;
}

#input__header__search:focus {
    outline: 3px solid gray;
}

header{
    display: flex;
    width: 95%;
    margin: 15px auto;
    justify-content: space-between;
    align-items: start;
}

.each__header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#btn__header__expand__option {
    color:white;
    background-color: transparent;
    border: none;
    outline: none;
    cursor:pointer;
    margin-right: 15px;
}

#submit__header__user__search {
    padding: 15px;
    border: 1px solid gray;
    border-radius: 15px;
    background-color: var(--first-color);
    color: white;
    cursor: pointer;
}

.left__content {
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.left__content > div {
    display: flex;
    align-items: center;
}

.content__user__page {
    display: flex;
}

.left__content__link {
    padding: 15px 0;
    padding-left: 15px;
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.option__left__content{
    padding-left: 15px;
}

.option__left__content:hover {
    background-color: gray;
}

.active__left__content__link {
    background-color: rgba(128, 128, 128, 0.7);
}

.icon__image__left__content{
    width: 30px;
}

.right__content {
    padding-left: 30px;
}

.tag__right__content {
    display: flex;
}

.tag__link__right__content {
    color: white;
    text-decoration: none;
    border-radius: 10px;
    padding: 15px;
    background-color: rgba(128, 128, 128, 0.7);
    margin-right: 10px;
}

.active__tag__right__content {
    background-color: white;
    color: black;
}

.unactive__tag__right__content:hover {
    background-color: gray;
    transition: 1s;
}

.all__room__display {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    justify-content: space-between;
}

.all__room__display > div {
    display: flex;
    justify-content: space-between;
}

.blank__image__each__display {
    width: 100%;
    height: 200%;
    background-color: white;
    border-radius: 15px;
    border: 1px solid black;
}
/*
.each__room__display {
    width: 30%;
}

.name__each__room__display {
    color:white;
}

.addr__each__room p {
    color: white;
} */