* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

:root {
    --first-color : #000000;
    --second-color : #3D0000;
    --third-color : #950101;
    --fourth-color : #FF0000;
}

html {
    background-color: var(--first-color);
}

#logo__header__img {
    width: 80px;
}

#avatar__account__img {
    width: 80px;
}

header{
    display: flex;
    width: 90%;
    margin: 0 auto;
    justify-content: space-between;
    margin-top: 15px;
    align-items: start;
}