* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

:root {
    --first-color : #000000;
    --second-color : #3D0000;
    --third-color : #950101;
    --fourth-color : #FF0000;
}

html {
    background-color: var(--first-color);
}

#logo__header__img {
    width: 80px;
}

#avatar__account__img {
    width: 40px;
}

#input__header__search {
    padding: 15px;
    border-radius: 15px;
    width: 120%;
    border: none;
    outline: none;
}

#input__header__search:focus {
    outline: 3px solid var(--fourth-color);
    margin-right: 15px;
}

header{
    display: flex;
    width: 95%;
    margin: 15px auto;
    justify-content: space-between;
    align-items: start;
}

.each__header__inner {
    display: flex;
    justify-content: space-between;
    align-items: start;
}

#btn__header__expand__option {
    color:white;
    background-color: transparent;
    border: none;
    outline: none;
    cursor:pointer;
}