* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

.basic__inform__room {
    width: 75%;
    margin: 15px auto;
    display: flex;
    justify-content: space-between;
}

