* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

.basic__inform__room {
    width: 85%;
    margin: 15px auto;
    display: flex;
    justify-content: space-between;
}

.img__detail__room {
    width: 50%;
}

.right__basic__inform {
    width: 50%;
    margin-left: 30px;
}

form {
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
}

#main__img__detail__room {
    width: 100%;
    border: 1px solid black;
}

.another__img__detail__room {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.another__img__detail__room img {
    width: 30%;
    margin-top: 15px;
    border: 1px solid black;
}

#name__room__title {
    font-size: 32px;
}

#price__detail__room__title {
    color: red;
    font-size: 22px;
    margin-top: 35px;
    margin-bottom: 35px;
}

.price__btn__booking__detail__room {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#btn__submit__booking__room {
    height: fit-content;
    padding: 15px 25px;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: blue;
    color: white;
    display: none;
}

.choose__date__use__room {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.choose__date__use__room > div {
    display: flex;
    flex-direction: column;
}

input[type='datetime-local'], input[type='number']{
    padding: 15px;
    border-radius: 5px;
}

label {
    margin-bottom: 5px;
}

.addr__detail__room {
    display: flex;
    justify-content: space-between;
    align-items: start;
}

#full__addr__detail__room {
    font-size: 14px;
}

.addr__detail__room > div > img {
    width: 30px;
    margin-right: 15px;
}

.addr__detail__room > div {
    display: flex;
    align-items: end;
}

.detail__inform__room {
    width: 85%;
    margin: 30px auto;
}

#title__detail__inform__room {
    font-size: 32px;
}

hr {
    margin-top: 15px;
    margin-bottom: 15px;
}

.describe__detail__inform__room {
    margin-bottom: 15px;
    margin-bottom: 15px;
    font-size: 22px;
}

.img__detail__inform__room {
    width: 70%;
    margin-bottom: 15px;
}

#img__logo__header {
    width: 70px;
}

header {
    width: 85%;
    margin: 15px auto;
    display: flex;
    justify-content: space-between;
}


#log__out__header__btn {
    text-decoration: none;
    cursor: pointer;
    color: black;
}

#not__valid__duration__room {
    color: red;
    font-size: 22px;
}

.show__duration__room {
    border-radius: 15px;
    border: 1px dashed black;
    padding: 15px;
}

.show__duration__room > div {
    display: flex;
    justify-content: space-between;
}

.valid__condition__rent__room__title {
    margin-top: 15px;
    color: red;
    border: 3px solid red;
    padding: 15px;
    width: 100%;
    border-radius: 15px;
}

.name__addr__detail__room {
    display: flex;
    justify-content: space-between;
}

.choose__service__detail__room {
    display: flex;
    justify-content: space-between;
}

select {
    padding: 15px;
}

.show__add__service__room {
    margin-top: 15px;
}

.show__add__service__room__inner {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    border: 1px solid black;
}

.show__service__default__add, .show__service__option__add {
    border-radius: 5px;
    border: 1px dashed black;
    padding: 5px;
    width: 48%;
}

.show__service__default__add > p, .show__service__option__add > p {
    margin-bottom: 30px;
}

.show__each__option__service {
    display: flex;
    justify-content: space-between;
}

#title__choose__default__option__service {
    margin-top: 30px;
    font-size: 22px;
}

.btn__add__service__room {
    padding: 15px;
    border: 5px;
    background-color: blue;
    color:white;
    cursor: pointer;
    border-radius: 5px;
}

.lst__default__service__add__room li {
    list-style-type: none;
    padding-left: 15px;
}

.lst__default__service__add__room > div {
    display: flex;
    justify-content: space-between;
}

.lst__default__service__add__room > div > div {
    display: flex;
    justify-content: space-between;
}

.lst__default__service__add__room > div > div > button, .lst__default__service__add__room > div > button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;

}

.lst__default__service__add__room > div > div > p {
    margin-left: 15px;
    margin-right: 15px;
}

.pop__up__confirm__delete {
    display: flex;
    flex-direction: column;
    padding: 15px;
    border: 1px solid black;
    border-radius: 5px;

    transform: translate(-50%, -50%);
}
