* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

.basic__inform__room {
    width: 85%;
    margin: 15px auto;
    display: flex;
    justify-content: space-between;
}

.img__detail__room {
    width: 50%;
}

.right__basic__inform {
    width: 50%;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
}

#main__img__detail__room {
    width: 100%;
    border: 1px solid black;
}

.another__img__detail__room {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.another__img__detail__room img {
    width: 30%;
    margin-top: 15px;
    border: 1px solid black;
}

#name__room__title {
    font-size: 32px;
}

#price__detail__room__title {
    color: red;
    font-size: 22px;
    margin-top: 35px;
    margin-bottom: 35px;
}

.price__btn__booking__detail__room {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#btn__submit__booking__room {
    height: fit-content;
    padding: 15px 25px;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: blue;
    color: white;
}

.choose__date__use__room {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.choose__date__use__room > div {
    display: flex;
    flex-direction: column;
}

input[type='datetime-local']{
    padding: 15px;
    border-radius: 5px;
}

label {
    margin-bottom: 5px;
}

.addr__detail__room {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: end;
}

#full__addr__detail__room {
    font-size: 22px;
}

.addr__detail__room > div > img {
    width: 30px;
    margin-right: 15px;
}

.addr__detail__room > div {
    display: flex;
    align-items: end;
}

.detail__inform__room {
    width: 85%;
    margin: 30px auto;
}

#title__detail__inform__room {
    font-size: 32px;
}

hr {
    margin-top: 15px;
    margin-bottom: 15px;
}

.describe__detail__inform__room {
    margin-bottom: 15px;
    margin-bottom: 15px;
    font-size: 22px;
}