* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

.basic__inform__room {
    width: 75%;
    margin: 15px auto;
    display: flex;
    justify-content: space-between;
}

.img__detail__room {
    width: 50%;
    padding: 15px;
    border-radius: 15px;
    border: 5px solid black;
}

.right__basic__inform {
    width: 50%;
    margin-left: 30px;
}

#main__img__detail__room {
    width: 200px;
}

