:root {
    --first-color : #0D1282;
    --second-color : #EEEDED;
    --third-color : #F0DE36;
    --fourth-color : #D71313;
}

table {
    width: 90%;
    border-collapse: collapse;
    text-align: center;
}

td, th {
    border: 1px solid black;
    padding-top: 15px;
    padding-bottom: 15px;
}

.btn__detail__rent__room {
    margin-top: 30px;
    text-align: right;
    width: 90%;
}

.btn__detail__rent__room > div > button {
    padding: 15px 25px;
    background-color: var(--first-color);
    outline: none;
    border: none;
}