table {
    width: 90%;
    border-collapse: collapse;
    text-align: center;
}

td, th {
    border: 1px solid black;
    padding-top: 15px;
    padding-bottom: 15px;
}

.btn__detail__rent__room {
    margin-top: 30px;
    text-align: right;
}