* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

:root {
    --first-color : #0D1282;
    --second-color : #EEEDED;
    --third-color : #F0DE36;
    --fourth-color : #D71313;
}

table {
    margin-top: 15px;
    width: 95%;
    border-collapse: collapse;
}

th, td {
    border-bottom: 1px solid black;
    text-align: center;
    border: 1px solid black;
    padding-top: 15px;
    padding-bottom: 15px;
}

tr:nth-child(even){
    background-color: blanchedalmond;
}

tr:hover {
    background-color: rgba(128, 128, 128, 0.3);
    cursor: pointer;
}