* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

.show__pagination__page {
    text-align: right;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 15px;
}

#btn__first__pagination__page, #btn__previous__pagination, #btn__next__pagination, #btn__end__pagination__page {
    background-color: black;
    color: white;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 5px;
}

#btn__first__pagination__page:hover, #btn__previous__pagination:hover, #btn__next__pagination:hover, #btn__end__pagination__page:hover {
    cursor: pointer;
    opacity: 0.5;
}