* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

:root {
    --first-color : #0D1282;
    --second-color : #EEEDED;
    --third-color : #F0DE36;
    --fourth-color : #D71313;
}

.each__room__display {
    width: 30%;
    height: max-content;
    margin-bottom: 50px;
    margin-left: 30px;
}

.name__each__room__display {
    color:black;
    font-size: 22px;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 15px;
    text-decoration: none;
}

.inform__each__room p {
    color: black;
}

.addr__each__room {
    margin-bottom: 15px;
}

.capacity__type__inner {
    display: flex;
    justify-content: space-between;
}