* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

.show__all__user {
    width: 75%;
    margin: 15px auto;
}

table {
    width: 100%;
    border: 1px solid black;
    border-collapse: collapse;
}