* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

.show__all__user {
    width: 75%;
    margin: 15px auto;
}

table {
    width: 100%;
    border: 1px solid black;
    border-collapse: collapse;
}

tr {
    border: 1px solid black;
}

th, td {
    border: 1px solid black;
    padding: 15px 5px;
    text-align: center;
}

.btn__table__all__user {
    padding: 15px 25px;
    border: none;
    outline: none;
    background-color: blue;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}