* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

form {
    width: 75%;
    margin: 15px auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

tr {
    border: 1px solid black;
}

th, td {
    border: 1px solid black;
    text-align: center;
    padding: 15px 25px;
}

input[type='submit']{
    padding: 15px 25px;
    border: none;
    outline: none;
    border-radius: 15px;
    color: white;
}