* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

.header__inner {
    width: 75%;
    margin: 15px auto;
    display: flex;
    justify-content: space-between;
}

.header__inner__img img {
    width: 100px;
}