* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

.export__homepage__static__admin {
    width: 75%;
    margin: 35px auto;
}

.link__export__static {
    text-decoration: none;
    color: white;
    background-color: blue;
    padding: 15px 25px;
    border-radius: 5px;
    cursor: pointer;
}