* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

.header__inner {
    width: 75%;
    margin: 15px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__inner__img img {
    width: 100px;
}

.header__inner__link {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.header__inner__option {
    width: 30%;
    display: flex;
    justify-content: space-between;
}

header {
    background-color: white;
}