{% extends 'payment_method_page.html' %}

{% block add_payment_method %}
    <form method="post">
        <div class="add__payment__method__page">
            <table>
                <tr>
                    <th>Name</th>
                    <th>Note</th>
                </tr>
                <tr>
                    <td>
                        <input type="text" name="new_name_add_payment_method">
                    </td>
                    <td>
                        <textarea name="new_note_add_payment_method"></textarea>
                    </td>
                </tr>
            </table>
        </div>
        <div class="submit__add__new__payment__method">
            <button type="button">Add</button>
        </div>
    </form>
{% endblock %}