{% extends 'payment_method_page.html' %}

{% block add_payment_method %}
    <form method="post">
        <table>
            <tr>
                <th>Name</th>
                <th>Note</th>
            </tr>
        </table>
    </form>
{% endblock %}