<link rel="stylesheet" href="{{url_for('EDITOR_bp.static', filename = 'css/base_editor_page.css')}}">
<header>
    <div class="header__inner">
        <div>
            <a href="{{url_for('EDITOR_bp.homepage_editor_page')}}">
                <img src="{{url_for('EDITOR_bp.static', filename = 'images/Logo-white.png')}}" alt="Logo image" id="logo__img__header">
            </a>
        </div>
        <div class='header__menu__link'>
            <a href="{{url_for('EDITOR_bp.ins_new_room')}}">Tạo phòng họp mới</a>
            <a href="#">Lịch sử đơn hàng</a>
            <a href="#">Chỉnh sửa thông tin phòng</a>
            <a href="#">Phương thức thanh toán</a>
            <a href="#">Thêm giá và khoảng thời gian</a>
        </div>
        <div>
            <a href="{{url_for('EDITOR_bp.log_out')}}" id="log__out__editor__link">Đăng xuất</a>
        </div>
    </div>
</header>
<div class="content__editor__page">
    {% block content_editor_page %}
    {% endblock %}
</div>