<link rel="stylesheet" href="{{url_for('EDITOR_bp.static', filename = 'css/base_editor_page.css')}}">
<header>
    <div class="header__inner">
        <img src="{{url_for('EDITOR_bp.static', filename = 'images/Logo-white.png')}}">
    </div>
</header>