<link rel="stylesheet" href="{{url_for('EDITOR_bp.static', filename = 'css/base_editor_page.css')}}">
<header>
    <div class="header__inner">
        <div>
            <img src="{{url_for('EDITOR_bp.static', filename = 'images/Logo-white.png')}}" alt="Logo image" id="logo__img__header">
        </div>
        <div>
            <a href="#"></a>
        </div>
        <div>
            <a href="#" id="log__out__editor__link">Đăng xuất</a>
        </div>
    </div>
</header>
<div class="content__editor__page">
    a
</div>