<link rel="stylesheet" href="{{url_for('EDITOR_bp.static', filename = 'css/base_editor_page.css')}}">
<header>
    <div class="header__inner">
        <div>
            <img src="{{url_for('EDITOR_bp.static', filename = 'images/Logo-white.png')}}" alt="Logo image" id="logo__img__header">
        </div>
        <div class='header__menu'>
            <a href="#">Tạo phòng họp mới</a>
            <a href="#">Lịch sử đơn hàng</a>
            <a href="#">Chỉnh sửa thông tin phòng</a>
            <a href="#">Phương thức thanh toán</a>
        </div>
        <div>
            <a href="#" id="log__out__editor__link">Đăng xuất</a>
        </div>
    </div>
</header>
<div class="content__editor__page">
    a
</div>