<link rel="stylesheet" href="{{url_for('EDITOR_bp.static', filename = 'css/base_editor_page.css')}}">
<header>
    <div class="header__inner">
        <div>
            <a href="{{url_for('EDITOR_bp.homepage_editor_page')}}">
                <img src="{{url_for('EDITOR_bp.static', filename = 'images/Logo-white.png')}}" alt="Logo image" id="logo__img__header">
            </a>
        </div>
        <div class="group__header__menu__link">
            <div class='header__menu__link'>
                <a href="{{url_for('EDITOR_bp.ins_new_room')}}">Tạo phòng họp mới</a>
                <a href="{{url_for('EDITOR_bp.show_all_booking_room', status_booking_room = 'all', current_page_para = 1)}}">Lịch sử đơn hàng</a>
                <a href="#">Chỉnh sửa thông tin phòng</a>
                <a href="#">Phương thức thanh toán</a>
                <a href="{{url_for('EDITOR_bp.price_and_duration')}}">Giá và khoảng thời gian</a>
                <a href="{{url_for('EDITOR_bp.service_editor_page')}}">Dịch vụ</a>
            </div>
            <div class='header__menu__link'>
                <a href="{{url_for('EDITOR_bp.insert_new_booking_room')}}">Tạo đặt phòng mới</a>
            </div>
        </div>
        <div>
            <a href="{{url_for('EDITOR_bp.log_out')}}" id="log__out__editor__link">Đăng xuất</a>
        </div>
    </div>
</header>
<div>
    {% block content_editor_page %}
    {% endblock %}
</div>