{% extends 'service_editor_page.html' %}

{% block content_service_editor_page %}
    <link rel="stylesheet" href="{{url_for('EDITOR_bp.static', filename = 'css/default_service_editor_page.css')}}">
    <div class="default__service__editor__page__inner">
        <form method="post">
            <div class="each__inform__default__service">
                <label>Name Service :</label>
                <input type="text" name="new_name_default_service" required>
            </div>
            <div class="each__inform__default__service">
                <label>Start Time :</label>
                <input type="datetime-local" name="start_time_default_service" required>
            </div>
            <div class="each__inform__default__service">
                <label>End Time :</label>
                <input type="datetime-local" name="end_time_default_service">
            </div>
            <div class="each__inform__default__service">
                {% if all_price is defined %}
                    {% if all_price|length == 0 %}
                        <label>Chưa có giá tiền nào được thêm vào</label>
                    {% else %}
                        <label>Price :</label>
                        <select name="price_default_service">
                            <option value="choose_price">Choose Price</option>
                            {% for price in all_price %}
                                <option value="{{price[0]}}">{{price[4]}}</option>
                            {% endfor %}
                        </select>
                    {% endif %}
                {% else %}
                    <label>Không lấy được danh sách giá tiền đang có</label>
                {% endif %}
            </div>
        </form>
        <div class="submit__btn__ins__new__default__service">
            <input type="submit" name="ins_new_default_service" value="Create">
        </div>
    </div>
{% endblock %}