{% extends 'service_editor_page.html' %}

{% block content_service_editor_page %}
    <link rel="stylesheet" href="{{url_for('EDITOR_bp.static', filename = 'css/default_service_editor_page.css')}}">
    <div class="default__service__editor__page__inner">
        <form method="post">
            <div class="each__inform__default__service">
                <label>Name Service :</label>
                <input type="text" name="new_name_default_service">
            </div>
            <div class="each__inform__default__service">
                <label>Start Time :</label>
                <input type="datetime-local" name="start_time_default_service">
            </div>
            <div class="each__inform__default__service">
                <label>End Time :</label>
                <input type="datetime-local" name="end_time_default_service">
            </div>
            <div class="each__inform__default__service">
                <label>Price :</label>
                <input type="datetime-local" name="price_default_service">
            </div>
        </form>
    </div>
{% endblock %}