{% extends 'service_editor_page.html' %}

{% block content_service_editor_page %}
    <div class="default__service__editor__page__inner">
        <form method="post">
            <div class="each__inform__default__service">

            </div>
        </form>
    </div>
{% endblock %}