{% extends 'service_editor_page.html' %}

{% block content_service_editor_page %}
    <link rel="stylesheet" href="{{url_for('EDITOR_bp.static', filename = 'css/default_service_editor_page.css')}}">
    <div class="default__service__editor__page__inner">
        <form method="post">
            <div class="each__inform__default__service">
                <label>Name Service :</label>
                <input type="text" name="new_name_default_service" required>
            </div>
        </form>
        <div class="submit__btn__ins__new__default__service">
            <input type="submit" name="ins_new_default_service" value="Create">
        </div>
    </div>
{% endblock %}