{% extends 'history_booking_room.html' %}

{% block content_history_booking_room %}
    <link rel="stylesheet" href="{{url_for('EDITOR_bp.static', filename = 'css/detail_booking_room_by_code.css')}}">
    <script src="{{url_for('EDITOR_bp.static', filename = 'javascript/detail_booking_room_by_code.js')}}"></script>
    <div class="detail__one__booking">
        <div class="show__inform__room">
            <table>
                <caption>Information Room</caption>
                <tr>
                    <th>Name</th>
                    <th>Capacity</th>
                    <th>Square</th>
                    <th>Type</th>
                    <th>Province</th>
                    <th>District</th>
                    <th>Ward</th>
                    <th>Price Room</th>
                    <th>Default Service</th>
                    <th>Option Service</th>
                    <th>Image</th>
                </tr>
                <tr>
                    <td>{{get_room_by_code.name_room}}</td>
                    <td>{{get_room_by_code.capacity}}</td>
                    <td>{{get_room_by_code.square}}</td>
                    <td>{{get_room_by_code.type}}</td>
                    <td>{{get_room_by_code.province}}</td>
                    <td>{{get_room_by_code.district}}</td>
                    <td>{{get_room_by_code.ward}}</td>
                    <td>{{get_price_room[0].price}}</td>
                    <td>
                        {% for each_service in get_default_service_room %}
                            <p>{{each_service}} : <span>{{get_default_service_room[each_service]}}</span></p>
                        {% endfor %}
                    </td>
                    <td>
                        {% for each_service in get_option_service_room %}
                            <p>{{each_service}} : <span>{{get_option_service_room[each_service]}}</span></p>
                        {% endfor %}
                    </td>
                    <td>
                        <a href="#">Link</a>
                    </td>
                </tr>
            </table>
        </div>
        <div class="show__inform__booking">
            <table>
                <caption>Information Booking</caption>
                <table>
                    <tr>
                        <th>Time booking</th>
                        <th>Time start</th>
                        <th>Default service</th>
                        <th>Option service</th>
                        <th>Minute rent</th>
                        <th>Status</th>
                        <th>Total price</th>
                        <th>Option service Price</th>
                        <th>Note</th>
                        <th>Code booking</th>
                        <th>Billing option</th>
                    </tr>
                    <tr>
                        <td>{{get_booking_room_by_code.time_booking}}</td>
                        <td>{{get_booking_room_by_code.time_start}}</td>
                        <td>
                            {% for each_service in get_default_service_booking %}
                                <p>{{each_service}} : <span>{{get_default_service_booking[each_service]}}</span></p>
                            {% endfor %}
                        </td>
                        <td>
                            {% for each_service in get_option_service_booking %}
                                <p>{{each_service}} : <span>{{get_option_service_booking[each_service]}}</span></p>
                            {% endfor %}
                        </td>
                        <td>{{get_booking_room_by_code.minute_rent}}</td>
                        <td>{{get_booking_room_by_code.status}}</td>
                        <td>{{get_booking_room_by_code.total_price}}</td>
                        <td>{{get_booking_room_by_code.option_service_price}}</td>
                        <td>{{get_booking_room_by_code.note_booking}}</td>
                        <td>{{get_booking_room_by_code.code_booking}}</td>
                        <td>{{get_booking_room_by_code.billing_option}}</td>
                    </tr>
                </table>
            </table>
        </div>
        <div class="btn__detail__one__booking">
            {% if get_booking_room_by_code.status == 'Pending' %}
                <button>Cancel</button>
            {% endif %}
            <button>Delete</button>
            <button>Edit</button>
        </div>
    </div>

{% endblock %}