{% extends 'history_booking_room.html' %}

{% block content_history_booking_room %}
    <link rel="stylesheet" href="{{url_for('EDITOR_bp.static', filename = 'css/detail_booking_room_by_code.css')}}">
    <div class="detail__one__booking">
        <div class="show__inform__room">
            <table>
                <caption>Information Room</caption>
                <tr>
                    <th>Name</th>
                    <th>Capacity</th>
                    <th>Square</th>
                    <th>Type</th>
                    <th>Province</th>
                    <th>District</th>
                    <th>Ward</th>
                    <th>Price Room</th>
                    <th>Default Service</th>
                    <th>Option Service</th>
                    <th>Image</th>
                </tr>
                <tr>
                    <td>{{get_room_by_code.name_room}}</td>
                    <td>{{get_room_by_code.capacity}}</td>
                    <td>{{get_room_by_code.square}}</td>
                    <td>{{get_room_by_code.type}}</td>
                    <td>{{get_room_by_code.province}}</td>
                    <td>{{get_room_by_code.district}}</td>
                    <td>{{get_room_by_code.ward}}</td>
                    <td>{{get_price_room[0].price}}</td>
                    <td>{{get_room_by_code.default_service}}</td>
                    <td>{{get_room_by_code.option_service}}</td>
                    <th>
                        <a href="#"></a>
                    </th>
                </tr>
            </table>
        </div>
        <div class="show__inform__booking">
            <table>
                <caption>Information Booking</caption>
            </table>
        </div>
        <div class="btn__detail__one__booking">
            <a href="#"><button>Delete</button></a>
            <a href="#"><button>Edit</button></a>
        </div>
    </div>

{% endblock %}