{% extends 'history_booking_room.html' %}

{% block content_history_booking_room %}
    <link rel="stylesheet" href="{{url_for('EDITOR_bp.static', filename = 'css/detail_booking_room_by_code.css')}}">
    <div class="detail__one__booking">
        <div class="show__inform__room">

        </div>
        <div class="show__inform__booking">

        </div>
    </div>
    <div class="btn__detail__one__booking">
        
    </div>
{% endblock %}