{% extends 'price_and_duration.html' %}

{% block duration_editor_page %}
    <link rel="stylesheet" href="{{url_for('EDITOR_bp.static', filename = 'css/duration_editor_page.css')}}">
    <div class="content__duration__editor__page">
        {% if all_duration is defined %}
            <table>
                <tr>No.</tr>
                <tr>Duration</tr>
                <tr>Start Time</tr>
                <th>End Time</th>
                <th>Name</th>
            </table>
        {% endif %}
    </div>
{% endblock %}