{% extends 'price_and_duration.html' %}

{% block duration_editor_page %}
    <link rel="stylesheet" href="{{url_for('EDITOR_bp.static', filename = 'css/duration_editor_page.css')}}">
    {% if ins_new_duration_msg_success is defined %}
        <div class="ins__new__duration__msg__success">
            <p>{{ins_new_duration_msg_success}}</p>
        </div>
    {% endif %}
    {% if ins_new_duration_msg_fail is defined %}
        <div class="ins__new__duration__msg__fail">
            <p>{{ins_new_duration_msg_fail}}</p>
        </div>
    {% endif %}
    <div class="content__duration__editor__page">
        {% if all_duration is defined %}
            <table>
                <caption>Show all duration</caption>
                <tr>
                    <th>No.</th>
                    <th>Duration</th>
                    <th>Start Time</th>
                    <th>End Time</th>
                    <th>Name</th>
                </tr>
                {% for duration in all_duration %}
                    <tr>
                        <td>{{loop.index}}</td>
                        <td>{{duration[1]}}</td>
                        <td>{{duration[2]}}</td>
                        <td>{{duration[3]}}</td>
                        <td>{{duration[4]}}</td>
                    </tr>
                {% endfor %}
            </table>
        {% endif %}
        <div class="ins__new__duration">
            <form method="post">
                <div class="each__inform__new__duration">
                    <label>Duration :</label>
                    <input type="number" name="new_duration">
                </div>
                <div class="each__inform__new__duration">
                    <label>Start Time :</label>
                    <input type="datetime-local" name="new_start_time">
                </div>
                <div class="each__inform__new__duration">
                    <label>End Time :</label>
                    <input type="datetime-local" name="new_end_time">
                </div>
                <div class="each__inform__new__duration">
                    <label>Name :</label>
                    <input type="text" name="new_name">
                </div>
                <i id="note__ins__new__duration">( Lưu ý : Nếu không chọn thời gian kết thúc.Thời gian kết thúc sẽ được tính đến vĩnh viễn )</i>
                <br><br><input type="submit" value='Create' name="submit_ins_new_duration">
            </form>
        </div>
    </div>
{% endblock %}