{% extends 'payment_method_page.html' %}

{% block edit_payment_method %}
    <form method="post">
        <div class="edit__payment__method__by__name">
            <table>
                <tr>
                    <th>Name</th>
                    <th>Note</th>
                </tr>
                <tr>
                    <td>
                        <input type='text' name="name_edit_payment_method">
                    </td>
                    <td>
                        <textarea name="note_edit_payment_method"></textarea>
                    </td>
                </tr>
            </table>
            <div class="submit__edit__payment__method">
                <button type="button">Edit</button>
                <input type="submit" name="submit_edit_payment_method" hidden>
            </div>
        </div>
    </form>
{% endblock %}