{% extends 'history_booking_room.html' %}

{% block content_history_booking_room %}
    <div class="edit__booking__room__by__code">
        <table>
            <caption>Old Booking</caption>
            <tr>
                <th>Time Start</th>
                <th>Default Service</th>
                <th>Option Service</th>
                <th>Minute Rent</th>
                <th>Note Booking</th>
                <th>Billing Option</th>
                <th>Status</th>
                <th>Flag Booking</th>             
            </tr>
            <tr>
                <td>{{get_booking_room_by_code.time_start}}</td>
                <td>{{get_booking_room_by_code.default_service}}</td>
                <td>{{get_booking_room_by_code.option_service}}</td>
                <td>{{get_booking_room_by_code.minute_rent}}</td>
                <td>{{get_booking_room_by_code.note_booking}}</td>
                <td>{{get_booking_room_by_code.billing_option}}</td>
                <td>{{get_booking_room_by_code.status}}</td>
                <td>{{get_booking_room_by_code.flag_booking}}</td>
            </tr>
        </table>
    </div>
{% endblock %}