{% extends 'history_booking_room.html' %}

{% block content_history_booking_room %}
    <link rel="stylesheet" href="{{url_for('EDITOR_bp.static', filename = 'css/edit_booking_room_by_code.css')}}">
    <script src="{{url_for('EDITOR_bp.static', filename = 'javascript/edit_booking_room_by_code.js')}}"></script>
    <script>
        var time_booking_old = "{{get_booking_room_by_code.time_booking}}"
    </script>
    <div class="edit__booking__room__by__code">
        <div class="old__booking__room">
            <table>
                <caption>Old Booking</caption>
                <tr>
                    <th>Time Booking</th>
                    <th>Time Start</th>
                    <th>Default Service</th>
                    <th>Option Service</th>
                    <th>Minute Rent</th>
                    <th>Note Booking</th>
                    <th>Billing Option</th>
                    <th>Status</th>
                    <th>Flag Booking</th>             
                </tr>
                <tr>
                    <td>{{get_booking_room_by_code.time_booking}}</td>
                    <td>{{get_booking_room_by_code.time_start}}</td>
                    <td>{{get_booking_room_by_code.default_service}}</td>
                    <td>{{get_booking_room_by_code.option_service}}</td>
                    <td>{{get_booking_room_by_code.minute_rent}}</td>
                    <td>{{get_booking_room_by_code.note_booking}}</td>
                    <td>{{get_booking_room_by_code.billing_option}}</td>
                    <td>{{get_booking_room_by_code.status}}</td>
                    <td>{{get_booking_room_by_code.flag_booking}}</td>
                </tr>
            </table>
        </div>
        <form method="post">
            <div class="new__booking__room">
                <p id="title__new__booking__room">New Booking Information</p>
                <div class="input__group__new__booking__room">
                    <div class="input__group__item">
                        <div>
                            <label>Time Start</label>
                            <input type="datetime-local" name="new_time_start_booking" id="old__time__start__booking" oninput="check_new_time_start()" required>
                        </div>
                        <div>
                            <label>Minute Rent</label>
                            <input type="number" name="new_minute_rent_booking" max="{{get_duration.duration}}" min="1" required>
                            <i>( Minute rent in range 1 and {{get_duration.duration}} )</i>
                        </div>
                    </div>
                    <div class="input__group__item">
                        <div>
                            <label>Note Booking</label>
                            <input type="text" name="new_note_booking">
                        </div>
                        <div>
                            <label>Billing Option</label>
                            <select name="new_billing_option">
                                <option value="momo">MoMo</option>
                                <option value="money">Money</option>
                                <option value="banking">Banking</option>
                            </select>
                        </div>
                    </div>
                </div>
                <input type="submit" name="submit_new_edit_booking_room" value="Finish">
            </div>
        </form>
    </div>
{% endblock %}