{% extends 'base_editor_page.html' %}

{% block content_editor_page %}
    <link rel="stylesheet" href="{{url_for('EDITOR_bp.static', filename = 'css/edit_room_by_code.css')}}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="{{url_for('EDITOR_bp.static', filename = 'javascript/edit_room.js')}}"></script>
    <script>
        document.onreadystatechange = function(){
            if (document.readyState === 'interactive') {
                onLoadProvince();
            }
        } 
    </script>
    <div class="edit__room__by__code">
        <div class="each__edit__room">
            <div>
                <label>Capacity : </label>
                <input type="number" name="new_capacity_edit_room">
            </div>
            <div>
                <label>Square : </label>
                <input type="number" name="new_square_edit_room">
            </div>
            <div>
                <label>Type : </label>
                <select name="new_type_edit_room">
                    <option value="small">Small</option>
                    <option value="medium">Medium</option>
                    <option value="big">Big</option>
                </select>
            </div>
        </div>
        <div class="each__edit__room">
            <div>
                <label>Province : </label>
                <select class='province__select__edit__room' name="new_province_edit_room" onchange = "loadDistrict()">
                    <option value="not_province">Choose Province</option>
                </select>
            </div>
            <div>
                <label>District : </label>
                <select class="district__select__edit__room" name="new_district_edit_room" onchange = "loadWard()">
                    <option value="not_district">Choose District</option>
                </select>
            </div>
            <div>
                <label>Ward : </label>
                <select name="new_ward_edit_room">
                    <option value="not_ward">Choose Ward</option>
                </select>
            </div>
        </div>
        <div class="each__edit__room">
            <div>
                <label>Price</label>
                <select name="new_price_edit_room">
                    <option value="not_price">Choose Price</option>
                </select>
            </div>
            <div>
                <label>Duration</label>
                <select name="new_duration_edit_room">
                    <option value="not_duration">Choose Duration</option>
                </select>
            </div>
            <div>
                <label>Name Room</label>
                <input name="new_name_edit_room" type="text">
            </div>
        </div>
        <div class="each__edit__room">
            <div>
                <label>Default Service</label>
                <select name="new_default_service_edit_room">
                    <option>Choose Default Service</option>
                </select>
                <button type="button">Add</button>
            </div>
            <div>
                <label>Option Service</label>
                <select name="new_option_service_edit_room">
                    <option>Choose Option Service</option>
                </select>
                <button type="button">Add</button>
            </div>
        </div>
    </div>
{% endblock %}