{% extends 'history_booking_room.html' %}

{% block content_history_booking_room %}
    <div class="edit__booking__room__by__code">
        <table>
            <caption>Old Booking</caption>
        </table>
    </div>
{% endblock %}