{% extends 'base_editor_page.html' %}

{% block content_editor_page %}
    <link rel="stylesheet" href="{{url_for('EDITOR_bp.static', filename = 'css/edit_room_by_code.css')}}">

    <div class="edit__room__by__code">
        <div class="each__edit__room">
            <div>
                <label>Capacity</label>
                <input type="number" name="new_capacity_edit_room">
            </div>
            <div>
                <label>Square</label>
                <input type="number" name="new_square_edit_room">
            </div>
            <div>
                <label>Type</label>
                <select name="new_type_edit_room">
                    <option value="small">Small</option>
                    <option value="medium">Medium</option>
                    <option value="big">Big</option>
                </select>
            </div>
        </div>
        <div class="each__edit__room">
            <div>
                <label>Province</label>
            </div>
            <div>

            </div>
            <div>

            </div>
        </div>
    </div>
{% endblock %}