{% extends 'history_booking_room.html' %}

{% block content_history_booking_room %}
    <div class="edit__booking__room__by__code">
        <table>
            <caption>Old Booking</caption>
            <tr>
                <th>Time Start</th>
                <th>Default Service</th>
                <th>Option Service</th>
                <th>Minute Rent</th>
                <th>Note Booking</th>
                <th>Billing Option</th>
                <th>Status</th>
                <th>Flag Booking</th>             
            </tr>
        </table>
    </div>
{% endblock %}