{% extends 'base_editor_page.html' %}

{% block content_editor_page %}
    <div class="edit__room__by__code">
        <div class="each__edit__room">
            <label>Capacity</label>
        </div>
    </div>
{% endblock %}