{% extends 'base_editor_page.html' %}

{% block content_editor_page %}
    <link rel="stylesheet" href="{{url_for('EDITOR_bp.static', filename = 'css/edit_room_by_code.css')}}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="{{url_for('EDITOR_bp.static', filename = 'javascript/edit_room.js')}}"></script>
    <script>
        document.onreadystatechange = function(){
            if (document.readyState === 'interactive') {
                onLoadProvince();
            }
        } 
    </script>
    <div class="note__edit__room__when__submit"></div>
    <form method="post">
        <div class="edit__room__by__code">
            <div class="each__edit__room">
                <div>
                    <label>Capacity : </label>
                    <input type="number" name="new_capacity_edit_room">
                </div>
                <div>
                    <label>Square : </label>
                    <input type="number" name="new_square_edit_room">
                </div>
                <div>
                    <label>Type : </label>
                    <select name="new_type_edit_room">
                        <option value="small">Small</option>
                        <option value="medium">Medium</option>
                        <option value="big">Big</option>
                    </select>
                </div>
            </div>
            <div class="each__edit__room">
                <div>
                    <label>Province : </label>
                    <select class='province__select__edit__room' name="new_province_edit_room" onchange = "loadDistrict()" oninput="check_valid_province_input()">
                        <option value="not_province">Choose Province</option>
                    </select>
                </div>
                <div>
                    <label>District : </label>
                    <select class="district__select__edit__room" name="new_district_edit_room" onchange = "loadWard()" oninput="check_valid_district_input()">
                        <option value="not_district">Choose District</option>
                    </select>
                </div>
                <div>
                    <label>Ward : </label>
                    <select name="new_ward_edit_room" class="ward__select__edit__room" oninput="check_valid_ward_input()">
                        <option value="not_ward">Choose Ward</option>
                    </select>
                </div>
            </div>
            <div class="each__edit__room">
                <div>
                    <label>Price</label>
                    <select name="new_price_edit_room" class="price__select__edit__room" oninput="check_valid_price_input()">
                        <option value="not_price">Choose Price</option>
                        {% for each_price in get_all_price %}
                            <option value="{{each_price.id}}">{{each_price.full_name}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div>
                    <label>Duration</label>
                    <select name="new_duration_edit_room" class="duration__select__edit__room" oninput="check_valid_duration_input()">
                        <option value="not_duration">Choose Duration</option>
                        {% for each_duration in get_all_duration %}
                            <option value="{{each_duration.id}}">{{each_duration.full_name}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div>
                    <label>Name Room</label>
                    <input name="new_name_edit_room" type="text">
                </div>
            </div>
            {#
            <div class="each__edit__room">
                <div>
                    <label>Default Service</label>
                    <select name="new_default_service_edit_room">
                        <option>Choose Default Service</option>
                    </select>
                    <button type="button">Add</button>
                </div>
                <div>
                    <label>Option Service</label>
                    <select name="new_option_service_edit_room">
                        <option>Choose Option Service</option>
                    </select>
                    <button type="button">Add</button>
                </div>
            </div>#}
            <i>(Note : sửa dịch vụ hoặc sửa ảnh chưa hỗ trợ, đang code)</i>
        </div>
        <button type="button" onclick="check_valid_input_information()">Edit</button>
        <input class="submit__edit__room" type="submit" value="Edit" name="submit_edit_room" hidden>
    </form>
{% endblock %}