{% extends 'payment_method_page.html' %}

{% block edit_payment_method %}
    <form method="post">
        <div class="edit__payment__method__by__name">
            <table>
                <tr>
                    <th>Name</th>
                    <th>Note</th>
                </tr>
            </table>
        </div>

    </form>
{% endblock %}