{% extends 'base_editor_page.html' %}

{% block content_editor_page %}
    <link rel="stylesheet" href="{{url_for('EDITOR_bp.static', filename = 'css/history_booking_room.css')}}">
    <div class="title_history_booking_room">
        <div>
        <h3>History</h3>
        <p>All Booking Room ! ( Finish Booking - Pending Booking - Cancel Booking )</p>
        </div>
    </div>
    <div class="content__history__booking__room">

    </div>
{% endblock %}