{% extends 'base_editor_page.html' %}

{% block content_editor_page %}
    <link rel="stylesheet" href="{{url_for('EDITOR_bp.static', filename = 'css/history_booking_room.css')}}">
    <div class="option__bar__history__booking">
        <div class="title_history_booking_room">
            <h3>History</h3>
            <p>All Booking Room ! ( Finish Booking - Pending Booking - Cancel Booking )</p>
        </div>
        <div class="btn__option__history__booking">
            <a href="#"><button type="button">All Booking</button></a>
            <a href="#"><button type="button">Cancel Booking</button></a>
            <a href="#"><button type="button">Pending Booking</button></a>
            <a href="#"><button type="button">Finish Booking</button></a>
        </div>
    </div>
    <div class="content__history__booking__room">
        {% if lst_booking_room is defined %}
            {% if lst_booking_room|length == 0 %}
                <p>Chưa có bất kỳ lịch sử nào được lưu</p>
            {% elif lst_booking_room|length != 0 %}
                <br>
                <table>
                    <tr>
                        <th>No</th>
                        <th>Name room</th>
                        <th>Name user booking</th>
                        <th>Time booking</th>
                        <th>Time start use</th>
                        <th>Total price</th>
                        <th>Code booking</th>
                    </tr>
                    {% for each_booking in lst_booking_room %}
                        <tr>
                            <td>{{loop.index}}</td>
                            <td>{{lst_all_room[loop.index - 1].name_room}}</td>
                            <td>{{lst_name_user[loop.index - 1]}}</td>
                            <td>{{each_booking.time_booking}}</td>
                            <td>{{each_booking.time_start}}</td>
                            <td>{{each_booking.total_price}}</td>
                            <td></td>
                        </tr>
                    {% endfor %}
                </table>
            {% endif %}
        {% else %}
            <p>Không lấy được lịch sử đặt phòng. Liên hệ quản trị viên để biết thêm thông tin</p>
        {% endif %}
    </div>
{% endblock %}