{% extends 'base_editor_page.html' %}

{% block content_editor_page %}
    <link rel="stylesheet" href="{{url_for('EDITOR_bp.static', filename = 'css/history_booking_room.css')}}">
    <div class="option__bar__history__booking">
        <div class="title_history_booking_room">
            <h3>History</h3>
            <p>All Booking Room ! ( Finish Booking - Pending Booking - Cancel Booking )</p>
        </div>
        <div class="btn__option__history__booking">
            <a href="{{url_for('EDITOR_bp.show_all_booking_room', status_booking_room = 'all', current_page_para = 1)}}"><button type="button">All Booking</button></a>
            <a href="{{url_for('EDITOR_bp.show_all_booking_room', status_booking_room = 'cancel', current_page_para = 1)}}"><button type="button">Cancel Booking</button></a>
            <a href="{{url_for('EDITOR_bp.show_all_booking_room', status_booking_room = 'pending', current_page_para = 1)}}"><button type="button">Pending Booking</button></a>
            <a href="{{url_for('EDITOR_bp.show_all_booking_room', status_booking_room = 'finish', current_page_para = 1)}}"><button type="button">Finish Booking</button></a>
            <a href="#"><button type="button">Insert Booking</button></a>
        </div>
    </div>
    {% block content_history_booking_room %}
    {% endblock %}
{% endblock %}