{% extends 'base_editor_page.html' %}

{% block content_editor_page %}
    <div class="title_history_booking_room">
        <h3>Insert New Room</h3>
        <p>New Room ! New Customer</p>
    </div>
    <div class="content__history__booking__room">
        
    </div>
{% endblock %}