{% extends 'base_editor_page.html' %}

{% block content_editor_page %}
    <link rel="stylesheet" href="{{url_for('EDITOR_bp.static', filename = 'css/history_booking_room.css')}}">
    <div class="option__bar__history__booking">
        <div class="title_history_booking_room">
            <h3>History</h3>
            <p>All Booking Room ! ( Finish Booking - Pending Booking - Cancel Booking )</p>
        </div>
        <div class="btn__option__history__booking">
            <a href="#"><button type>All Booking</button></a>
            <a href="#">Cancel Booking</a>
        </div>
    </div>
    <div class="content__history__booking__room">

    </div>
{% endblock %}