{% extends 'base_editor_page.html' %}

{% block content_editor_page %}
    <link rel="stylesheet" href="{{url_for('EDITOR_bp.static', filename = 'css/ins_new_room.css')}}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="{{url_for('EDITOR_bp.static', filename = 'javascript/ins_new_room.js')}}"></script>
    <script>
        document.onreadystatechange = function(){
            if (document.readyState === 'interactive') {
                onLoadProvince();
            }
        } 
    </script>
    <div class="confirm__delete__option__service">
        <p>Bạn muốn xóa dịch vụ tùy chọn này ?</p>
        <div class="confirm__delete__option__service__inner">
            <button onclick="accept_confirm_del_option_service()">Xóa</button>
            <button onclick="cancel_confirm_del_option_service()">Không</button>
        </div>
    </div>
    <div class="confirm__delete__default__service">
        <p>Bạn muốn xóa dịch vụ mặc định này ?</p>
        <div class="confirm__delete__default__service__inner">
            <button onclick="accept_confirm_del_default_service()">Xóa</button>
            <button onclick="cancel_confirm_del_default_service()">Không</button>
        </div>
    </div>
    <div class="title__ins__new__room">
        <h3>Insert New Room</h3>
        <p>New Room ! New Customer</p>
    </div>
    <br>
    {% if msg_ins_new_room_success is defined %}
        <div class="msg__ins__new__room__success">
            <p>{{msg_ins_new_room_success}}</p>
        </div>
    {% endif %}
    {% if msg_ins_new_room_fail is defined %}
        <div class="msg__ins__new__room__fail">
            <p>{{msg_ins_new_room_fail}}</p>
        </div>
    {% endif %}
    <br>
    <div class="form__ins__inform__room">
        <form method="post" enctype="multipart/form-data">
            <div class="each__inform__new__room">
                <div>
                    <label>Name : </label>
                    <input type="text" name="name_new_room" placeholder="Name Room">
                </div>
                <div>
                    <label>Capacity : </label>
                    <input type="number" name="capacity_new_room" placeholder="Capacity">
                </div>
                <div>
                    <label>Square <i>(m<sup>2</sup>)</i> : </label>
                    <input type="number" name="square_new_room" placeholder="00">
                </div>
                <div>
                    <label>Type : </label>
                    <select name="type_new_room">
                        <option value="small">Small</option>
                        <option value="middle">Middle</option>
                        <option value="big">Big</option>
                    </select>
                </div>
            </div>
            <div class="each__inform__new__room">
                <label>Address :</label>
                <div class="detail__addr__new__room">
                    <div>
                        <label>Province : </label>
                        <select name="province_new_room" onchange = "loadDistrict()" class="province__select__new__room">
                            <option value="not_province_new_room">Choose Province</option>
                        </select>
                    </div>
                    <div>
                        <label>District : </label>
                        <select name="district_new_room" onchange = "loadWard()" class="district__select__new__room">
                            <option value="not_district_new_room">Choose District</option>
                        </select>
                    </div>
                    <div>
                        <label>Ward : </label>
                        <select name="ward_new_room" class="ward__select__new__room">
                            <option value="not_ward_new_room">Choose Ward</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="each__inform__new__room">
                <div>
                    {% if all_duration is defined %}
                        {% if all_duration|length == 0 %}
                            <label>Chưa có  bất kỳ khoảng thời gian nào được thêm vào</label>
                        {% else %}
                            <label>Duration <i>(seconds)</i> : </label>
                            <select name="duration_new_room">
                                <option value="not_duration_new_room">Choose Duration</option>
                                {% for duration in all_duration %}
                                    <option value="{{duration[0]}}">{{duration[4]}}</option>
                                {% endfor %}
                            </select>
                        {% endif %}
                    {% else %}
                        <label>Can't load duration</label>
                    {% endif %}
                </div>
                <div>
                    {% if all_price is defined %}
                        {% if all_price|length == 0 %}
                            <label>Chưa có  bất kỳ giá tiền nào được thêm vào</label>
                        {% else %}
                            <label>Price :</label>
                            <select name="price_new_room">
                                <option value="not_price_new_room">Choose Price</option>
                                {% for price in all_price %}
                                    <option value="{{price[0]}}">{{price[4]}}</option>
                                {% endfor %}
                            </select>
                        {% endif %}
                    {% else %}
                        <label>Can't load price</label>
                    {% endif %}
                </div>
            </div>
            <div class="each__inform__new__room">
                <div>
                    <label>Default Service</label>
                    <div class="default__service__inner">
                        <div>
                            <label>Name :</label>
                            <input type="text">
                        </div>
                        <div>
                            <label>Quantity :</label>
                            <input type="number">
                        </div>
                    </div>
                    <button id="btn__add__default__service" type="button">Add</button>
                </div>
                <div>
                    <label>Option Service</label>
                    <div class="option__service__inner">
                        <div>
                            <label>Name :</label>
                            <input type="text">
                        </div>
                        <div>
                            <label>Quantity :</label>
                            <input type="number">
                        </div>
                    </div>
                    <button id="btn__add__option__service" type="button">Add</button>
                </div>
            </div>
            <div class="show__service__ins__new__room">
                <div class="show__add__default__service">
                    <h3 class="title__each__show__service">List Default Service</h3>
                    <ul class="lst__add__default__service">
                    </ul>
                </div>
                <div class="show__add__option__service">
                    <h3 class="title__each__show__service">List Option Service</h3>
                    <ul class="lst__add__option__service">

                    </ul>
                </div>
            </div>
            <textarea name="lst_default_service" class="lst__default__service__area" hidden></textarea>
            <textarea name="lst_option_service" class="lst__option__service__area" hidden></textarea>
            <textarea name="lst_all_image_new_room" class="lst__all__image__new__room" hidden></textarea>
            <div class="each__inform__new__room">
                <label>Choose Image:</label>
                <input type="file" name="image_new_room" accept=".png, .jpg, .jpeg" onchange = "get_image_new_room(event)">
            </div>
            <div class="show__all__image__new__room">
                <h3 class="title__image__new__room">Image New Room</h3>
                <div class="show__all__image__new__room__inner">
                    
                </div>
            </div>
            <div class="note__submit__btn__new__room">
                <i id="note__inform__new__room">Note : You can add new price or duration in add price and duration page</i>
                <input type="submit" name="submit_new_room">
            </div>
        </form>
    </div>
{% endblock %}