{% extends 'base_editor_page.html' %}

{% block content_editor_page %}
    <link rel="stylesheet" href="{{url_for('EDITOR_bp.static', filename = 'css/ins_new_room.css')}}">
    <div class="title__ins__new__room">
        <h3>Insert New Room</h3>
        <p>New Room ! New Customer</p>
    </div>
    <div class="form__ins__inform__room">
        <div class="each__inform__new__room">
            <div>
                <label>Name : </label>
                <input type="text" name="name_new_room" placeholder="Name Room">
            </div>
            <div>
                <label>Capacity : </label>
                <input type="number" name="capacity_new_room" placeholder="Capacity">
            </div>
            <div>
                <label>Square <i>(m<sup>2</sup>)</i> : </label>
                <input type="number" name="square_new_room" placeholder="00">
            </div>
            <div>
                <label>Type : </label>
                <select name="type_new_room">
                    <option value="small">Small</option>
                    <option value="middle">Middle</option>
                    <option value="big">Big</option>
                </select>
            </div>
        </div>
        <div class="each__inform__new__room">
            <label>Address :</label>
            <div class="detail__addr__new__room">
                <div>
                    <label>Province : </label>
                    <select name="province_new_room">
                        <option value="not_province_new_room">Choose Province</option>
                    </select>
                </div>
                <div>
                    <label>District : </label>
                    <select name="district_new_room">
                        <option value="not_district_new_room">Choose District</option>
                    </select>
                </div>
                <div>
                    <label>Ward : </label>
                    <select name="ward_new_room">
                        <option value="not_ward_new_room">Choose Ward</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="each__inform__new__room">
            <div>
                <label>Duration</label>
                <select name="duration_new_room">

                </select>
            </div>
            <div>
                <label>Price</label>
                <select name="price_new_room">
                    
                </select>
            </div>
        </div>
    </div>
{% endblock %}