{% extends 'base_editor_page.html' %}

{% block content_editor_page %}
    <link rel="stylesheet" href="{{url_for('EDITOR_bp.static', filename = 'css/ins_new_room.css')}}">
    <script src="{{url_for('EDITOR_bp.static', filename = 'javascript/ins_new_room.js')}}"></script>
    <div class="title__ins__new__room">
        <h3>Insert New Room</h3>
        <p>New Room ! New Customer</p>
    </div>
    <div class="form__ins__inform__room">
        <div class="each__inform__new__room">
            <div>
                <label>Name : </label>
                <input type="text" name="name_new_room" placeholder="Name Room">
            </div>
            <div>
                <label>Capacity : </label>
                <input type="number" name="capacity_new_room" placeholder="Capacity">
            </div>
            <div>
                <label>Square <i>(m<sup>2</sup>)</i> : </label>
                <input type="number" name="square_new_room" placeholder="00">
            </div>
            <div>
                <label>Type : </label>
                <select name="type_new_room">
                    <option value="small">Small</option>
                    <option value="middle">Middle</option>
                    <option value="big">Big</option>
                </select>
            </div>
        </div>
        <div class="each__inform__new__room">
            <label>Address :</label>
            <div class="detail__addr__new__room">
                <div>
                    <label>Province : </label>
                    <select name="province_new_room">
                        <option value="not_province_new_room">Choose Province</option>
                    </select>
                </div>
                <div>
                    <label>District : </label>
                    <select name="district_new_room">
                        <option value="not_district_new_room">Choose District</option>
                    </select>
                </div>
                <div>
                    <label>Ward : </label>
                    <select name="ward_new_room">
                        <option value="not_ward_new_room">Choose Ward</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="each__inform__new__room">
            <div>
                {% if all_duration is defined %}
                    {% if all_duration|length == 0 %}
                        <label>Chưa có  bất kỳ khoảng thời gian nào được thêm vào</label>
                    {% else %}
                        <label>Duration <i>(seconds)</i> : </label>
                        <select name="duration_new_room">
                            <option value="not_duration_new_room">Choose Duration</option>
                            {% for duration in all_duration %}
                                <option value="{{duration[0]}}">{{duration[4]}}</option>
                            {% endfor %}
                        </select>
                    {% endif %}
                {% else %}
                    <label>Can't load duration</label>
                {% endif %}
            </div>
            <div>
                {% if all_price is defined %}
                    {% if all_price|length == 0 %}
                        <label>Chưa có  bất kỳ giá tiền nào được thêm vào</label>
                    {% else %}
                        <label>Price :</label>
                        <select name="price_new_room">
                            <option value="not_price_new_room">Choose Price</option>
                            {% for price in all_price %}
                                <option value="{{price[0]}}">{{price[4]}}</option>
                            {% endfor %}
                        </select>
                    {% endif %}
                {% else %}
                    <label>Can't load price</label>
                {% endif %}
            </div>
        </div>
        <div class="each__inform__new__room">
            <div>
                {% if default_service is defined %}
                    {% if default_service|length == 0 %}
                        <label>Chưa có dịch vụ mặc định nào được thêm</label>
                    {% else %}
                        <label>Default Service :</label>
                        <select name="default_service_new_room" class="choose__default__service">
                            <option value="not_default_service_new_room">Choose Default Service</option>
                            {% for service in default_service %}
                                <option value="{{service[0]}}">{{service[1]}}</option>
                            {% endfor %}
                        </select>
                        <button class="btn__add__service" onclick="add_default_service()">Add</button>
                    {% endif %}
                {% else %}
                    <label>Không lấy được thông tin về các dịch vụ mặc định</label>
                {% endif %}
            </div>
            <div>
                {% if option_service is defined %}
                    {% if option_service|length == 0  %}
                        <label>Chưa có dịch vụ tùy chọn nào được thêm</label>
                    {% else %}
                        <label>Option Service :</label>
                        <select name="option_service_new_room">
                            <option value="not_option_service_new_room">Choose Option Service</option>
                            {% for service in option_service %}
                                <option value="{{service[0]}}">{{service[2]}}</option>
                            {% endfor %}
                        </select>
                        <button class="btn__add__service">Add</button>
                    {% endif %}
                {% else %}
                    <label>Không lấy được thông tin về các dịch vụ tùy chọn</label>
                {% endif %}
            </div>
        </div>
        <div class="show__service__ins__new__room">
            <div class="show__add__default__service">
                <h3 class="title__each__show__service">List Default Service</h3>
                <ul class="lst__add__default__service">
                    <div class="show__amount__each__default__service">
                        <button>-</button>
                        <p></p>
                        <button>+</button>
                    </div>
                </ul>
            </div>
            <div class="show__add__option__service">
                <h3 class="title__each__show__service">List Option Service</h3>
                <ul class="lst__add__option__service">

                </ul>
            </div>
        </div>
        <div class="note__submit__btn__new__room">
            <i id="note__inform__new__room">Note : You can add new price or duration in add price and duration page</i>
            <input type="submit" name="submit_new_room">
        </div>
    </div>
{% endblock %}