{% extends 'base_editor_page.html' %}

{% block content_editor_page %}
    <link rel="stylesheet" href="{{url_for('EDITOR_bp.static', filename = 'css/ins_new_room.css')}}">
    <div class="title__ins__new__room">
        <h3>Insert New Room</h3>
        <p>New Room ! New Customer</p>
    </div>
    <div class="form__ins__inform__room">
        <div class="each__inform__new__room">
            <div>
                <label>Name : </label>
                <input type="text" name="name_new_room" placeholder="Name Room">
            </div>
            <div>
                <label>Capacity : </label>
                <input type="number" name="capacity_new_room" placeholder="Capacity">
            </div>
            <div>
                <label>Square  : </label>
                <input type="number" name="square_new_room" placeholder="00">
            </div>
        </div>
    </div>
{% endblock %}