{% extends 'base_editor_page.html' %}

{% block content_editor_page %}
    <link rel="stylesheet" href="{{url_for('EDITOR_bp.static', filename = 'css/ins_new_room.css')}}">
    <div class="title__ins__new__room">
        <h3>Insert New Room</h3>
        <p>New Room ! New Customer</p>
    </div>
    <div class="form__ins__inform__room">
        a
    </div>
{% endblock %}