{% extends 'base_editor_page.html' %}

{% block content_editor_page %}
    <link rel="stylesheet" href="{{url_for('EDITOR_bp.static', filename = 'css/insert_new_booking_room.css')}}">
    <div class="title__ins__new__booking">
        <h3>Insert New Booking</h3>
        <p>New Room ! New Customer</p>
    </div>
{% endblock %}