{% extends 'base_editor_page.html' %}

{% block content_editor_page %}
    <link rel="stylesheet" href="{{url_for('EDITOR_bp.static', filename = 'css/insert_new_booking_room.css')}}">
    <script src="{{url_for('EDITOR_bp.static', filename = 'javascript/insert_new_booking_room.js')}}"></script>

    <script>
        var dict_price_option_service = {}
        var get_default_service_by_code_room = {}
        var price_room = "{{get_price_rom}}"
    </script>
    {% for each_default_service in get_default_service_by_code_room %}
        <script>
            get_default_service_by_code_room["{{each_default_service}}"] = parseInt("{{get_default_service_by_code_room[each_default_service]}}")
        </script>
    {% endfor %}
    {% for each_option_service in dict_price_option_service %}
        <script>
            dict_price_option_service["{{each_option_service}}"] = {'amount' : parseInt("{{dict_price_option_service[each_option_service]['amount']}}"), 'price' : parseInt("{{dict_price_option_service[each_option_service]['price']}}")}
        </script>
    {% endfor %}
    <div class="ins__new__booking__room__step__2">
        <h3>Add Service</h3>
        <div class="show__all__service__room">
            <div class="show__default__service__room">
                <table>
                    <caption>Default Service Room</caption>
                    <tr>
                        <th>No</th>
                        <th>Name</th>
                        <th>Quantity</th>
                        <th>Add</th>
                    </tr>
                        {% for default_service in get_default_service_by_code_room %}
                            <tr>
                                <td>{{loop.index}}</td>
                                <td>{{default_service}}</td>
                                <td>{{get_default_service_by_code_room[default_service]}}</td>
                                <td>
                                    <button type="button" onclick='btn_add_default_service("{{default_service}}")'>Add</button>
                                </td>
                            </tr>
                        {% endfor %}
                </table>
            </div>
            <div class="show__option__service__room">
                <table>
                    <caption>Option Service Room</caption>
                    <tr>
                        <th>No</th>
                        <th>Name</th>
                        <th>Quantity</th>
                        <th>Price / 1 quantity</th>
                        <th>Add</th>
                    </tr>
                        {% for option_service in dict_price_option_service %}
                            <tr>
                                <td>{{loop.index}}</td>
                                <td>{{option_service}}</td>
                                <td>{{dict_price_option_service[option_service]['amount']}}</td>
                                <td>{{dict_price_option_service[option_service]['price']}}</td>
                                <td>
                                    <button type="button" onclick='btn_add_option_service("{{option_service}}")'>Add</button>
                                </td>
                            </tr>
                        {% endfor %}
                </table>
            </div>
        </div>
        <div class="show__service__add__btn">
            <div class="show__default__service__add">
                <table class="all__row__default__service">
                    <caption>Default service add to booking</caption>
                    <tr>
                        <th>No</th>
                        <th>Name</th>
                        <th>Quantity</th>
                    </tr>
                </table>
            </div>
            <div class="show__option__service__add">
                <table class="all__row__option__service">
                    <caption>Option service add to booking</caption>
                    <tr>
                        <th>No</th>
                        <th>Name</th>
                        <th>Quantity</th>
                        <th>Total Price</th>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="input__information__booking__addition">
        <div>
            <label>Time start use room</label>
            <input type="datetime-local" name="new_time_start" oninput="check_time_start_use_room()" id="time__start__use__room" required>
        </div>
        <div>
            <label>Minute Rent ( Range 1 - {{get_duration_room}})</label>        
            <input type="number" name="new_minute_rent" max="{{get_duration_room}}" min='1' required>    
        </div>
    </div>
    <div class="show__all__price__text">
        <div class="show__each__price">
            <p>Tiền phòng : <span id="span__tag__price__room">{{get_price_rom}}</span> vnđ</p>
        </div>
        <div class="show__each__price">
            <p>Tổng tiền dịch vụ tự chọn : <span id="span__tag__total__price__option__service">0</span> vnđ</p>
        </div>
        <div class="show__each__price">
            <p>Tổng tiền : <span id="span__tag__total__price__room">0</span>vnđ</p>
        </div>
    </div>
    <textarea name="str_dict_default_service" class="str__dict__default__service" hidden></textarea>
    <textarea name="str_dict_option_service" class="str__dict__option__service" hidden></textarea>

{% endblock %}