{% extends 'base_editor_page.html' %}

{% block content_editor_page %}
    <div class="ins__new__booking__room__step__2">
        <div class="show__all__service__room">
            <div class="show__default__service__room">
                
            </div>
        </div>
    </div>
{% endblock %}