{% extends 'base_editor_page.html' %}

{% block content_editor_page %}
    <link rel="stylesheet" href="{{url_for('EDITOR_bp.static', filename = 'css/insert_new_booking_room.css')}}">
    <script src="{{url_for('EDITOR_bp.static', filename = 'javascript/insert_new_booking_room.js')}}"></script>

    <script>
        var dict_price_option_service = {}
        var get_default_service_by_code_room = {}
    </script>

    <div class="ins__new__booking__room__step__2">
        <div class="show__all__service__room">
            <div class="show__default__service__room">
                <table>
                    <caption>Default Service Room</caption>
                    <tr>
                        <th>No</th>
                        <th>Name</th>
                        <th>Quantity</th>
                        <th>Add</th>
                    </tr>
                        {% for default_service in get_default_service_by_code_room %}
                            <tr>
                                <td>{{loop.index}}</td>
                                <td>{{default_service}}</td>
                                <td>{{get_default_service_by_code_room[default_service]}}</td>
                                <td>
                                    <button type="button" onclick="btn_add_default_service()">Add</button>
                                </td>
                            </tr>
                        {% endfor %}
                </table>
            </div>
            <div class="show__option__service__room">
                <table>
                    <caption>Option Service Room</caption>
                    <tr>
                        <th>No</th>
                        <th>Name</th>
                        <th>Quantity</th>
                        <th>Price / 1 quantity</th>
                        <th>Add</th>
                    </tr>
                    {% for option_service in dict_price_option_service %}
                        <tr>
                            <td>{{loop.index}}</td>
                            <td>{{option_service}}</td>
                            <td>{{dict_price_option_service[option_service]['amount']}}</td>
                            <td>{{dict_price_option_service[option_service]['price']}}</td>
                            <td>
                                <button>Add</button>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        <div class="show__service__add__btn">
            <div class="show__default__service__add">
                <table>
                    <caption>Default service add to booking</caption>
                    <tr>
                        <th>No</th>
                        <th>Name</th>
                        <th>Quantity</th>
                    </tr>
                </table>
            </div>
            <div class="show__option__service__add">
                <table>
                    <caption>Option service add to booking</caption>
                    <tr>
                        <th>No</th>
                        <th>Name</th>
                        <th>Quantity</th>
                        <th>Price</th>
                    </tr>
                </table>
            </div>
        </div>
    </div>
{% endblock %}