{% extends 'base_editor_page.html' %}

{% block content_editor_page %}
    <div class="ins__new__booking__room__step__2">
        <div class="show__all__service__room">
            <div class="show__default__service__room">
                <table>
                    <caption>Default Service Room</caption>
                    {% for default_service in get_default_service_by_code_room %}
                        {{default_service}}
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
{% endblock %}