{% extends 'base_editor_page.html' %}

{% block content_editor_page %}
    <link rel="stylesheet" href="{{url_for('EDITOR_bp.static', filename = 'css/insert_new_booking_room.css')}}">
    <div class="title__ins__new__booking">
        <h3>Insert New Booking</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis, provident.</p>
    </div>
    <form method="post">
        <div class="content__ins__new__booking">
            <div class="each__input__ins__new__booking">
                <label>Choose User Booking Room</label>
                <select name="user_booking_room_new">
                    <option value="choose_user_booking_room">Choose User</option>
                    {% for users in get_all_users %}
                        <option value="{{users.id}}">{{users.full_name}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="each__input__ins__new__booking">
                <label>Choose Valid Room</label>
                <select name="room_for_booking_new">
                    <option value="choose_room_for_booking">Choose Room</option>
                    {% for each_room in get_valid_room %}
                        <option value="{{each_room.code_room}}">{{each_room.name_room}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <input type="submit" name="ins_new_booking_room_step_2" value="Next Step">
    </form>
{% endblock %}