{% extends 'base_editor_page.html' %}

{% block content_editor_page %}
    <link rel="stylesheet" href="url_for('EDITOR_bp.static', filename = 'css/insert_new_booking_room.css')">
    <div class="ins__new__booking__room__step__2">
        <div class="show__all__service__room">
            <div class="show__default__service__room">
                <table>
                    <caption>Default Service Room</caption>
                    <tr>
                        <th>No</th>
                        <th>Name</th>
                        <th>Quantity</th>
                    </tr>
                    <tr>
                        {% for default_service in get_default_service_by_code_room %}
                            <td>{{loop.index}}</td>
                            <td>{{default_service}}</td>
                            <td>{{get_default_service_by_code_room[default_service]}}</td>
                        {% endfor %}]
                    </tr>
                </table>
            </div>
        </div>
    </div>
{% endblock %}