{% extends 'base_editor_page.html' %}

{% block content_editor_page %}
    <link rel="stylesheet" href="{{url_for('EDITOR_bp.static', filename = 'css/insert_new_booking_room.css')}}">
    <div class="title__ins__new__booking">
        <h3>Insert New Booking</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis, provident.</p>
    </div>
    <div class="content__ins__new__booking">
        <div class="each__input__ins__new__booking">
            <label>Choose User Booking Room</label>
            <select name="user_booking_room_new">
                {% for users in get_all_users %}
                    <option value="{{users.id}}">{{users.full_name}}</option>
                {% endfor %}
            </select>
        </div>
    </div>
{% endblock %}