{% extends 'service_editor_page.html' %}

{% block content_service_editor_page %}
<link rel="stylesheet" href="{{url_for('EDITOR_bp.static', filename = 'css/option_service_editor_page.css')}}">
{% if msg_ins_new_default_service_success is defined %}
<div class="msg__ins__success">
    <p>{{msg_ins_new_default_service_success}}</p>
</div>
{% endif %}
{% if msg_ins_new_default_service_fail is defined %}
<div class="msg__ins__fail">
    <p>{{msg_ins_new_default_service_fail}}</p>
</div>
{% endif %}
<div class="default__service__editor__page__inner">
    <form method="post">
        <div class="each__inform__default__service">
            <label>Name Service :</label>
            <input type="text" name="new_name_default_service" required>
        </div>
        <div class="submit__btn__ins__new__default__service">
            <input type="submit" name="ins_new_default_service" value="Create">
        </div>
    </form>
</div>
{% endblock %}