{% extends 'service_editor_page.html' %}

{% block content_service_editor_page %}
    <link rel="stylesheet" href="{{url_for('EDITOR_bp.static', filename = 'css/option_service_editor_page.css')}}">
    {% if msg_ins_new_default_service_success is defined %}
        <div class="msg__ins__success">
            <p>{{msg_ins_new_default_service_success}}</p>
        </div>
    {% endif %}
    {% if msg_ins_new_default_service_fail is defined %}
        <div class="msg__ins__fail">
            <p>{{msg_ins_new_default_service_fail}}</p>
        </div>
    {% endif %}
    <div class="option__service__editor__page__inner">
        <form method="post">
            <div class="each__inform__option__service">
                <label>Name Service :</label>
                <input type="text" name="new_name_option_service" required>
            </div>
            <div class="each__inform__option__service">
                {% if all_price is defined %}
                    {% if all_price|length == 0 %}
                        <label>Chưa có giá tiền nào</label>
                    {% else }
                        <select name="new_price_option_service">
                            <option value="not_new_price">Choose Price</option>
                            {% for price in all_price %}
                                <option value="{{price[0]}}">{{price[4}}</option>
                            {% endfor %}
                        </select>
                    {% endif %}
                {% else %}
                    <label>Không load được giá tiền</label>
                {% endif %}
            </div>
            <div class="submit__btn__ins__new__option__service">
                <input type="submit" name="ins_new_option_service" value="Create">
            </div>
        </form>
    </div>
{% endblock %}