{% extends 'price_and_duration.html' %}

{% block price_editor_page %}
    <link rel="stylesheet" href="{{url_for('EDITOR_bp.static', filename = 'css/price_editor_page.css')}}">
    {% if all_price is defined %}
        <div class="content__price__editor__page">
            <table>
                <caption>Show all price</caption>
                <tr>
                    <th>No.</th>
                    <th>Price</th>
                    <th>Start Time</th>
                    <th>End Time</th>
                </tr>
                {% for price in all_price %}
                    <tr>
                        <td>{{loop.index}}</td>
                        <td>{{price[1]}}</td>
                        <td>{{price[2]}}</td>
                        <td>{{price[3]}}</td>
                    </tr>
                {% endfor %}
            </table>
            <div class="ins__new__price">
                <div>
                    <label>Price : </label>
                    <input type="number" name="new_price">
                </div>
                <div>
                    <label>Time Start :</label>
                    <input type="datetime" name="new_time_start">
                </div>
                <div>
                    <label>Time End :</label>
                    <input type="datetime" name="new_time_end">
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}