{% extends 'price_and_duration.html' %}

{% block price_editor_page %}
    <link rel="stylesheet" href="{{url_for('EDITOR_bp.static', filename = 'css/price_editor_page.css')}}">
    {% if all_price is defined %}
        <div class="content__price__editor__page">
            <table>
                <caption>Show all price</caption>
                <tr>
                    <th>No.</th>
                    <th>Price</th>
                    <th>Start Time</th>
                    <th>End Time</th>
                </tr>
                {% for price in all_price %}
                    <tr>
                        <td>{{loop.index}}</td>
                        <td>{{price[1]}}</td>
                        <td>{{price[2]}}</td>
                        <td>{{price[3]}}</td>
                    </tr>
                {% endfor %}
            </table>
            <div class="ins__new__price">
                <div class="each__ins__new__price">
                    <label>Price : </label>
                    <input type="number" name="new_price">
                </div>
                <div class="each__ins__new__price">
                    <label>Time Start :</label>
                    <input type="datetime-local" name="new_time_start">
                </div>
                <div class="each__ins__new__price">
                    <label>Time End :</label>
                    <input type="datetime-local" name="new_time_end">
                </div>
                <div class="each__ins__new__price">
                    <label>Name : </label>
                    <input type="text" name="new_name" placeholder="Input name">
                </div>
                <i id="note__ins__new__price">( Lưu ý : Nếu không chọn thời gian kết thúc.Thời gian kết thúc sẽ được tính đến vĩnh viễn )</i>
                <br><input type="submit" value='Create' name="submit_ins_new_price">
            </div>
        </div>
    {% endif %}
{% endblock %}