{% extends 'price_and_duration.html' %}

{% block price_editor_page %}
    {% if all_price is defined %}
        <div class="content__price__editor__page">
        <table>

        </table>
        </div>
    {% endif %}
{% endblock %}