{% extends 'price_and_duration.html' %}

{% block price_editor_page %}
    {% if all_price is defined %}
        <div class="content__price__editor__page">
            <table>
                <tr>
                    <th>No.</th>
                    <th>Price</th>
                    <th>Start Time</th>
                    <th>End Time</th>
                </tr>
                {% for price in all_price %}
                    <th>{{loop.index}}</th>
                    <th>{{price[1]}}</th>
                    <th>{{price[2]}}</th>
                    <th>{{price[3]}}</th>
                {% endfor %}
            </table>
        </div>
    {% endif %}
{% endblock %}