{% extends 'base_editor_page.html' %}

{% block content_editor_page %}
    <link rel="stylesheet" href="{{url_for('EDITOR_bp.static', filename = 'css/price_and_duration.css')}}">
    <div class="title__price__duration">
        <h3>Price & Duration</h3>
        <p>New Price ! New Duration</p>
    </div>
{% endblock %}