{% extends 'price_and_duration.html' %}

{% block price_editor_page %}
    <link rel="stylesheet" href="{{url_for('EDITOR_bp.static', filename = 'css/price_editor_page.css')}}">
    {% if all_price is defined %}
        <div class="content__price__editor__page">
            <table>
                <label>Show all price</label>
                <tr>
                    <th>No.</th>
                    <th>Price</th>
                    <th>Start Time</th>
                    <th>End Time</th>
                </tr>
                {% for price in all_price %}
                    <tr>
                        <td>{{loop.index}}</td>
                        <td>{{price[1]}}</td>
                        <td>{{price[2]}}</td>
                        <td>{{price[3]}}</td>
                    </tr>
                {% endfor %}
            </table>
            <div class="ins__new__price">

            </div>
        </div>
    {% endif %}
{% endblock %}