{% extends 'base_editor_page.html' %}

{% block content_editor_page %}
    <link rel="stylesheet" href="{{url_for('EDITOR_bp.static', filename = 'css/room_page.css')}}">
    <script src="{{url_for('EDITOR_bp.static', filename = 'javascript/get_pagination.js')}}"></script>
    <script>
        // document.getElementsByClassName('option__left__content')[2].classList.add('active__left__content__link') 
        var current_page = parseInt('{{current_page}}')
        var pagination_page = parseInt('{{pagination_page}}')
        document.onreadystatechange = function(){
            if (document.readyState === 'interactive') {
                on_page_load_pagination();
            }
        }
    </script>
    <div class="header__room__page">
        <div class="title__room__page">
            <h3>All room</h3>
            <p>New Room ! New Customer</p>
        </div>
    </div>
    <div class="show__all__room">
        <table>
            <caption>Show all room</caption>
            <tr>
                <th>No</th>
                <th>Type</th>
                <th>Name</th>
                <th>Code</th>
                <th>Delete</th>
                <th>Edit</th>
            </tr>
            {% for each_room in get_all_room %}
                <tr>
                    <td>{{loop.index}}</td>
                </tr>
            {% endfor %}
        </table>
        <div class="show__pagination__page">
            {% if pagination_page > 5 %}
                <button id="btn__first__pagination__page" onclick="first_page_pagination()">Go to page 1</button>
                <button id='btn__previous__pagination' onclick="pre_btn_pagination()">Previous</button>
                {% for pagination in range(0, pagination_page) %}
                    {% if current_page == pagination + 1 %}
                        <a href="{{url_for('EDITOR_bp.room_page', current_page_para = pagination + 1)}}">
                            <button class="btn__pagination active__btn__pagination" id="btn__page__pagination__page{{pagination + 1}}">{{pagination + 1}}</button>
                        </a>
                    {% else %}
                        <a href="{{url_for('EDITOR_bp.room_page', current_page_para = pagination + 1)}}">
                            <button class="btn__pagination" id="btn__page__pagination__page{{pagination + 1}}">{{pagination + 1}}</button>
                        </a>
                    {% endif %}
                {% endfor %}
                <button id="btn__next__pagination" onclick="next_btn_pagination()">Next</button>
                <button id="btn__end__pagination__page" onclick="last_page_pagination()">Go to page end</button>
            {% else %}
                {% for pagination in range(0, pagination_page) %}
                    {% if current_page == pagination + 1 %}
                        <a href="{{url_for('EDITOR_bp.room_page', current_page_para = pagination + 1)}}">
                            <button class="btn__pagination active__btn__pagination" id="btn__page__pagination__page{{pagination + 1}}">{{pagination + 1}}</button>
                        </a>
                    {% else %}
                        <a href="{{url_for('EDITOR_bp.room_page', current_page_para = pagination + 1)}}">
                            <button class="btn__pagination" id="btn__page__pagination__page{{pagination + 1}}">{{pagination + 1}}</button>
                        </a>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock %}