{% extends 'base_editor_page.html' %}

{% block content_editor_page %}
    <link rel="stylesheet" href="{{url_for('EDITOR_bp.static', filename = 'css/room_page.css')}}">
    <div class="header__option__price__duration__editor__page">
        <div class="title__price__duration">
            <h3>All room</h3>
            <p>New Price ! New Duration</p>
        </div>
    </div>
{% endblock %}