{% extends 'base_editor_page.html' %}

{% block content_editor_page %}
    <link rel="stylesheet" href="{{url_for('EDITOR_bp.static', filename = 'css/room_page.css')}}">
    <div class="header__room__page">
        <div class="title__room__page">
            <h3>All room</h3>
            <p>New Room ! New Customer</p>
        </div>
    </div>
    <div class="show__all__room">
        <table>
            <caption>Show all room</caption>
            <tr>
                <th>No</th>
                <th>Type</th>
                <th>Name</th>
                <th>Code</th>
                <th>Delete</th>
                <th>Edit</th>
            </tr>
        </table>
    </div>
{% endblock %}