{% extends 'base_editor_page.html' %}

{% block content_editor_page %}
    <link rel="stylesheet" href="{{url_for('EDITOR_bp.static', filename = 'css/service_editor_page.css')}}">
    <div class="title__service__editor__page">
        <h3>Insert New Room</h3>
        <p>New Room ! New Customer</p>
    </div>
{% endblock %}