{% extends 'base_editor_page.html' %}

{% block content_editor_page %}
    <link rel="stylesheet" href="{{url_for('EDITOR_bp.static', filename = 'css/service_editor_page.css')}}">
    <div class="title__service__editor__page">
        <h3>Default Service & Option Service</h3>
        <p>We will make meeting room better with more service</p>
    </div>
{% endblock %}