{% extends 'base_editor_page.html' %}

{% block content_editor_page %}
    <link rel="stylesheet" href="{{url_for('EDITOR_bp.static', filename = 'css/service_editor_page.css')}}">
    <div class="title__service__editor__page">
        <div>
            <h3>Default Service & Option Service</h3>
            <p>We will make meeting room better with more service</p>
        </div>
        <div class="btn__option__service">
            <a href="#" class="link__option__service">Default Service</a>
            <a href="#" class="link__option__service">Option Service</a>
            <a href="#" class="link__option__service">Show Service</a>
        </div>
    </div>
{% endblock %}