{% extends 'service_editor_page.html' %}

{% block content_service_editor_page %}
    <link rel="stylesheet" href="{{url_for('EDITOR_bp.static', filename = 'css/show_all_service.css')}}">
    {{all_option_service}} {{all_default_service}}
    <div class="show__all__service">
        <div class="show__default__service">
            
        </div>
        <div class="show__option__service">
            
        </div>
    </div>
{% endblock %}