{% extends 'history_booking_room.html' %}

{% block content_history_booking_room %}
    <link rel="stylesheet" href="{{url_for('EDITOR_bp.static', filename = 'css/show_pagination_page.css')}}">
    <script src="{{url_for('EDITOR_bp.static', filename = 'javascript/get_pagination.js')}}"></script>
    <script>
        // document.getElementsByClassName('option__left__content')[2].classList.add('active__left__content__link') 
        var current_page = parseInt('{{current_page}}')
        var pagination_page = parseInt('{{pagination_page}}')
        document.onreadystatechange = function(){
            if (document.readyState === 'interactive') {
                on_page_load_pagination();
            }
        }
    </script>
    {% if msg_delete_booking_status_success is defined %}
        <div class="msg__delete__booking__room">
            <p>{{msg_delete_booking_status_success}}</p>
        </div>
    {% endif %}
    <div class="content__history__booking__room">
        {% if lst_booking_room is defined %}
            {% if lst_booking_room|length == 0 %}
                <p>Chưa có bất kỳ lịch sử nào được lưu</p>
            {% elif lst_booking_room|length != 0 %}
                <br>
                <i>*** Để xem chi tiết hơn và đầy đủ thông tin hơn : vui lòng ấn vào từng đơn hàng</i>
                <table>
                    <tr>
                        <th>No</th>
                        <th>Name room</th>
                        <th>Name user booking</th>
                        <th>Time booking</th>
                        <th>Time start use</th>
                        <th>Total price</th>
                        <th>Code booking</th>
                    </tr>
                    {% for each_booking in lst_booking_room %}
                        <tr>
                            <td>{{loop.index}}</td>
                            <td>
                                <a href="{{url_for('EDITOR_bp.detail_booking_room_by_code', code_booking_room = each_booking.code_booking)}}">
                                    {{lst_all_room[loop.index - 1].name_room}}
                                </a>
                            </td>
                            <td>{{lst_name_user[loop.index - 1]}}</td>
                            <td>{{each_booking.time_booking}}</td>
                            <td>{{each_booking.time_start}}</td>
                            <td>{{each_booking.total_price}}</td>
                            <td>{{each_booking.code_booking}}</td>
                        </tr>
                    {% endfor %}
                </table>
                <div class="show__pagination__page">
                    {% if pagination_page > 5 %}
                        <button id="btn__first__pagination__page" onclick="first_page_pagination()">Go to page 1</button>
                        <button id='btn__previous__pagination' onclick="pre_btn_pagination()">Previous</button>
                        {% for pagination in range(0, pagination_page) %}
                            {% if current_page == pagination + 1 %}
                                <a href="{{url_for('EDITOR_bp.show_all_booking_room', status_booking_room = status_booking_room, current_page_para = pagination + 1)}}">
                                    <button class="btn__pagination active__btn__pagination" id="btn__page__pagination__page{{pagination + 1}}">{{pagination + 1}}</button>
                                </a>
                            {% else %}
                                <a href="{{url_for('EDITOR_bp.show_all_booking_room', status_booking_room = status_booking_room, current_page_para = pagination + 1)}}">
                                    <button class="btn__pagination" id="btn__page__pagination__page{{pagination + 1}}">{{pagination + 1}}</button>
                                </a>
                            {% endif %}
                        {% endfor %}
                        <button id="btn__next__pagination" onclick="next_btn_pagination()">Next</button>
                        <button id="btn__end__pagination__page" onclick="last_page_pagination()">Go to page end</button>
                    {% else %}
                        {% for pagination in range(0, pagination_page) %}
                            {% if current_page == pagination + 1 %}
                                <a href="{{url_for('EDITOR_bp.show_all_booking_room', status_booking_room = status_booking_room, current_page_para = pagination + 1)}}">
                                    <button class="btn__pagination active__btn__pagination" id="btn__page__pagination__page{{pagination + 1}}">{{pagination + 1}}</button>
                                </a>
                            {% else %}
                                <a href="{{url_for('EDITOR_bp.show_all_booking_room', status_booking_room = status_booking_room, current_page_para = pagination + 1)}}">
                                    <button class="btn__pagination" id="btn__page__pagination__page{{pagination + 1}}">{{pagination + 1}}</button>
                                </a>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>
            {% endif %}
        {% else %}
            <p>Không lấy được lịch sử đặt phòng. Liên hệ quản trị viên để biết thêm thông tin</p>
        {% endif %}
    </div>
{% endblock %}
