{% extends 'base_editor_page.html' %}

{% block content_editor_page %}
    <div class="header__option__price__duration__editor__page">
        <div class="title__price__duration">
            <h3>Price & Duration</h3>
            <p>New Price ! New Duration</p>
        </div>
        <div class="btn__price__duration__header">
            <a href="{{url_for('EDITOR_bp.price_editor_page')}}">
                <button class="btn__price__duration">Price</button>
            </a>
            <a href="{{url_for('EDITOR_bp.duration_editor_page')}}">
                <button class="btn__price__duration">Duration</button>
            </a>
        </div>
    </div>
{% endblock %}