{% extends 'payment_method_page.html' %}

{% block show_all_payments_method %}
    {% if get_all_payment_method is defined %}
        <table>
            <tr>
                <th>No</th>
                <th>Name</th>
                <th>Note</th>
            </tr>
        </table>
    {% endif %}
{% endblock %}