{% extends 'service_editor_page.html' %}

{% block content_service_editor_page %}
    <link rel="stylesheet" href="{{url_for('EDITOR_bp.static', filename = 'css/show_all_service.css')}}">
    {{all_option_service}} 
    <div class="show__all__service">
        <div class="show__default__service">
            {% if all_default_service is defined %}
                <table>
                    <caption>All default service</caption>
                    <tr>
                        <th>No.</th>
                        <th>Name</th>
                    </tr>
                    {% for default_service in all_default_service %}
                        <tr>
                            <td>{{loop.index}}</td>
                            <td>{{default_service[1]}}</td>
                        </tr>
                    {% endfor %}
                </table>
            {% endif %}

        </div>
        <div class="show__option__service">

        </div>
    </div>
{% endblock %}