{% extends 'payment_method_page.html' %}

{% block show_all_payments_method %}
    {% if get_all_payment_method is defined %}
        <script src="{{url_for('EDITOR_bp.static', filename = 'javascript/payment_method_page.js')}}"></script>
        {% if msg_del_payment_method_success is defined %}
            <div class="msg__del__payment__method__success">
                <p>{{msg_del_payment_method_success}}</p>
            </div>
        {% endif %}

        {% if msg_del_payment_method_fail is defined %}
            <div class="msg__del__payment__method__fail">
                <p>{{msg_del_payment_method_fail}}</p>
            </div>
        {% endif %}

        {% if msg_edit_payment_method_success is defined %}
            <div class="msg__edit__payment__method__success">
                <p>{{msg_edit_payment_method_success}}</p>
            </div>
        {% endif %}

        {% if msg_edit_payment_method_fail is defined %}
            <div class="msg__edit__payment__method__fail">
                <p>{{msg_edit_payment_method_fail}}</p>
            </div>
        {% endif %}

        {% if msg_add_new_payment_method_success is defined %}
            <div class="msg__add__new__payment__method__success">
                <p>{{msg_add_new_payment_method_success}}</p>
            </div>
        {% endif %}
        <table>
            <caption>Show all payment method</caption>
            <tr>
                <th>No</th>
                <th>Name</th>
                <th>Note</th>
                <th>Delete</th>
                <th>Edit</th>
            </tr>
            {% for each_payment_method in get_all_payment_method %}
                <tr>
                    <td>{{loop.index}}</td>
                    <td>{{each_payment_method.name}}</td>
                    <td>{{each_payment_method.note}}</td>
                    <td>
                        <button type="button" onclick="delete_payment_method('{{each_payment_method.name}}')">Delete</button>
                    </td>
                    <td>
                        <button type="button" onclick="edit_payment_method('{{each_payment_method.name}}')">Edit</button>
                    </td>
                </tr>
            {% endfor %}
            <form method="post">
                <input type="text" name='text_delete_payment_method' class="text__name__payment__method__delete" hidden>
                <input type="text" name='text_edit_payment_method' class="text__name__payment__method__edit" hidden>

                <input type="submit" name='submit_delete_payment_method' class="input__delete__payment__method_name" hidden>
                <input type="submit" name='submit_edit_payment_method' class="input__edit__payment__method_name" hidden>
            </form>
        </table>
    {% endif %}
{% endblock %}