{% extends 'service_editor_page.html' %}

{% block content_service_editor_page %}
    <link rel="stylesheet" href="{{url_for('EDITOR_bp.static', filename = 'css/show_all_service.css')}}">
    <div class="show__all__service">
        <div class="show__default__service">
            {% if all_default_service is defined %}
                {% if all_default_service|length == 0 %}
                    <p id="not__any__default__service">Chưa có dịch vụ mặc định nào</p>
                {% else %}
                    <table>
                        <caption>All default service</caption>
                        <tr>
                            <th>No.</th>
                            <th>Name</th>
                        </tr>
                        {% for default_service in all_default_service %}
                            <tr>
                                <td>{{loop.index}}</td>
                                <td>{{default_service[1]}}</td>
                            </tr>
                        {% endfor %}
                    </table>
                {% endif %}
            {% else %}
                <p id="not__load__success__default__service">Không load được dịch vụ mặc được</p>
            {% endif %}
        </div>
        <div class="show__option__service">
            {% if all_option_service is defined %}
                {% if all_option_service|length == 0 %}
                    <p id="not__any__option__service">Chưa có dịch vụ tùy chọn nào</p>
                {% else %}
                    <table>
                        <caption>All option service</caption>
                        <tr>
                            <th>No.</th>
                            <th>Name</th>
                        </tr>
                        {% for option_default in all_option_service %}
                            <tr>
                                <th>{{loop.index}}</th>
                                <th>{{option_default[1]}}</th>
                            </tr>
                        {% endfor %}
                    </table>
                {% endif %}
            {% else %}
                <p id="not__load__success__option__service">Không load được dịch vụ tùy chọn</p>
            {% endif %}
        </div>
    </div>
{% endblock %}