{% extends 'payment_method_page.html' %}

{% block show_all_payments_method %}
    {% if get_all_payment_method is defined %}
        <table>
            <caption>Show all payment method</caption>
            <tr>
                <th>No</th>
                <th>Name</th>
                <th>Note</th>
                <th>Delete</th>
            </tr>
            {% for each_payment_method in get_all_payment_method %}
                <tr>
                    <td>{{loop.index}}</td>
                    <td>{{each_payment_method.name}}</td>
                    <td>{{each_payment_method.note}}</td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
{% endblock %}