{% extends 'base_editor_page.html' %}

{% block content_editor_page %}
    <link rel="stylesheet" href="{{url_for('EDITOR_bp.static', filename = 'css/payment_methods.css')}}">
    <div class="header__option__payments__methods">
        <div class="title__payments__method">
            <h3>Payment Methods</h3>
            <p>New payment methods ! New booking</p>
        </div>
        <div class="btn__option__payments__method__header">
            <a href="{{url_for('EDITOR_bp.price_editor_page')}}">
                <button class="btn__option__each__payment__method">Show All</button>
            </a>
            <a href="{{url_for('EDITOR_bp.duration_editor_page')}}">
                <button class="btn__option__each__payment__method">Delete</button>
            </a>
            <a href="{{url_for('EDITOR_bp.duration_editor_page')}}">
                <button class="btn__option__each__payment__method">Edit</button>
            </a>
            <a href="{{url_for('EDITOR_bp.duration_editor_page')}}">
                <button class="btn__option__each__payment__method">Add</button>
            </a>
        </div>

        <div>
            {% block show_all_payments_method %}
            {% endblock %}
        </div>
        <div>
            {% block delete_payment_method %}
            {% endblock %}
        </div>
        <div>
            {% block edit_payment_method %}
            {% endblock %}
        </div>
        <div>
            {% block add_payment_method %}
            {% endblock %}
        </div>
    </div>
{% endblock %}