{% extends 'base_editor_page.html' %}

{% block content_editor_page %}
    <div class="header__option__payments__methods">
        <div class="title__payments__method">
            <h3>Payment Methods</h3>
            <p>New payment methods ! New booking</p>
        </div>
        <div class="btn__option__payments__method__header">
            <a href="{{url_for('EDITOR_bp.price_editor_page')}}">
                <button class="btn__option">Price</button>
            </a>
            <a href="{{url_for('EDITOR_bp.duration_editor_page')}}">
                <button class="btn__price__duration">Duration</button>
            </a>
        </div>
    </div>
{% endblock %}