* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 14px;
}

:root {
    --first-color : #000000;
    --second-color : #3D0000;
    --third-color : #950101;
    --fourth-color : #FF0000;
}

header {
    position: relative;
    background-image: url('../images/first-image.jpg');
    background-size: cover;
    height: 100%;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: start;
    width: 75%;
    margin: 0 auto;
    padding-top: 15px;
}

#image__logo__page {
    width: 70px;
}

select {
    padding: 5px 15px;
    background-color: transparent;
    color:white;
}

option {
    background-color: transparent;
    color:black;
    border: 1px solid black;
}

#login__homepage__link {
    padding : 15px;
    border-radius: 5px;
    background-color: var(--fourth-color);
    color: white;
    text-decoration: none;
    font-weight: bolder;
    border: 1px solid var(--fourth-color);
    margin-left: 15px;
}