* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 14px;
}

:root {
    --f-color : #000000;
    --s-color : #3D0000;
    --t-color : #950101;
    --f-color : #FF0000;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    width: 75%;
    margin: 0 auto;
    margin-top: 15px;
}

#image__logo__page {
    width: 70px;
}