* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 14px;
    background-color: red;
}

:root {
    --f-color : #000000;
    --s-color : #3D0000;
    --t-color : #950101;
    --f-color : #FF0000;
}