* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

:root {
    --first-color : #000000;
    --second-color : #3D0000;
    --third-color : #950101;
    --fourth-color : #FF0000;
}

header {
    position: relative;
    background-image: url('../images/first-image.jpg');
    background-size: cover;
    height: 100%;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: start;
    width: 75%;
    margin: 0 auto;
    padding-top: 15px;
    position: relative;
}

#image__logo__page {
    width: 70px;
}

select {
    padding: 5px 15px;
    background-color: transparent;
    color:white;
}

option {
    background-color: transparent;
    color:black;
}

#login__homepage__link {
    padding : 5px 15px;
    border-radius: 5px;
    background-color: var(--fourth-color);
    color: white;
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    border: 1px solid var(--fourth-color);
    margin-left: 15px;
}

.title__homepage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#slogan__title {
    font-weight: bolder;
    color: white;
    font-size: 50px;
    text-align: center;
}

#question__homepage__link__login {
    color: white;
    font-size: 20px;
    text-align: center;
    margin-top: 15px;
}

.some__images__room{
    display: grid;
    grid-template-areas: 
    "pic-1 pic-3 pic-4"
    "pic-2 pic-3 pic-5";
    width: 75%;
    margin: 15px auto;
    column-gap: 10px;
    grid-template-rows: 400px;
}

.each__images__room {
    width: 400px;
    height: 390px;
    object-fit: cover;
    border: 1px solid black;
}

.images__room__1 {
    grid-area: pic-1;
}

.images__room__2 {
    grid-area: pic-2;
}

.images__room__3 {
    grid-area: pic-3;
    height: 790px;
}

.images__room__4 {
    grid-area: pic-4;
}

.images__room__5 {
    grid-area: pic-5;
}

#show__zoom__room__images {
    display: none;
}

.about__us {
    background-color: var(--first-color);
    padding: 15px 0;
}

.about__us__inner {
    width: 75%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.images__about__us {
    width: 350px;
    object-fit: contain;
    display: 'none';
}

.content__about__us {
    color: white;
    width: 50%;
}

h2 {
    text-align: left;
    font-size: 50px;
}

.type__room__homepage {
    width: 90%;
    margin: 15px auto;
    display: flex;
    justify-content: space-between;
}

.type__room__small {
    border: 1px solid black;
    width: 30%;
}

.header__type__room__homepage {
    background-color: var(--third-color);
    height: 50px;
    position: relative;
}

.img__type__room__homepage {
    width: 50px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateX(-50%);
}
