* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

:root {
    --first-color : #000000;
    --second-color : #3D0000;
    --third-color : #950101;
    --fourth-color : #FF0000;
}

header {
    position: relative;
    background-image: url('../images/first-image.jpg');
    background-size: cover;
    height: 100%;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: start;
    width: 75%;
    margin: 0 auto;
    padding-top: 15px;
    position: relative;
}

#image__logo__page {
    width: 70px;
}

select {
    padding: 5px 15px;
    background-color: transparent;
    color:white;
}

option {
    background-color: transparent;
    color:black;
}

#login__homepage__link {
    padding : 5px 15px;
    border-radius: 5px;
    background-color: var(--fourth-color);
    color: white;
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    border: 1px solid var(--fourth-color);
    margin-left: 15px;
}

.title__homepage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#slogan__title {
    font-weight: bolder;
    color: white;
    font-size: 50px;
    text-align: center;
}

#question__homepage__link__login {
    color: white;
    font-size: 20px;
    text-align: center;
    margin-top: 15px;
}

.some__images__room{
    display: grid;
    grid-template-areas: 
    "pic-1 pic-3 pic-4"
    "pic-2 pic-3 pic-5";
    width: 75%;
    margin: 15px auto;
    column-gap: 10px;
    grid-template-rows: 400px;
}

.each__images__room {
    width: 400px;
    height: 390px;
    object-fit: cover;
    border: 1px solid black;
}

.images__room__1 {
    grid-area: pic-1;
}

.images__room__2 {
    grid-area: pic-2;
}

.images__room__3 {
    grid-area: pic-3;
    height: 790px;
}

.images__room__4 {
    grid-area: pic-4;
}

.images__room__5 {
    grid-area: pic-5;
}

#show__zoom__room__images {
    display: none;
}

.about__us {
    background-color: var(--first-color);
    padding: 15px 0;
}

.about__us__inner {
    width: 75%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.images__about__us {
    width: 350px;
    object-fit: contain;
    display: 'none';
}

.content__about__us {
    color: white;
    width: 50%;
}

h2 {
    text-align: left;
    font-size: 50px;
}

.type__room__homepage {
    width: 90%;
    margin: 15px auto;
    display: flex;
    justify-content: space-between;
}

.type__room__small, .type__room__middle, .type__room__big {
    border: 1px solid black;
    width: 30%;
    padding: 15px 5px;
    border-radius: 15px;
    background: linear-gradient(to bottom right, var(--fourth-color) 1%, var(--first-color) 99%);
}

.header__type__room__homepage {
    text-align: center;
}

.img__type__room__homepage {
    width: 250px;
    border-radius: 15px;
}

.title__type__room__homepage {
    font-size: 30px;
    text-align: center;
    color: white;
    margin: 15px 0;
}

.detail__type__room__homepage li {
    color:white;
    list-style: none;
    font-size: 18px;
}

.detail__type__room__homepage {
    text-align: center;
    margin-top: 15px;
}

.type__room__homepage > div:hover {
    outline: 5px solid var(--first-color)
}

.icon__social {
    background-color: white;
    width: 30px;
    animation-name: icon-social;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.homepage__icon__social {
    width: 20%;
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.homepage__contact__inner {
    width: 75%;
    margin: 0 auto;
    border: 1px solid black;
    padding-bottom: 15px;
}

#title__homepage__contact {
    font-size: 30px;
    background-color: var(--fourth-color);
    color:white;
    font-weight: bold;
    padding: 15px;
}

.each__input__homepage__contact {
    padding: 15px;
    display: flex;
    flex-direction: column;
}

.each__input__homepage__contact label {
    font-size: 18px;
    margin-bottom: 5px;
}

.each__input__homepage__contact input, .each__input__homepage__contact textarea {
    padding: 15px;
    font-size: 18px;
}

input[type='submit']{
    padding: 5px;
    background-color: var(--fourth-color);
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
}

.input__submit__homepage__contact {
    text-align: right;
    margin-right: 15px;
    margin-top: 15px;
}

.type__room__small__inner {
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.video__type__room__small {
    width: 500px;
}

.room__small__detail__ul {
    padding-left: 15px;
    margin-top: 15px;
}

.room__small__detail__ul li {
    font-size: 18px;
}

.type__room__small__inner h3 {
    font-size: 30px;
    font-weight: bold;
}

.type__room__small__detail > div, .type__room__middle__detail > div, .type__room__big__detail > div {
    border: 1px solid var(--fourth-color);
    width: 75%;
    margin: 0 auto;
}

.each__type__room__detail {
    display: none;
}

.type__room__small__detail, .type__room__middle__detail, .type__room__big__detail {
    margin-bottom: 15px;
    transform: translateX(-100%);
    animation : slide-left-type-room 1.5s forwards;
}

.content__small__room__detail {
    font-size: 18px;
    padding: 15px;
}

.close__small__room__detail {
    text-align: right;
    text-decoration: underline;
    cursor: pointer;
}

.link__another__part__homepage {
    width: 45%;
    margin: 15px auto;
}
@keyframes slide-left-type-room {
    0%{
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes icon-social {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1;
    }
}