<link rel="stylesheet" href="{{url_for('HP_bp.static', filename = 'css/homepage_page.css')}}">
<header>
    <div class="header__inner">
        <a href="{{url_for('HP_bp.homepage_page')}}">
            <img src="{{url_for('HP_bp.static', filename = 'images/Logo-red.png')}}" alt="Logo Image" id="image__logo__page">
        </a>
        <div class="option__header__homepage__page">
            <select name="get_language_homepage">
                <option value="vn" selected>Việt Nam</option>
                <option value="en">Tiếng Anh</option>
            </select>
            <a id="login__homepage__link" href="#">Đăng nhập</a>
        </div>
        <div class="title__homepage">
            <p>Big Room - Cheap - Good Service</p>
        </div>
    </div>
</header>
