<link rel="stylesheet" href="{{url_for('HP_bp.static', filename = 'css/homepage_page.css')}}">
<header>
    <div class="header__inner">
        <img src="{{url_for('static', filename = 'images/Logo-red.png')}}" alt="Logo Image">
    </div>
</header>