<link rel="stylesheet" href="{{url_for('HP_bp.static', filename = 'css/homepage_page.css')}}">
<script src="{{url_for('HP_bp.static', filename = 'javascript/homepage_page.js')}}"></script>
<header>
    <div class="header__inner">
        <a href="{{url_for('HP_bp.homepage_page')}}">
            <img src="{{url_for('HP_bp.static', filename = 'images/Logo-red.png')}}" alt="Logo Image" id="image__logo__page">
        </a>
        <div class="option__header__homepage__page">
            <select name="get_language_homepage">
                <option value="vn" selected>Việt Nam</option>
                <option value="en">Tiếng Anh</option>
            </select>
            <a id="login__homepage__link" href="#">Đăng nhập</a>
        </div>
    </div>
    <div class="title__homepage">
        <p id="slogan__title">Big Room - Cheap - Good Service</p>
        <p id="question__homepage__link__login">Do you want a big room for meeting ? Login now !</p>
    </div>
</header>
<div>
    <div class="some__images__room">
        <img src="{{url_for('HP_bp.static', filename = 'images/pic-1.jpg')}}" class="each__images__room images__room__1">
        <img src="{{url_for('HP_bp.static', filename = 'images/pic-2.jpg')}}" class="each__images__room images__room__2">
        <img src="{{url_for('HP_bp.static', filename = 'images/pic-3.jpg')}}" class="each__images__room images__room__3">
        <img src="{{url_for('HP_bp.static', filename = 'images/pic-4.jpg')}}" class="each__images__room images__room__4">
        <img src="{{url_for('HP_bp.static', filename = 'images/pic-5.jpg')}}" class="each__images__room images__room__5">
    </div>
</div>
