<link rel="stylesheet" href="{{url_for('HP_bp.static', filename = 'css/homepage_page.css')}}">
<script src="{{url_for('HP_bp.static', filename = 'javascript/homepage_page.js')}}"></script>
<header>
    <div class="header__inner">
        <a href="{{url_for('HP_bp.homepage_page')}}">
            <img src="{{url_for('HP_bp.static', filename = 'images/Logo-red.png')}}" alt="Logo Image" id="image__logo__page">
        </a>
        <div class="option__header__homepage__page">
            <select name="get_language_homepage">
                <option value="vn" selected>Việt Nam</option>
                <option value="en">Tiếng Anh</option>
            </select>
            <a id="login__homepage__link" href="#">Đăng nhập</a>
        </div>
    </div>
    <div class="title__homepage">
        <p id="slogan__title">Bạn muốn thuê phòng ?</p>
        <p id="question__homepage__link__login">Chúng tôi cung cấp các phòng họp từ nhỏ đến lớn với giá cả phải chăng</p>
        <div>
            <a href="#show__all__images__room">Xem một vài hình ảnh</a>
        </div>
    </div>
</header>
<div>
    <div class="some__images__room" id="show__all__images__room">
        <img src="{{url_for('HP_bp.static', filename = 'images/pic-1.jpg')}}" class="each__images__room images__room__1">
        <img src="{{url_for('HP_bp.static', filename = 'images/pic-2.jpg')}}" class="each__images__room images__room__2">
        <img src="{{url_for('HP_bp.static', filename = 'images/pic-3.jpg')}}" class="each__images__room images__room__3">
        <img src="{{url_for('HP_bp.static', filename = 'images/pic-4.jpg')}}" class="each__images__room images__room__4">
        <img src="{{url_for('HP_bp.static', filename = 'images/pic-5.jpg')}}" class="each__images__room images__room__5">
    </div>
</div>
<div class="about__us">
    <div class="about__us__inner">
        <div class="content__about__us">
            <h2>Giới thiệu công ty</h2><br>
            <p>Công ty chúng tôi cung cấp dịch vụ cho thuê các phòng họp khác nhau từ nhỏ đến lớn</p><br>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deleniti laudantium at nostrum praesentium perferendis inventore consequatur beatae placeat eligendi libero rerum quidem expedita sit, 
                temporibus delectus impedit dicta voluptatum accusamus dolores unde fuga, 
                pariatur quo. Enim deleniti, sed odit dolorem excepturi quos harum aperiam quas asperiores, suscipit 
                tempora repellat itaque maxime distinctio aspernatur eius qui sapiente impedit! At et tempora nisi unde corporis magni rem veritatis, dolores illo reprehenderit placeat. 
                Molestiae sed soluta obcaecati numquam aperiam dolore vel cum, perspiciatis optio repellendus ipsum! Consequatur quae nihil, odit delectus ipsum tenetur veritatis quisquam dolore! Sint nobis, 
                accusamus necessitatibus voluptatum ullam aspernatur.
            </p>
            <div class="homepage__icon__social">
                <a href="https://www.facebook.com/">
                    <img src="{{url_for('HP_bp.static', filename = 'images/icon-face.png')}}" class="icon__social">
                </a>
                <a href="https://www.instagram.com/">
                    <img src="{{url_for('HP_bp.static', filename = 'images/icon_ins.png')}}" class="icon__social">
                </a>
                <a href="https://www.youtube.com/">
                    <img src="{{url_for('HP_bp.static', filename = 'images/icon-youtube.png')}}" class="icon__social">
                </a>
            </div>
        </div>
        <div class="slide__show__image__about__us">
            <img src="{{url_for('HP_bp.static', filename = 'images/about_us.jpg')}}" class="images__about__us">
            <img src="{{url_for('HP_bp.static', filename = 'images/pic-1.jpg')}}" class="images__about__us">
            <img src="{{url_for('HP_bp.static', filename = 'images/pic-2.jpg')}}" class="images__about__us">
            <img src="{{url_for('HP_bp.static', filename = 'images/pic-4.jpg')}}" class="images__about__us">
            <img src="{{url_for('HP_bp.static', filename = 'images/pic-5.jpg')}}" class="images__about__us">
        </div>
    </div>
</div>
<div class="type__room__homepage">
    <div class="type__room__small">
        <div class="header__type__room__homepage">
            <img src="{{url_for('HP_bp.static', filename = 'images/pic-2.jpg')}}" class="img__type__room__homepage">
        </div>
        <h3 class="title__type__room__homepage">Phòng họp loại nhỏ</h3>
        <hr>
        <ul class="detail__type__room__homepage">
            <li>Sức chứa : 5 - 10 người</li>
            <li>Gía thuê : 1 triệu - 3 triệu</li>
            <li>Máy chiếu : VGA ( cũ )</li>
        </ul>
    </div>
    <div class="type__room__middle">
        <div class="header__type__room__homepage">
            <img src="{{url_for('HP_bp.static', filename = 'images/pic-4.jpg')}}" class="img__type__room__homepage">
        </div>
        <h3 class="title__type__room__homepage">Phòng họp loại vừa</h3>
        <hr>
        <ul class="detail__type__room__homepage">
            <li>Sức chứa : 11 - 100 người</li>
            <li>Gía thuê : 5 triệu - 10 triệu</li>
            <li>Máy chiếu : VGA ( mới )</li>
        </ul>
    </div>
    <div class="type__room__big">
        <div class="header__type__room__homepage">
            <img src="{{url_for('HP_bp.static', filename = 'images/pic-2.jpg')}}" class="img__type__room__homepage">
        </div>
        <h3 class="title__type__room__homepage">Phòng họp loại lớn</h3>
        <hr>
        <ul class="detail__type__room__homepage">
            <li>Sức chứa : 101 - 1000 người</li>
            <li>Gía thuê : 10 triệu - 30 triệu</li>
            <li>Máy chiếu : VGA ( mới )</li>
            <li>Có màn hình led chiếu lớn</li>
        </ul>
    </div>
</div>
<div class="type__room__small__detail">
    <div class="type__room__small__inner">
        <div>
            <h3>Phòng họp nhỏ</h3>
            <ul>
                <li>Sức chứa : 5 - 10 người</li>
                <li>Gía thuê : 1 triệu - 3 triệu</li>
                <li>Máy chiếu : VGA ( cũ )</li>
            </ul>
        </div>
        <div>
            <video src="{{url_for('HP_bp.static', filename = 'videos/type-room-small.MOV')}}" class="video__type__room__small"  autoplay ></video>
        </div>
    </div>
</div>
<div class="homepage__contact">
    <div class="homepage__contact__inner">
        <h3 id="title__homepage__contact">For help ! Send Gmail</h3>
        <div class="each__input__homepage__contact">
            <label>Địa chỉ gmail</label>
            <input type="text">
        </div>
        <div class="each__input__homepage__contact">
            <label>TIêu đề</label>
            <input type="text">
        </div>
        <div class="each__input__homepage__contact">
            <label>Nội dung</label>
            <textarea></textarea>
        </div>
        <div class="input__submit__homepage__contact">
            <input type="submit" value="Gửi">
        </div>
    </div>
</div>
