<link rel="stylesheet" href="{{url_for('HP_bp.static', filename = 'css/homepage_page.css')}}">
<script src="{{url_for('HP_bp.static', filename = 'javascript/homepage_page.js')}}"></script>
<header>
    <div class="header__inner">
        <a href="{{url_for('HP_bp.homepage_page')}}">
            <img src="{{url_for('HP_bp.static', filename = 'images/Logo-red.png')}}" alt="Logo Image" id="image__logo__page">
        </a>
        <div class="option__header__homepage__page">
            <select name="get_language_homepage">
                <option value="vn" selected>Việt Nam</option>
                <option value="en">Tiếng Anh</option>
            </select>
            <a id="login__homepage__link" href="#">Đăng nhập</a>
        </div>
    </div>
    <div class="title__homepage">
        <p id="slogan__title">Bạn muốn thuê phòng ?</p>
        <p id="question__homepage__link__login">Chúng tôi cung cấp các phòng họp từ nhỏ đến lớn với giá cả phải chăng</p>
        <div>
            <a href="#show__all__images__room">Xem một vài hình ảnh</a>
        </div>
    </div>
</header>
<div>
    <div class="some__images__room" id="show__all__images__room">
        <img src="{{url_for('HP_bp.static', filename = 'images/pic-1.jpg')}}" class="each__images__room images__room__1">
        <img src="{{url_for('HP_bp.static', filename = 'images/pic-2.jpg')}}" class="each__images__room images__room__2">
        <img src="{{url_for('HP_bp.static', filename = 'images/pic-3.jpg')}}" class="each__images__room images__room__3">
        <img src="{{url_for('HP_bp.static', filename = 'images/pic-4.jpg')}}" class="each__images__room images__room__4">
        <img src="{{url_for('HP_bp.static', filename = 'images/pic-5.jpg')}}" class="each__images__room images__room__5">
    </div>
</div>
<div class="about__us">
    <div class="about__us__inner">
        <div class="content__about__us">
            <h3>Giới thiệu công ty chúng tôi</h3><br>
            <p>Công ty chúng tôi cung cấp dịch vụ cho thuê các phòng họp khác nhau từ nhỏ đến lớn</p><br>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deleniti laudantium at nostrum praesentium perferendis inventore consequatur beatae placeat eligendi libero rerum quidem expedita sit, 
                temporibus delectus impedit dicta voluptatum accusamus dolores unde fuga, 
                pariatur quo. Enim deleniti, sed odit dolorem excepturi quos harum aperiam quas asperiores, suscipit 
                tempora repellat itaque maxime distinctio aspernatur eius qui sapiente impedit! At et tempora nisi unde corporis magni rem veritatis, dolores illo reprehenderit placeat. 
                Molestiae sed soluta obcaecati numquam aperiam dolore vel cum, perspiciatis optio repellendus ipsum! Consequatur quae nihil, odit delectus ipsum tenetur veritatis quisquam dolore! Sint nobis, 
                accusamus necessitatibus voluptatum ullam aspernatur.
            </p>
        </div>
        <img src="{{url_for('HP_bp.static', filename = 'images/about_us.jpg')}}" id="images__about__us">
    </div>
</div>
