* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

:root {
    --header-color: black;
    --bg-color: #161920;
}

header {
    background-color: var(--header-color);
}

.header__inner {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo__img__header{
    width: 70px;
}

#log__out__editor__link {
    color:white;
    text-decoration: none;
}

.content__editor__page {
    background-color: var(--bg-color);
    height: max-content;
}

.header__menu__link a {
    text-decoration: none;
    color: white;
}

.header__menu__link a:hover {
    text-decoration: underline;
    color: blue;
    transition: 0.2s;
}

.header__menu__link {
    width: 65%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.group__header__menu__link {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 autp;
}