* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

header {
    background-color: black;
}

.header__inner {
    padding: 15px;
}

#logo__img__header{
    width: 70px;
}