* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

:root {
    --header-color: black;
}

header {
    background-color: var(--header-color);
}

.header__inner {
    padding: 15px;
    display: flex;
    justify-content: space-between;
}

#logo__img__header{
    width: 70px;
}

#log__out__editor__link {
    color:white;
    text-decoration: none;
}