* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

.each__inform__default__service {
    display: flex;
    justify-content: space-between;
}

label {
    color: white;
}