* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

.each__inform__default__service {
    display: flex;
    justify-content: space-between;
}

label {
    color: white;
}

.default__service__editor__page__inner {
    width: 50%;
    margin: 0 auto;
    padding: 15px 25px;
    border-radius: 15px;
    background-image: linear-gradient(to bottom, purple, orange 99%);
}