* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

.default__service__editor__page__inner {
    width: 50%;
    margin: 0 auto;
    padding: 15px 0;
}
.each__inform__default__service {
    display: flex;
    justify-content: space-between;
}