* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

.default__service__editor__page__inner {
    width: 500px;
    margin: 0 auto;
}
.each__inform__default__service {
    display: flex;
    justify-content: space-between;
}