* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

:root {
    --first-color : #0D1282;
    --second-color : #EEEDED;
    --third-color : #F0DE36;
    --fourth-color : #D71313;
}

.detail__one__booking {
    width: 75%;
    margin: 0 auto;
    padding: 25px 10px;
}