* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

:root {
    --first-color : #0D1282;
    --second-color : #EEEDED;
    --third-color : #F0DE36;
    --fourth-color : #D71313;
}

.detail__one__booking {
    width: 85%;
    margin: 30px auto;
    padding: 25px 10px;
    background-color: var(--first-color);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}

.btn__detail__one__booking {
    text-align: right;
    margin-top: 30px;
}

.btn__detail__one__booking button {
    padding: 15px 25px;
    border: none;
    outline: none;
    background-color: var(--fourth-color);
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

caption {
    text-align: left;
}

table {
    color: white;
    border-collapse: collapse;
}

.show__inform__booking {
    margin-top: 15px;
    margin-bottom: 15px;
}