* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

table {
    width: fit-content;
    border-collapse: collapse;
    background-image: linear-gradient(to right, purple, orange 99%);
    border-radius: 15px 15px 0 0;
}

td, th {
    color: white;
    border-bottom: 1px solid white;
    width: fit-content;
    padding: 15px 35px;
}

caption {
    color: white;
    font-size: 22px;
    margin-bottom: 15px;
}