.edit__room__by__code {
    padding-top: 15px;
    width: 75%;
    margin: 0 auto;
}

.each__edit__room {
    display: flex;
    justify-content: space-between;
    padding-bottom: 15px;
    padding-top: 15px;
    border-bottom: 1px dashed black;
}

label {
    margin-right: 15px;
}

.note__edit__room__when__submit {
    margin: 15px auto;
    width: 75%;
    padding: 15px;
    border: 1px solid black;
    display: none;
}

.btn__check__valid__input {
    text-align: right;
    width: 75%;
    margin: 15px auto;
}