.edit__booking__room__by__code {
    margin-top: 30px;
}

caption {
    text-align: left;
    margin-bottom: 15px;
    font-size: 22px;
    font-weight: bold;
}

table {
    width: 75%;
    margin: 0 auto;
}

.new__booking__room {
    width: 75%;
    margin: 0 auto;
    margin-top: 50px;
    padding: 15px;
    background-color: blue;
    border-radius: 15px;
    color: white;
}

#title__new__booking__room {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 15px;
    color: white;
}

.input__group__new__booking__room {
    display: flex;
    flex-direction: column;
}

.input__group__item {
    display: flex;
    justify-content: space-between;
}

label {
    margin-right: 15px;
}