.edit__booking__room__by__code {
    margin-top: 30px;
}

caption {
    text-align: left;
    margin-bottom: 15px;
    font-size: 22px;
    font-weight: bold;
}

table {
    width: 75%;
    margin: 0 aut9o;
}