* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

.title_history_booking_room {
    color: white;
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.title_history_booking_room h3 {
    font-size: 32px;
    font-weight: lighter;
    margin-bottom: 30px;
}

.content__history__booking__room {
    height: 100%;
    width: 100%;
    background-color: white;
}

.option__bar__history__booking {
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(to right, purple, orange);
    align-items: center;
    padding-right: 30px;
}

.btn__option__history__booking > a > button {
    padding: 15px 25px;
    border-radius: 5px;
    border: none;
    outline: none;
    color: white;
    background-color: purple;
    cursor:pointer;
}

table {
    border: 1px solid black;
    width: 75%;
    margin: 15px auto;
}