* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

.title__ins__new__room {
    color: white;
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-image: linear-gradient(to right, purple, orange);
}

.title__ins__new__room h3 {
    font-size: 32px;
    font-weight: lighter;
    margin-bottom: 30px;
}

.form__ins__inform__room {
    width: 90%;
    margin: 30px auto;
    background-color: black;
    border-radius: 15px;
    padding: 15px;
    display: flex;
    flex-direction: column;
}

label {
    color: white;
}

input[type='text'], input[type='number'] {
    padding: 5px;
    border-radius: 15px;
    font-size: 16px;
}

.each__inform__new__room {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

select {
    padding: 5px;
    border-radius: 5px;
}

.detail__addr__new__room {
    display: flex;
    justify-content: space-between;
    width: 70%;
}