* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

.title__ins__new__room {
    color: white;
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-image: linear-gradient(to right, purple, orange);
}

.title__ins__new__room h3 {
    font-size: 32px;
    font-weight: lighter;
    margin-bottom: 30px;
}

.form__ins__inform__room {
    width: 90%;
    margin: 30px auto;
    border-radius: 15px;
    padding: 15px;
    display: flex;
    flex-direction: column;
}

label {
    color: white;
}

input[type='text'], input[type='number'] {
    padding: 15px;
    border-radius: 15px;
    font-size: 16px;
}

.each__inform__new__room {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 45px;
    background-color: black;
    padding: 15px;
    border-radius: 15px;
}

select {
    padding: 15px;
    border-radius: 5px;
}

.detail__addr__new__room {
    display: flex;
    justify-content: space-between;
    width: 70%;
}

#note__inform__new__room {
    color: white;
}

input[type='submit'] {
    color: white;
    padding: 15px 25px;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: red;
    border-radius: 15px;
}

.note__submit__btn__new__room {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    align-items: center;
}

.btn__add__service {
    padding: 15px 25px;
    border: none;
    outline: none;
    background-color: red;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.show__service__ins__new__room {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.show__add__default__service, .show__add__option__service {
    width: 45%;
    border: 1px dashed white;
    border-radius: 5px;
    padding: 15px;
    height: fit-content;
}

.title__each__show__service {
    color: white;
    font-size: 22px;
    text-align: center;
}

.lst__add__default__service, .lst__add__option__service {
    padding-left: 15px;
}

.lst__add__default__service li, .lst__add__option__service li {
    color: white;
}

.lst__add__default__service > div, .lst__add__option__service > div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.lst__add__default__service div button, .lst__add__option__service div button {
    color: white;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

.show__amount__each__default__service, .show__amount__each__option__service {
    display: flex;
    width: 15%;
    justify-content: space-between;
}

.show__amount__each__default__service p, .show__amount__each__option__service p {
    color: white;
}

input[type='file']{
    color:white;
}

.show__all__image__new__room {
    border: 1px dashed white;
    border-radius: 5px;
    padding: 15px;
    width: 100%;
    overflow-x: scroll;
}

.title__image__new__room {
    color:white;
    text-align: center;
    font-size: 22px;
    margin-bottom: 15px;
}

.show__all__image__new__room__inner {
    display: flex;
    height: 200px;
}

.show__all__image__new__room__inner div {
    position: relative;
}

.show__all__image__new__room__inner div button{
    position: absolute;
}

.show__all__image__new__room__inner div img {
    width: 200px;
    height: 200px;
    margin-right: 20px;
}

.msg__ins__new__room__success {
    width: 100%;
    padding: 15px;
    background-color: greenyellow;
}

.msg__ins__new__room__success p {
    color: white;
    font-size: 22px;
}

.msg__ins__new__room__fail {
    width: 100%;
    padding: 15px;
    background-color: red;
}

.msg__ins__new__room__fail p {
    color: white;
    font-size: 22px;
}

.confirm__delete__option__service, .confirm__delete__default__service {
    background-color: white;
    border: 2px solid black;
    width: 500px;
    height: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    display: none;
    z-index: 1000;
}

.confirm__delete__option__service p, .confirm__delete__default__service p {
    height: 50px;
    padding: 15px;
    background-color: blue;
    color: white;
}

.confirm__delete__option__service__inner, .confirm__delete__default__service__inner {
    display: flex;
    justify-content: space-between;
    padding: 15px;
}
