* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

.title__ins__new__room {
    color: white;
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-image: linear-gradient(to right, purple, orange);
}

.title__ins__new__room h3 {
    font-size: 32px;
    font-weight: lighter;
    margin-bottom: 30px;
}

.form__ins__inform__room {
    width: 90%;
    margin: 30px auto;
    border-radius: 15px;
    padding: 15px;
    display: flex;
    flex-direction: column;
}

label {
    color: white;
}

input[type='text'], input[type='number'] {
    padding: 15px;
    border-radius: 15px;
    font-size: 16px;
}

.each__inform__new__room {
    display: flex;
    justify-content: space-between;
    margin-bottom: 45px;
}

select {
    padding: 15px;
    border-radius: 5px;
}

.detail__addr__new__room {
    display: flex;
    justify-content: space-between;
    width: 70%;
}

#note__inform__new__room {
    color: white;
}

input[type='submit'] {
    color: white;
    padding: 15px 25px;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: red;
    border-radius: 15px;
}

.note__submit__btn__new__room {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    align-items: center;
}

.btn__add__service {
    padding: 15px 5px;
    border: none;
    outline: none;
    background-color: red;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.show__service__ins__new__room {
    display: flex;
    justify-content: space-between;
}

.show__add__default__service, .show__add__option__service {
    width: 45%;
    border: 1px dashed white;
    border-radius: 5px;
    padding: 15px;
}

.title__each__show__service {
    color: white;
    font-size: 22px;
    text-align: center;
}

.lst__add__default__service {
    padding-left: 15px;
}

.lst__add__default__service li {
    color: white;
}