* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

.title__ins__new__room {
    color: white;
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-image: linear-gradient(to right, purple, orange);
}

.title__ins__new__room h3 {
    font-size: 32px;
    font-weight: lighter;
    margin-bottom: 30px;
}

.form__ins__inform__room {
    width: 90%;
    margin: 0 auto;
    background-color: white;
    border-radius: 15px;
}
