.title__ins__new__booking {
    color: white;
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-image: linear-gradient(to right, purple, orange);
}

.title__ins__new__booking h3 {
    font-size: 32px;
    font-weight: lighter;
    margin-bottom: 30px;
}

.content__ins__new__booking {
    padding: 15px 25px;
    width: 85%;
    margin: 0 auto;
    margin-top: 35px;
    background-color: blue;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    color: white;
}

.each__input__ins__new__booking {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px dashed white;
}

.ins__new__booking__room__step__2 {
    width: 75%;
    margin: 0 auto;
    margin-top: 15px;
}