.title__ins__new__room {
    color: white;
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-image: linear-gradient(to right, purple, orange);
}

.title__ins__new__room h3 {
    font-size: 32px;
    font-weight: lighter;
    margin-bottom: 30px;
}