.title__ins__new__booking {
    color: white;
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-image: linear-gradient(to right, purple, orange);
}

.title__ins__new__booking h3 {
    font-size: 32px;
    font-weight: lighter;
    margin-bottom: 30px;
}

.content__ins__new__booking {
    padding: 15px 25px;
    width: 85%;
    margin: 0 auto;
    margin-top: 35px;
    background-color: blue;
    border-radius: 15px;
}