* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

.each__inform__option__service {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    align-items: center;
}

label {
    color: white;
}

.option__service__editor__page__inner {
    width: 50%;
    margin: 15px auto;
    padding: 15px 25px;
    border-radius: 15px;
    background-image: linear-gradient(to bottom, purple, orange 99%);
}

input[type='text'] {
    width: 80%;
    padding: 15px;
    border-radius: 5px;
}

select {
    padding: 15px;
    border-radius: 5px;
}

.submit__btn__ins__new__option__service {
    text-align: right;
}

input[type='submit']{
    padding: 15px 25px;
    border: none;
    outline: none;
    background-color: red;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.msg__ins__success {
    padding: 15px;
    background-color: greenyellow;
}

.msg__ins__fail {
    padding: 15px;
    background-color: red;
}

.msg__ins__fail p {
    color: white;
    font-size: 22px;
}

.msg__ins__success p {
    font-size: 22px;
    color: black;
}