* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

.header__option__payments__methods {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
    background-image: linear-gradient(to right, purple, orange);
    align-items: center;
}

.title__payments__method {
    color: white;
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.title__payments__method h3 {
    font-size: 32px;
    font-weight: lighter;
    margin-bottom: 30px;
}

.btn__option__payments__method__header {
    padding-right: 30px;
}

.btn__option__each__payment__method {
    padding: 15px;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: purple;
    color: white;
}

.show__all__payment__method {
    margin: 15px auto;
    width: 75%;
}

table {
    width: 100%s;
}