* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

.title__price__duration {
    color: white;
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.title__price__duration h3 {
    font-size: 32px;
    font-weight: lighter;
    margin-bottom: 30px;
}

.header__option__price__duration__editor__page {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
    background-image: linear-gradient(to right, purple, orange);
    align-items: center;
}


.btn__price__duration__header {
    padding-right: 30px;
}

.btn__price__duration {
    padding: 15px;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: purple;
}