* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

.content__price__editor__page {
    width: 90%;
    margin: 0 auto;
    padding: 30px;
    background-color: black;
    margin-top: 15px;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: start;
}

table {
    width: fit-content;
    margin: 0 auto;
    border-collapse: collapse;
    background-image: linear-gradient(to right, purple, orange 99%);
    border-radius: 15px;
}

td, th {
    color: white;
    border-bottom: 1px solid white;
    width: fit-content;
    padding: 15px 35px;
}

td:nth-last-child() {
    border: none;
}

caption {
    color: white;
    font-size: 22px;
    margin-bottom: 15px;
}