* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

.content__price__editor__page {
    width: 90%;
    margin: 0 auto;
    padding: 30px;
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

table {
    width: fit-content;
    border-collapse: collapse;
    background-image: linear-gradient(to right, purple, orange 99%);
    border-radius: 15px 15px 0 0;
}

td, th {
    color: white;
    border-bottom: 1px solid white;
    width: fit-content;
    padding: 15px 35px;
}

caption {
    color: white;
    font-size: 22px;
    margin-bottom: 15px;
}

.ins__new__price {
    background-image: linear-gradient(to right, purple, orange 99%);
    padding: 15px;
    border-radius: 15px 15px 0 0;
}

label {
    color: white;
}

.each__ins__new__price {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

input[type='number'], input[type='datetime-local'], input[type='text'] {
    padding: 15px;
    border-radius: 5px;
}

input[type='submit']{
    padding: 15px;
    border-radius: 15px;
    
}