* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

table {
    width: 100%;
}

td, th {
    color: white;
    border-bottom: 1px solid white;
    width: fit-content;
}