* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

table {
    width: 100%;
    border: 1px solid white;
}

tr {
    border-bottom: 1px solid white;
}

td, th {
    color: white;
}