* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

.content__price__editor__page {
    width: 90%;
    margin: 0 auto;
    padding: 15px;
}

table {
    width: fit-content;
    margin: 0 auto;
    border-collapse: collapse;
}

td, th {
    color: white;
    border-bottom: 1px solid white;
    width: fit-content;
    padding: 15px 35px;
}