.header__room__page {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
    background-image: linear-gradient(to right, purple, orange);
    align-items: center;
}