.header__room__page {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
    background-image: linear-gradient(to right, purple, orange);
    align-items: center;
}

.title__room__page{
    color: white;
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.title__room__page h3 {
    font-size: 32px;
    font-weight: lighter;
    margin-bottom: 30px;
}

.show__all__room {
    width: 75%;
    margin: 15px auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

tr {
    border: 1px solid black;
}

th, td {
    border: 1px solid black;
    padding: 15px 5px;
}

.msg__delete__room__by__code__success {
    padding: 15px;
    width: 100%;
    background-color: blue;
}

.msg__delete__room__by__code__success p {
    color: white;
    font-size: 22px;
}