.header__room__page {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
    background-image: linear-gradient(to right, purple, orange);
    align-items: center;
}

.title__room__page{
    color: white;
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.title__room__page h3 {
    font-size: 32px;
    font-weight: lighter;
    margin-bottom: 30px;
}