* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

.title__service__editor__page {
    color: white;
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-image: linear-gradient(to right, purple, orange);
}

.title__service__editor__page h3 {
    font-size: 32px;
    font-weight: lighter;
    margin-bottom: 30px;
}