* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

.title__service__editor__page {
    color: white;
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 15px;
    background-image: linear-gradient(to right, purple, orange);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title__service__editor__page h3 {
    font-size: 32px;
    font-weight: lighter;
    margin-bottom: 30px;
}

.btn__option__service {
    width: 25%;
    display: flex;
    justify-content: space-between;
}