* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

.header__option__payments__methods {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
    background-image: linear-gradient(to right, purple, orange);
    align-items: center;
}