* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

.show__all__service {
    width: 95%;
    margin: 15px auto;
    display: flex;
    justify-content: space-between;
}

.show__default__service, .show__option__service {
    width: 45%;
    background-color: black;
    border-radius: 5px;
    padding: 15px;
}

table {
    width: 100%;
}