<link rel="stylesheet" href="{{url_for('SU_bp.static', filename = 'css/sign_up.css')}}">
<div class="sign__up__page">
    <div class="sign__up__page__inner">
        <form method="post">
            <p id="login__title">Sign up</p>
            <div class="sign__up__input">
                <input type="text" name="username_signup" placeholder="Username">
                <div class="input__password__signup">
                    <input type="password" name="password_signup" placeholder="Password">
                    <input type="password" name="re_enter_signup" placeholder="Re-enter Password" class="re__enter__password__input">
                </div>
                <input type="text" name="gmail_signup" placeholder="Gmail">
                <input type="tel" name="tel_signup" placeholder="Telephone Number">
                <div class="gender__terms__input">
                    <div>
                        <label>Giới tính:</label>
                        <select name="gender_signup">
                            <option value="men">Nam</option>
                            <option value="woman">Nữ</option>
                            <option value="other">Khác</option>
                        </select>
                    </div>
                    <div class="input__terms__condition">
                        <input type="checkbox">
                        <p>Đồng ý với <a href="#">điều khoản và chính sách</a></p>
                    </div>
                </div>
            </div>
            <div class="sign__up__btn">
                <input type="submit" name="submit_sign__up" value="Sign up">
                <a href="{{url_for('Login_bp.login_account')}}" class="link__login__page">Log in</a>
            </div>
        </form>
    </div>
    <div class="option__link__support">
        <a href="{{url_for('HP_bp.homepage_page')}}">Homepage</a>
        <a href="#">Help</a>
        <p>Version 1.0</p>
    </div>
</div>