<link rel="stylesheet" href="{{url_for('SU_bp.static', filename = 'css/sign_up.css')}}">
<div class="sign__up__page">
    <div class="sign__up__page__inner">
        <form method="post">
            <p id="login__title">Đăng ký</p>
            <div class="sign__up__input">
                <input type="text" name="username_signup" placeholder="Tên đăng nhập">
                <input type="text" name="name_signup" placeholder="Tên hiển thị">
                <div class="input__password__signup">
                    <input type="password" name="password_signup" placeholder="Mật khẩu">
                    <input type="password" name="re_enter_signup" placeholder="Nhập lại mật khẩu" class="re__enter__password__input">
                </div>
                <input type="text" name="gmail_signup" placeholder="Gmail">
                <input type="tel" name="tel_signup" placeholder="Số điện thoại">
                <div class="gender__terms__input">
                    <div>
                        <label>Giới tính:</label>
                        <select name="gender_signup">
                            <option value="men">Nam</option>
                            <option value="woman">Nữ</option>
                            <option value="other">Khác</option>
                        </select>
                    </div>
                    <div class="input__terms__condition">
                        <input type="checkbox">
                        <p>Đồng ý với <a href="#">điều khoản và chính sách</a></p>
                    </div>
                </div>
            </div>
            <div class="sign__up__btn">
                <input type="submit" name="submit_sign__up" value="Đăng ký">
                <a href="{{url_for('Login_bp.login_account')}}" class="link__login__page">Đăng nhập</a>
            </div>
        </form>
    </div>
    <div class="option__link__support">
        <a href="{{url_for('HP_bp.homepage_page')}}">Trang chủ</a>
        <a href="#">Giúp đỡ</a>
        <p>Phiên bản 1.0</p>
    </div>
</div>
{% if err_dict is defined %}
    <div class="error__part">
        <div class="error__part__inner">
            <ul>
            </ul>
        </div>
    </div>
{% endif %}

{% if ins_success is defined %}
    <div class="noti__insert__success">
        <div class="insert__success__inner">
            <p>Create new account success</p>
        </div>
    </div>
{% endif %}

{% if ins_fail is defined %}
    <div class="noti__insert__fail">
        <div class="insert__fail__inner">
            <p>Create new account success</p>
        </div>
    </div>
{% endif %}