<link rel="stylesheet" href="{{url_for('Login_bp.static', filename = 'css/login_account.css')}}">
<div class="sign__up__page">
    <div class="sign__up__page__inner">
        <form method="post">
            <p id="login__title">Login</p>
            <div class="sign__up__input">
                <input type="text" name="username_login" placeholder="Username">
                <input type="password" name="password_login" placeholder="Password">
            </div>
            <div class="sign__up__btn">
                <input type="submit" name="submit_sign__up" value="Login">
                <a href="#" class="link__login__page">Sign up</a>
            </div>
            <div class="forgot__password__part">
                <a href="#" class="link__to__forgot__password">Forgot Password</a>
            </div>
        </form>
    </div>
    <div class="option__link__support">
        <a href="{{url_for('HP_bp.homepage_page')}}">Homepage</a>
        <a href="#">Help</a>
        <p>Version 1.0</p>
    </div>
</div>