<link rel="stylesheet" href="{{url_for('SU_bp.static', filename = 'css/sign_up.css')}}">
<div class="sign__up__page">
    <div class="sign__up__page__inner">
        <form method="post">
            <p id="login__title">Sign up</p>
            <div class="sign__up__input">
                <input type="text" name="username_signup" placeholder="Username">
                <div class="input__password__signup">
                    <input type="password" name="password_signup" placeholder="Password"><br>
                    <input type="password" name="re_enter_signuo" placeholder="Re-enter Password">
                </div>
                <input type="text" name="gmail_signup" placeholder="Gmail">
            </div>
            <div class="sign__up__btn">
                <input type="submit" name="submit_sign__up" value="Sign up">
                <a href="{{url_for('Login_bp.login_account')}}" class="link__login__page">Log in</a>
            </div>
        </form>
    </div>
    <div class="option__link__support">
        <a href="{{url_for('HP_bp.homepage_page')}}">Homepage</a>
        <a href="#">Help</a>
        <p>Version 1.0</p>
    </div>
</div>