{% if update_verify_gmail_success is defined %}
    <p>{{update_verify_gmail_success}}. Trở về homepage để đăng nhập <a href="#">Trang chủ</a></p>
{% endif %}

{% if update_verify_gmail_fail is defined %}
    <p>{{update_verify_gmail_fail}}. Liên hệ admin để được hỗ trợ</p>
{% endif %}